/* font vars */
/* font sizes. based on 14px/87.5% default font size */
/* color vars */
/* backgrounds/borders */
/* fonts */
/* box sizing */
/* ============================================================================= Reset ========================================================================== */
.panel-pane .block-inner { margin: 0; }

/* ============================================================================= Messages ========================================================================== */
body #page div.messages { padding: 10px 10px 10px 50px; }

/* ============================================================================= Breadcrumbs ========================================================================== */
.breadcrumb { margin-bottom: 0.6em; }

.landing-breadcrumb { padding-left: 2px; }
.landing-breadcrumb p { margin: 0; }
.landing-breadcrumb a { background: url(../images/landing-breadcrumb-arrow.png) 0 50% no-repeat; color: #474747; padding-left: 15px; }
.landing-breadcrumb a span { font-family: "NeoSans-Medium", Arial, sans-serif; }

/* ============================================================================= Green Sign up block ========================================================================== */
.signup-block { background: #8dc63f url(../images/footer-signup.png) 0px 100% no-repeat; color: white; font-family: "NeoSans-Medium", Arial, sans-serif; overflow: hidden; padding-left: 136px; position: relative; }
.signup-block.animate { background-position: -125px 100%; }
.signup-block.animate .signup-button a { bottom: -40px; }
.signup-block.animate .signup-description { display: none; }
.signup-block .signup-title { font-size: 1.5em; margin-bottom: 5px; }
.signup-block .signup-close-btn a { background: url(../images/signup-close.png) 0 0 no-repeat; text-indent: -9999px; height: 19px; width: 19px; position: absolute; top: 3px; right: 5px; outline: none; }
.signup-block .signup-button a { background: url(../images/btn-signup.png) 0 0 no-repeat; color: white; font: 1.143em "NeoSans-Regular", Arial, sans-serif; height: 34px; width: 108px; position: absolute; bottom: 10px; right: 20px; line-height: 32px; text-align: center; }
.signup-block .signup-button a:hover { background-position: 0 -34px; text-decoration: none; }

/* ============================================================================= Meet the Experts link ========================================================================== */
.hp-meet-experts, .topic-meet-experts { background-color: #8dc63f; float: left; margin-bottom: 15px; padding-bottom: 5px; text-align: center; }
.hp-meet-experts p, .topic-meet-experts p { margin: 0; }
.hp-meet-experts a, .topic-meet-experts a { color: white; font-size: 1.714em; display: block; line-height: 22px; text-transform: uppercase; }
.hp-meet-experts a:before, .topic-meet-experts a:before { content: '\e00d'; /* meet the experts */ font-family: "icomoon"; display: block; padding: 8px; text-align: center; }
.hp-meet-experts a:hover, .topic-meet-experts a:hover { text-decoration: none; }
.hp-meet-experts a span, .topic-meet-experts a span { font-family: "NeoSans-Bold", Arial, sans-serif; }

/* ============================================================================= Monthly Poll ========================================================================== */
.pane-polls { float: left; padding: 8px 10px 0; margin-bottom: 0; height: 233px; width: 188px; border: 2px solid #ededed; color: #4d4d4f; }
.pane-polls .pane-title { background: url(../images/poll-icon.png) 100% 50% no-repeat; border-bottom: 1px solid #33a4b9; margin-bottom: 2px; padding-bottom: 4px; color: #008da8; font: 0.857em "NeoSans-Medium", Arial, sans-serif; line-height: 18px; }
.pane-polls .pollfield-title { font: 0.857em "NeoSans-Medium", Arial, sans-serif; line-height: 14px; margin-bottom: 5px; }
.pane-polls .form-item.form-item-choice { margin-left: 2px; }
.pane-polls .form-item label { font-size: 12px; font-weight: normal; }
.pane-polls .form-submit { background: #faca4b; border: none; color: white; font: 1.143em "NeoSans-Regular", Arial, sans-serif; margin-bottom: 5px; margin-right: 4px; padding: 5px 9px; }
.pane-polls .poll-view-results, .pane-polls .poll-back { color: #8dc63f; font: 0.857em "NeoSans-Bold", Arial, sans-serif; }
.pane-polls .pollfield-row { display: none; margin-bottom: 5px; }
.pane-polls .pollfield-row.pollfield-chosen { font-style: normal; font-weight: normal; }
.pane-polls .pollfield-row .text { display: block; text-align: left; font-size: 0.857em; line-height: 1em; margin: 3px 0; min-width: 13em; }
.pane-polls .pollfield-row .barcell { display: block; width: 95px; }
.pane-polls .pollfield-row .barcell .bar { width: 185px; }
.pane-polls .pollfield-row .pollfield-percent { color: #008da8; font-size: 0.714em; padding-bottom: 17px; min-width: 95px; }
.pane-polls .poll-back { display: none; }

/* ============================================================================= Custom scroll bar ========================================================================== */
.nano { position: relative; width: 100%; height: 100%; overflow: hidden; }
.nano .content { position: absolute; overflow-x: hidden; top: 0; right: 0; bottom: 0; left: 0; }
.nano .content:focus { outline: thin dotted; }
.nano .content::-webkit-scrollbar { visibility: hidden; }
.nano > .pane { background: rgba(0, 0, 0, 0.25); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000); /* IE6 & 7 */ zoom: 1; position: absolute; width: 10px; right: 0; top: 0; bottom: 0; visibility: hidden\9; /* Target only IE7 and IE8 with this hack */ opacity: .01; -webkit-transition: .2s; -moz-transition: .2s; -o-transition: .2s; transition: .2s; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.nano > .pane:nth-child(n) { filter: none; }
.nano > .pane > .slider { background: #444; background: rgba(0, 0, 0, 0.5); position: relative; margin: 0 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; behavior: url(/profiles/ra/themes/custom/ra_theme/js/pie/PIE.htc); }
.nano:hover > .pane, .nano .pane.active, .nano .pane.flashed { visibility: visible\9; /* Target only IE7 and IE8 with this hack */ opacity: 0.99; }

.has-scrollbar .content::-webkit-scrollbar { visibility: visible; }

/* ============================================================================= Footer ========================================================================== */
#footer { color: white; }
#footer ul { margin: 0; padding: 0; }
#footer li { list-style: none; }
#footer p { margin: 0; }
#footer a { color: white; }
#footer .panels-flexible-region-inside { padding: 0; }
#footer .block, #footer .block-inner { margin: 0; }
#footer #mini-panel-footer_menus .region-two-66-33-first { background-color: #828285; max-height: 111px; width: 510px; padding: 10px 0 10px 20px; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-footer-menu { width: 20%; float: left; margin-top: 5px; margin-right: 5%; font-size: 0.714em; text-transform: uppercase; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-footer-menu ul li { margin-bottom: 5px; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-topics-menu { float: left; width: 45%; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-topics-menu li { float: left; width: 50%; line-height: 1; padding-bottom: 6px; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-topics-menu li a { font: 10px "NeoSans-Regular", Arial, sans-serif; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links { float: left; width: 30%; text-align: center; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links h2 { font: 0.857em "NeoSans-Regular", Arial, sans-serif; text-transform: uppercase; margin-bottom: 5px; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links li { float: left; width: 33%; text-align: center; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links li a:after { font-family: "FontAwesome"; color: #f3f3f7; display: block; font-size: 2em; position: relative; text-align: center; top: -1em; text-indent: 0; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links li a:hover { text-decoration: none; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links li a:hover:after { color: #faca4b; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links li a { display: block; text-indent: -9999px; overflow: hidden; height: 2em; position: relative; width: 3em; z-index: 1; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links li.first a:after { content: "\f09a"; /* facebook icon */ }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links li.menu-item-1227 a:after { content: "\f099"; /* twitter icon */ }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links li.last a:after { font-family: "icons-extra"; content: "\f30e"; /* youtube icon */ }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-copyright-menu { background: url(../images/footer-logo.png) 0 50% no-repeat; clear: both; float: left; padding-left: 100px; margin-top: 6px; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-copyright-menu li { float: left; padding-right: 5px !important; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-copyright-menu li:after { content: "|"; padding-left: 5px !important; }
#footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-copyright-menu li a { font: 10px "NeoSans-Regular", Arial, sans-serif; }
#footer #mini-panel-footer_menus .region-two-66-33-first #copyright { float: left; font: 10px "NeoSans-Regular", Arial, sans-serif; padding-top: 12px; }
#footer #mini-panel-footer_menus .region-two-66-33-second { background: #8dc63f url(../images/footer-signup.png) 0 0 no-repeat; height: 131px; padding-left: 136px; position: relative; }
#footer #mini-panel-footer_menus .region-two-66-33-second .sign-up-info { margin-top: 10px; }
#footer #mini-panel-footer_menus .region-two-66-33-second .sign-up-info h2 { font: 1.286em "NeoSans-Medium", Arial, sans-serif; margin-bottom: 5px; }
#footer #mini-panel-footer_menus .region-two-66-33-second .sign-up-info .block-content { font: 1em "NeoSans-Medium", Arial, sans-serif; }
#footer #mini-panel-footer_menus .region-two-66-33-second .sign-up-info .block-content li { list-style: inside disc; }
#footer #mini-panel-footer_menus .region-two-66-33-second .sign-up-info .signup-button { background: url(../images/btn-signup.png) 0 0 no-repeat; height: 34px; width: 108px; position: absolute; bottom: 10px; right: 25px; font: 1.143em "NeoSans-Regular", Arial, sans-serif; line-height: 32px; text-align: center; }
#footer #mini-panel-footer_menus .region-two-66-33-second .sign-up-info .signup-button:hover { background-position: 0 -34px; text-decoration: none; }

/* ============================================================================= Article Tiles ========================================================================== */
.view-articles .views-row { color: white; float: left; margin-right: 17px; margin-bottom: 17px; min-height: 203px; position: relative; }
.view-articles .views-row .views-field-field-image img { display: block; }
.view-articles .views-row .blue-corner { background: url(../images/article-badge-corner.png) 0 0 no-repeat; height: 64px; width: 84px; padding: 3px 3px 0 0; position: absolute; top: 0; right: 0; }
.view-articles .views-row .blue-corner .views-field-name { float: right; font: 10px "NeoSans-Medium", Arial, sans-serif; letter-spacing: -0.3px; text-align: right; width: 88%; }
.view-articles .views-row .blue-corner .views-field-name.diet-exercise-vc { background: url(../images/diet-m-ico.png) 100% 100% no-repeat; background-size: 15px 15px; padding-bottom: 15px; margin-right: -3px; }
.view-articles .views-row .blue-corner .views-field-name.diet-exercise-vc .field-content { margin-right: 3px; }
.view-articles .views-row .blue-corner .views-field-field-icon { text-align: right; clear: both; }
.view-articles .views-row .blue-corner .views-field-field-icon.topic-2 { margin-right: -3px; }
.view-articles .views-row .blue-corner .views-field-field-icon img { width: 15px; }
.view-articles .views-row .overlay { background-color: rgba(0, 0, 0, 0.4); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000); /* IE6 & 7 */ zoom: 1; position: absolute; bottom: 0; width: 100%; }
.view-articles .views-row .overlay:nth-child(n) { filter: none; }
.view-articles .views-row .overlay .views-field-title { font: 16px "NeoSans-Medium", Arial, sans-serif; padding: 5px 10px; }
.view-articles .views-row .overlay .views-field-title a { color: white; }
.view-articles .views-row .overlay .overlay-dark { background: rgba(0, 0, 0, 0.35); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000); /* IE6 & 7 */ zoom: 1; height: 16px; padding-left: 10px; overflow: hidden; }
.view-articles .views-row .overlay .overlay-dark:nth-child(n) { filter: none; }
.view-articles .views-row .overlay .overlay-dark .views-field-field-expert { float: left; font: 0.571em "NeoSans-Medium", Arial, sans-serif; margin-top: 2px; }
.view-articles .views-row .overlay .overlay-dark .views-field-value { float: right; }
.view-articles .views-row .overlay .overlay-dark .views-field-value .rate-count { float: left; padding-top: 3px; font: 0.571em "NeoSans-Medium", Arial, sans-serif; }
.view-articles .views-row .overlay .overlay-dark .views-field-value .rate-wrapper { background: rgba(0, 0, 0, 0.65); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000); /* IE6 & 7 */ zoom: 1; float: right; padding: 2px 5px 3px; margin-left: 5px; line-height: 8px; }
.view-articles .views-row .overlay .overlay-dark .views-field-value .rate-wrapper:nth-child(n) { filter: none; }
.view-articles .views-row .overlay .overlay-dark .views-field-value .rate-wrapper a { background: url(../images/rate-icon.png) 100% 0 no-repeat; padding-right: 14px; color: white; font: 0.571em "NeoSans-Medium", Arial, sans-serif; }
.view-articles .views-row .overlay .overlay-dark .views-field-value .rate-wrapper a:hover { background-position: 100% -10px; text-decoration: none; }
.view-articles .views-row:hover .overlay { background: rgba(51, 164, 185, 0.79); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C933A4B9,endColorstr=#C933A4B9)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C933A4B9,endColorstr=#C933A4B9); /* IE6 & 7 */ zoom: 1; }
.view-articles .views-row:hover .overlay:nth-child(n) { filter: none; }
.view-articles .views-row:hover .overlay .overlay-dark { background: rgba(0, 0, 0, 0.35); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000); /* IE6 & 7 */ zoom: 1; }
.view-articles .views-row:hover .overlay .overlay-dark:nth-child(n) { filter: none; }
.view-articles .views-row:hover .overlay .overlay-dark .rate-wrapper { background: rgba(9, 9, 9, 0.65); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5090909,endColorstr=#A5090909)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5090909,endColorstr=#A5090909); /* IE6 & 7 */ zoom: 1; }
.view-articles .views-row:hover .overlay .overlay-dark .rate-wrapper:nth-child(n) { filter: none; }

/* ============================================================================= Recipe Tiles ========================================================================== */
.view-recipes { clear: both; width: 105%; }
.view-recipes .view-header { color: #3e9cae; padding-bottom: 10px; }
.view-recipes .view-header a { color: #3e9cae; font-weight: bold; }
.view-recipes .views-row { color: white; float: left; position: relative; width: 220px; height: 210px; margin-right: 10px; margin-bottom: 10px; }
.view-recipes .views-row .overlay { background-color: rgba(0, 0, 0, 0.4); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000); /* IE6 & 7 */ zoom: 1; position: absolute; bottom: 0; width: 100%; }
.view-recipes .views-row .overlay:nth-child(n) { filter: none; }
.view-recipes .views-row .overlay .views-field-title { background: none; font: 16px "NeoSans-Medium", Arial, sans-serif; padding: 5px 10px; position: relative; width: auto; }
.view-recipes .views-row .overlay .views-field-title a { color: white; }
.view-recipes .views-row .overlay .overlay-dark { background: rgba(0, 0, 0, 0.35); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000); /* IE6 & 7 */ zoom: 1; height: 16px; padding-left: 10px; overflow: hidden; }
.view-recipes .views-row .overlay .overlay-dark:nth-child(n) { filter: none; }
.view-recipes .views-row .overlay .overlay-dark .views-field-field-expert { float: left; font: 0.571em "NeoSans-Medium", Arial, sans-serif; margin-top: 2px; }
.view-recipes .views-row .overlay .overlay-dark .views-field-value { float: right; }
.view-recipes .views-row .overlay .overlay-dark .views-field-value .rate-count { float: left; padding-top: 3px; font: 0.571em "NeoSans-Medium", Arial, sans-serif; }
.view-recipes .views-row .overlay .overlay-dark .views-field-value .rate-wrapper { background: rgba(0, 0, 0, 0.65); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000); /* IE6 & 7 */ zoom: 1; float: right; padding: 2px 5px 3px; margin-left: 5px; line-height: 8px; }
.view-recipes .views-row .overlay .overlay-dark .views-field-value .rate-wrapper:nth-child(n) { filter: none; }
.view-recipes .views-row .overlay .overlay-dark .views-field-value .rate-wrapper a { background: url(../images/rate-icon.png) 100% 0 no-repeat; padding-right: 14px; color: white; font: 0.571em "NeoSans-Medium", Arial, sans-serif; }
.view-recipes .views-row .overlay .overlay-dark .views-field-value .rate-wrapper a:hover { background-position: 100% -10px; text-decoration: none; }

/* ============================================================================= Expert Tiles ========================================================================== */
.page-meet-the-experts #main-content { margin: 0; }

.view-experts { overflow: hidden; width: 105%; }
.view-experts .views-row { position: relative; color: white; float: left; margin-right: 20px; margin-bottom: 19px; height: 204px; width: 235px; overflow: hidden; }
.view-experts .views-row.views-row-0 { background: #ffc425 url(../images/experts-icon.png) 50% 25px no-repeat; color: white; font: 48px/48px "NeoSans-Light", Arial, sans-serif; height: 110px; padding-top: 94px; text-align: center; }
.view-experts .views-row.views-row-0 span { font-family: "NeoSans-Medium", Arial, sans-serif; }
.view-experts .views-row.views-row-0 img { display: none; }
.view-experts .views-row .views-field-field-image img { display: block; }
.view-experts .views-row .views-field-nothing { position: absolute; bottom: 0; background-color: rgba(37, 39, 38, 0.8); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC252726,endColorstr=#CC252726)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC252726,endColorstr=#CC252726); /* IE6 & 7 */ zoom: 1; padding-bottom: 5px; width: 100%; }
.view-experts .views-row .views-field-nothing:nth-child(n) { filter: none; }
.view-experts .views-row .expert-overlay { background: url(../images/expert-col.png) 100% 0 no-repeat; }
.view-experts .views-row .expert-overlay.notouch:hover, .view-experts .views-row .expert-overlay.hover { background-image: url(../images/expert-exp.png); }
.view-experts .views-row .expert-overlay.notouch:hover .expert-expanded, .view-experts .views-row .expert-overlay.hover .expert-expanded { display: block; }
.view-experts .views-row .expert-overlay.notouch:hover .expert-collapsed, .view-experts .views-row .expert-overlay.hover .expert-collapsed { display: none; }
.view-experts .views-row .expert-overlay .views-field-title { font: 1.143em "NeoSans-Medium", Arial, sans-serif; line-height: 1; text-align: center; margin: 0 auto; padding: 5px 0; max-width: 78%; }
.view-experts .views-row .expert-overlay .expert-collapsed { font: 0.857em "NeoSans-Regular", Arial, sans-serif; line-height: 1; text-align: center; padding: 0 15px; }
.view-experts .views-row .expert-overlay .expert-expanded { display: none; padding: 0 10px; }
.view-experts .views-row .expert-overlay .expert-expanded .views-field { font-size: 12px; margin-left: 10px; text-transform: uppercase; }
.view-experts .views-row .expert-overlay .expert-expanded .views-field a { color: white; }
.view-experts .views-row .expert-overlay .expert-expanded .views-field .views-label { font-family: "NeoSans-Bold", Arial, sans-serif; }
.view-experts .views-row .expert-overlay .expert-expanded .expert-full-bio { background-color: #ffc425; margin-top: 5px; padding: 5px; text-align: center; }
.view-experts .views-row .expert-overlay .expert-expanded .expert-full-bio a { color: white; font: 15px "NeoSans-Medium", Arial, sans-serif; }

/* ============================================================================= Expert detailed ========================================================================== */
.node-type-expert #content .region-inner { padding: 0 5px; }
.node-type-expert .pane-experts { background-color: #8dc63f; float: left; width: 518px; }
.node-type-expert .pane-experts .block-content { padding: 13px 13px 13px 20px; }
.node-type-expert .pane-experts .nano { height: 287px; }
.node-type-expert .pane-experts .nano > .pane { background: none; }
.node-type-expert .pane-experts .nano > .pane.active .slider { background-color: white; }
.node-type-expert .pane-experts .view-display-id-expert_detailed { padding-right: 35px; overflow: auto; width: 482px; }
.node-type-expert .pane-experts .view-display-id-expert_detailed:focus { outline: none; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row { float: none; height: auto; margin: 0; overflow: visible; width: auto; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-label { font: 13pt "NeoSans-Bold", Arial, sans-serif; text-transform: uppercase; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field { background: url(../images/expert-bio-separator.png) 0 100% repeat-x; padding: 10px 0; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field a { color: white; text-decoration: underline; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field a:hover { text-decoration: none; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-title { font: 36px "NeoSans-Bold", Arial, sans-serif; padding-top: 0; text-transform: uppercase; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-raconnection .views-label, .node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-occupation .views-label, .node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-location .views-label { padding: 4px 0; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-raconnection .views-label:before, .node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-occupation .views-label:before, .node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-location .views-label:before { font-family: 'icomoon'; margin: 0 10px 0 2px; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-raconnection .field-content, .node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-occupation .field-content, .node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-location .field-content { font-size: 13pt; text-transform: uppercase; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-raconnection .views-label:before { content: "\e013"; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-occupation .views-label:before { content: "\e014"; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-field-expert-location .views-label:before { content: "\e015"; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-body { background: none; font: 13px "NeoSans", Arial, sans-serif; height: 120px; padding: 0; margin-top: 21px; }
.node-type-expert .pane-experts .view-display-id-expert_detailed .views-row .views-field-body p { margin-bottom: 10px; }
.node-type-expert .panel-pane.title-video-exp-wrapp { margin-bottom: 30px; }
.node-type-expert .panel-pane.title-video-exp-wrapp .block { margin-bottom: 0; }
.node-type-expert .pane-node-field-expert-video { float: right; }
.node-type-expert .pane-node-field-expert-video iframe { display: block; width: 456px; height: 313px; }
.node-type-expert .pane-articles { clear: both; }

/* ============================================================================= Article detailed ========================================================================== */
.node-type-article .pane-sign-up { width: 100%; }
.node-type-article .pane-sign-up .signup-block.article-banner { background-image: url(../images/article-signup.png); height: 250px; padding: 50px 0 0 375px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px; border-radius: 0px 0px 10px 10px; behavior: url(/profiles/ra/themes/custom/ra_theme/js/pie/PIE.htc); -webkit-box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.54); -moz-box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.54); box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.54); }
.node-type-article .pane-sign-up .signup-block.article-banner.animate { background-position: -260px 0; }
.node-type-article .pane-sign-up .signup-block.article-banner .signup-title { font-size: 2.571em; }
.node-type-article .pane-sign-up .signup-block.article-banner .signup-description { font: 1.714em "NeoSans-Regular", Arial, sans-serif; }
.node-type-article .pane-sign-up .signup-block.article-banner .signup-button a { right: 100px; }
.node-type-article .view-display-id-article_detailed .views-row { float: none; margin: 0; min-height: 150px; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-title { background-color: #ffc425; border: 1px solid #8dc63f; margin-right: 192px; padding: 8px 50px 10px 50px; min-height: 130px; font: 48px "NeoSans-Bold", Arial, sans-serif; line-height: 65px; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-image-3 { background: url(../images/expert-default.png) 50% 50% no-repeat; float: right; height: 150px; width: 192px; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-image-3 img { display: block; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-expert { height: 30px; width: 192px; position: absolute; bottom: 0; right: 0; text-align: center; background-color: rgba(0, 0, 0, 0.6); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); /* IE6 & 7 */ zoom: 1; font: 15px "NeoSans-Italic", Arial, sans-serif; line-height: 33px; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-expert:nth-child(n) { filter: none; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-expert a { color: white; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-icon { position: absolute; background: url(../images/blue-corner-left.png) 0 0 no-repeat; height: 48px; width: 48px; padding: 3px 0 0 3px; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-icon img { max-width: 22px; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-icon.topic-6 img { max-width: 20px; }
.node-type-article .view-display-id-article_detailed .views-row .views-field-field-icon.topic-2 img { -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; margin-left: -3px; }
.node-type-article .pane-node-field-image-original img { display: block; border: 1px solid #8dc63f; }
.node-type-article .pane-node-field-article-body { float: left; width: 616px; color: #474747; }
.node-type-article .pane-node-field-article-body h2, .node-type-article .views-field-field-article-bottom-teaser h2 { color: #48abbe; margin: 0; }
.node-type-article .pane-node-field-article-body blockquote, .node-type-article .views-field-field-article-bottom-teaser blockquote { border: 1px solid #48abbe; margin: 0; padding: 20px 20px 0 20px; margin-bottom: 1.5em; }
.node-type-article .pane-node-field-article-body a, .node-type-article .views-field-field-article-bottom-teaser a { color: #48abbe; text-decoration: underline; }
.node-type-article .pane-node-field-article-body a:hover, .node-type-article .views-field-field-article-bottom-teaser a:hover { text-decoration: none; }
.node-type-article .pane-node-field-article-body ul, .node-type-article .pane-node-field-article-body ol, .node-type-article .views-field-field-article-bottom-teaser ul, .node-type-article .views-field-field-article-bottom-teaser ol { list-style-position: inside; }
.node-type-article .pane-node-field-article-body ul li, .node-type-article .pane-node-field-article-body ol li, .node-type-article .views-field-field-article-bottom-teaser ul li, .node-type-article .views-field-field-article-bottom-teaser ol li { margin-bottom: 5px; }
.node-type-article .pane-node-field-article-body ol, .node-type-article .views-field-field-article-bottom-teaser ol { padding-left: 20px; }
.node-type-article .pane-node-field-article-body ol > li, .node-type-article .views-field-field-article-bottom-teaser ol > li { display: block; }
.node-type-article .pane-node-field-article-body ol > li:before, .node-type-article .views-field-field-article-bottom-teaser ol > li:before { content: "1. "; color: #48abbe; font-weight: bold; margin-left: -20px; margin-right: 5px; }
.node-type-article .pane-node-field-article-body ol > li[value]:before, .node-type-article .views-field-field-article-bottom-teaser ol > li[value]:before { content: attr(value) ". "; }
.node-type-article .pane-node-field-article-body ul, .node-type-article .views-field-field-article-bottom-teaser ul { padding-left: 15px; }
.node-type-article .pane-node-field-article-body ul li, .node-type-article .views-field-field-article-bottom-teaser ul li { list-style: none; }
.node-type-article .pane-node-field-article-body ul li:before, .node-type-article .views-field-field-article-bottom-teaser ul li:before { content: '\2022'; /* round bullet */ color: #48abbe; margin-left: -15px; padding-right: 10px; }
.node-type-article .pane-node-field-article-body table, .node-type-article .views-field-field-article-bottom-teaser table { border: 5px solid #80bd01; border-top: none; }
.node-type-article .pane-node-field-article-body table thead tr, .node-type-article .views-field-field-article-bottom-teaser table thead tr { background-color: #80bd01; color: white; }
.node-type-article .pane-node-field-article-body table thead tr th, .node-type-article .views-field-field-article-bottom-teaser table thead tr th { border: none; border-right: 2px solid #999999; padding: 15px; }
.node-type-article .pane-node-field-article-body table tr, .node-type-article .views-field-field-article-bottom-teaser table tr { border: none; }
.node-type-article .pane-node-field-article-body table tr:nth-child(2n+2), .node-type-article .views-field-field-article-bottom-teaser table tr:nth-child(2n+2) { background-color: #e5e5e5; }
.node-type-article .pane-node-field-article-body table tr td, .node-type-article .views-field-field-article-bottom-teaser table tr td { border: none; border-right: 2px solid #999999; padding: 15px; }
.node-type-article .pane-node-field-article-body table ul li:before, .node-type-article .views-field-field-article-bottom-teaser table ul li:before { color: #80bd01; }
.node-type-article .related-articles { float: right; }
.node-type-article .related-articles .pane-title { background-color: #48abbe; color: white; font: 16px "NeoSans-Bold", Arial, sans-serif; text-align: center; margin-bottom: 15px; padding: 8px 0; }
.node-type-article .related-articles .views-row { float: none; margin-bottom: 15px; margin-right: 0; width: 252px; }
.node-type-article .article-joints { background-color: #f3f3f3; border: 2px solid #ffc425; padding: 30px; }
.node-type-article .article-joints .views-row { margin: 0; }
.node-type-article .article-joints .views-field-field-article-teaser, .node-type-article .article-joints .views-field-field-article-bottom-teaser { color: #666666; font: 1.429em "NeoSans-Medium", Arial, sans-serif; margin-bottom: 20px; }
.node-type-article .article-joints .views-field-field-article-bottom-teaser { margin-bottom: 0; }
.node-type-article .article-joints .views-field-nothing { background-color: #ffc425; font-family: "NeoSans-Medium", Arial, sans-serif; padding: 13px 25px 13px 20px; margin-bottom: 8px; overflow: hidden; }
.node-type-article .article-joints .views-field-nothing .slide-title { font-size: 1.857em; line-height: 25px; }
.node-type-article .article-joints .views-field-nothing .numpager { float: right; font-size: 1.286em; line-height: 28px; }
.node-type-article .article-joints .views-field-field-article-body { background-color: #48abbe; font: 1.143em "NeoSans-Bold", Arial, sans-serif; padding-right: 35px; margin-bottom: 20px; overflow: hidden; }
.node-type-article .article-joints .views-field-field-article-body .flexslider { background: none; border: none; border-radius: 0; max-height: 468px; }
.node-type-article .article-joints .views-field-field-article-body .flexslider ul.slides { margin: 0; padding: 0; }
.node-type-article .article-joints .views-field-field-article-body .flexslider ul.slides p, .node-type-article .article-joints .views-field-field-article-body .flexslider ul.slides li { margin: 0; }
.node-type-article .article-joints .views-field-field-article-body .flexslider ul.slides p { padding-left: 30px; margin-bottom: 10px; }
.node-type-article .article-joints .views-field-field-article-body .flexslider ul.slides img { border-right: 8px solid #f3f3f3; display: block; margin-left: -30px; margin-right: 15px; }
.node-type-article .article-joints .views-field-field-article-body .flexslider ul.slides h2 { display: none; }
.node-type-article .article-joints .views-field-field-article-body .flexslider ul.slides ul { list-style: disc outside; overflow: hidden; margin-bottom: 15px; padding-left: 15px; }
.node-type-article .article-joints .views-field-field-article-body .flexslider ul.slides ul li { margin-bottom: 15px; }
.node-type-article .article-joints .views-field-field-article-body .flexslider .flex-direction-nav li a { height: 91px; margin-top: -45px; width: 27px; }
.node-type-article .article-joints .views-field-field-article-body .flexslider .flex-direction-nav li a.flex-prev { background: url(../images/joints-slider-nav.png) 0 0 no-repeat; left: 10px; }
.node-type-article .article-joints .views-field-field-article-body .flexslider .flex-direction-nav li a.flex-next { background: url(../images/joints-slider-nav.png) -27px 0 no-repeat; right: -25px; }
.node-type-article .article-joints .views-field-field-article-body .flexslider .flex-bottom-nav li a { bottom: 0; color: white; font-family: "NeoSans-Medium", Arial, sans-serif; height: auto; padding: 7px 20px; text-indent: 0; top: auto; width: auto; }
.node-type-article .article-joints .views-field-field-article-body .flexslider .flex-bottom-nav li a.flex-prev { background-image: none; background-color: rgba(255, 255, 255, 0.3); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF); /* IE6 & 7 */ zoom: 1; left: 0; }
.node-type-article .article-joints .views-field-field-article-body .flexslider .flex-bottom-nav li a.flex-prev:nth-child(n) { filter: none; }
.node-type-article .article-joints .views-field-field-article-body .flexslider .flex-bottom-nav li a.flex-next { background-image: none; background-color: rgba(255, 255, 255, 0.3); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF); /* IE6 & 7 */ zoom: 1; right: -35px; }
.node-type-article .article-joints .views-field-field-article-body .flexslider .flex-bottom-nav li a.flex-next:nth-child(n) { filter: none; }
.node-type-article .related-articles-joints { float: none; }
.node-type-article .related-articles-joints .pane-title { padding-left: 10px; text-align: left; }
.node-type-article .related-articles-joints .views-row { float: left; margin-right: 20px; width: 289px; }
.node-type-article .related-articles-joints .views-row.views-row-3 { margin-right: 0; }
.node-type-article .pane-ra-alters-ra-alters-social-links { clear: both; }

/* ============================================================================= Recipe detailed ========================================================================== */
.node-type-recipe { /* first column */ /* second column */ }
.node-type-recipe .block-inner { margin: 0; }
.node-type-recipe .two-50 .region-two-50-first { width: 467px; }
.node-type-recipe .two-50 .region-two-50-first ul, .node-type-recipe .two-50 .region-two-50-first ol { list-style-position: inside; }
.node-type-recipe .two-50 .region-two-50-first ul li, .node-type-recipe .two-50 .region-two-50-first ol li { margin-bottom: 5px; }
.node-type-recipe .two-50 .region-two-50-first ol { counter-reset: item; padding-left: 20px; }
.node-type-recipe .two-50 .region-two-50-first ol > li { display: block; }
.node-type-recipe .two-50 .region-two-50-first ol > li:before { content: counter(item) ". "; counter-increment: item; color: #48abbe; font-weight: bold; margin-left: -20px; margin-right: 5px; }
.node-type-recipe .two-50 .region-two-50-first ul { padding-left: 15px; }
.node-type-recipe .two-50 .region-two-50-first ul li { list-style: none; }
.node-type-recipe .two-50 .region-two-50-first ul li:before { content: '\2022'; /* round bullet */ color: #48abbe; margin-left: -15px; padding-right: 10px; }
.node-type-recipe .pane-node-title { background-color: #8dc63f; height: 64px; margin-bottom: 3px; color: white; font: 20px "NeoSans-Medium", Arial, sans-serif; }
.node-type-recipe .pane-node-title .block-inner { padding: 0 10px; }
.node-type-recipe .pane-node-title .block-content { display: table-cell; height: 64px; vertical-align: middle; }
.node-type-recipe .pane-node-field-recipe-servings { background-color: #48abbe; border-left: 3px solid white; float: right; height: 48px; width: 71px; padding: 8px 0; margin-bottom: 3px; color: white; font-family: "NeoSans", Arial, sans-serif; text-align: center; }
.node-type-recipe .pane-node-field-recipe-servings .pane-title { font-size: 12px; }
.node-type-recipe .pane-node-field-recipe-servings .field-item { font-size: 20px; }
.node-type-recipe .pane-topics { background-color: #48abbe; clear: both; color: white; height: 29px; padding-left: 10px; margin-bottom: 6px; }
.node-type-recipe .pane-topics h2 { float: left; font: 12px "NeoSans-Medium", Arial, sans-serif; line-height: 30px; }
.node-type-recipe .pane-topics .views-row { float: left; font-size: 0.857em; line-height: 30px; margin-left: 10px; }
.node-type-recipe .pane-topics .views-row.views-row-3 { margin-top: 0; margin-left: 80px; }
.node-type-recipe .pane-topics .views-row .views-field-name { float: left; margin-right: 5px; }
.node-type-recipe .pane-topics .views-row .views-field-field-icon { float: left; }
.node-type-recipe .pane-topics .views-row .views-field-field-icon .field-content { line-height: 26px; vertical-align: middle; }
.node-type-recipe .pane-topics .views-row .views-field-field-icon .field-content img { display: inline; vertical-align: middle; }
.node-type-recipe .pane-node-field-recipe-ingredients { clear: both; border: 2px #48abbe solid; padding: 20px; color: #474747; }
.node-type-recipe .pane-node-field-recipe-ingredients .pane-title { font: 16px "NeoSans-Medium", Arial, sans-serif; margin-bottom: 15px; }
.node-type-recipe .pane-node-field-recipe-ingredients strong, .node-type-recipe .pane-node-field-recipe-ingredients a { color: #48abbe; }
.node-type-recipe .pane-node-field-recipe-ingredients a { text-decoration: underline; }
.node-type-recipe .pane-node-field-recipe-ingredients a:hover { text-decoration: none; }
.node-type-recipe .pane-node-field-recipe-ingredients .nano { height: 204px; }
.node-type-recipe .pane-node-field-recipe-ingredients .nano .field-name-field-recipe-ingredients { height: 225px; padding-right: 15px; }
.node-type-recipe .pane-node-field-recipe-directions { border: 2px #ffc425 solid; }
.node-type-recipe .pane-node-field-recipe-directions .pane-title { background-color: #ffc425; color: white; padding: 5px 20px; }
.node-type-recipe .pane-node-field-recipe-directions .block-content { color: #474747; padding: 20px; }
.node-type-recipe .pane-node-field-recipe-directions .block-content h2, .node-type-recipe .pane-node-field-recipe-directions .block-content h3, .node-type-recipe .pane-node-field-recipe-directions .block-content h4, .node-type-recipe .pane-node-field-recipe-directions .block-content a { color: #48abbe; }
.node-type-recipe .pane-node-field-recipe-directions .block-content a { text-decoration: underline; }
.node-type-recipe .pane-node-field-recipe-directions .block-content a:hover { text-decoration: none; }
.node-type-recipe .pane-node-field-recipe-directions .nano { height: 390px; }
.node-type-recipe .pane-node-field-recipe-directions .nano .field-name-field-recipe-directions { height: 413px; padding-right: 15px; }
.node-type-recipe .two-50 .region-two-50-second { float: right; width: 430px; }
.node-type-recipe .pane-node-field-image-original img { display: block; border: 2px #ffc425 solid; }
.node-type-recipe .similar-recipes { width: 433px; }
.node-type-recipe .similar-recipes .pane-title { background-color: #48abbe; color: white; font: 17px "NeoSans-Medium", Arial, sans-serif; margin-bottom: 15px; padding: 8px 20px; }
.node-type-recipe .similar-recipes .views-row { height: 206px; width: 206px; margin-right: 21px; }
.node-type-recipe .similar-recipes .views-row:nth-child(2n) { margin-right: 0; }

/* ============================================================================= Recipe Virtual Cookbook ========================================================================== */
.pane-virtual-cookbook { background: #ffc425 url(../images/cookbook-icon.png) 0 0 no-repeat; padding: 10px 90px 10px 55px; margin-bottom: 2px; }
.pane-virtual-cookbook h2 { margin-bottom: 5px; color: white; font: 1.786em "NeoSans-Medium", Arial, sans-serif; }
.pane-virtual-cookbook #mini-panel-virtual_cookbook { color: #474747; font: 0.857em "NeoSans-Medium", Arial, sans-serif; margin: 0; }
.pane-virtual-cookbook #mini-panel-virtual_cookbook .block { margin: 0; }
.node-type-recipe .pane-virtual-cookbook #mini-panel-virtual_cookbook .vc-description { display: none; }
.pane-virtual-cookbook #mini-panel-virtual_cookbook .vc-properties { margin-left: 10px; }
.pane-virtual-cookbook #mini-panel-virtual_cookbook .vc-properties li { list-style-type: none; float: left; margin-right: 25px; padding-left: 25px; font-family: "NeoSans-Bold", Arial, sans-serif; line-height: 23px; }
.pane-virtual-cookbook #mini-panel-virtual_cookbook .vc-properties li.vc-property-1 { background: url(../images/vc-prop-1.png) 0 50% no-repeat; }
.pane-virtual-cookbook #mini-panel-virtual_cookbook .vc-properties li.vc-property-2 { background: url(../images/vc-prop-2.png) 0 50% no-repeat; }
.pane-virtual-cookbook #mini-panel-virtual_cookbook .vc-properties li.vc-property-3 { background: url(../images/vc-prop-3.png) 0 50% no-repeat; margin-right: 0; }

/* ============================================================================= Recipes Landing ========================================================================== */
.page-recipes .view-recipes .attachment-before { color: #3e9cae; margin-bottom: 20px; }
.page-recipes .view-recipes .attachment-before span { font-family: "NeoSans-Medium", Arial, sans-serif; }

/* ============================================================================= Topic Landing ========================================================================== */
.topic-landing .block-inner { margin: 0; }
.topic-landing .topic-info { float: left; width: 252px; margin-right: 6px; margin-bottom: 0; }
.topic-landing .topic-info .view-display-id-topic_info { border: 1px solid #ffc425; position: relative; height: 503px; }
.topic-landing .topic-info .view-display-id-topic_info .views-field-name { background-color: #ffc425; padding: 40px 20px 25px; color: white; font: 2.786em "NeoSans-Medium", Arial, sans-serif; line-height: 46px; }
.topic-landing .topic-info .view-display-id-topic_info .views-field-field-icon { position: absolute; top: 0; right: 0; background: url(../images/article-badge-corner.png) 0 0 no-repeat; background-size: 100% 100%; height: 74px; width: 82px; padding-top: 5px; text-align: right; }
.topic-landing .topic-info .view-display-id-topic_info .views-field-field-icon img { width: 36px; margin-right: 2px; }
.topic-landing .topic-info .view-display-id-topic_info .views-field-description { color: #474747; font: 19px "NeoSans-Medium", Arial, sans-serif; max-height: 290px; overflow: hidden; padding: 35px 17px 0 17px; }
.topic-landing .topic-info .view-display-id-topic_info .views-field-description p { margin: 0; }
.topic-landing .pane-sign-up { float: left; margin-bottom: 8px; }
.topic-landing .pane-sign-up .signup-block.topic { background-image: url(../images/signup-topic.png); height: 140px; width: 460px; padding-top: 17px; padding-left: 190px; }
.topic-landing .pane-sign-up .signup-block.topic .signup-title { font-size: 1.571em; }
.topic-landing .pane-sign-up .signup-block.topic .signup-description { font-size: 1.286em; }
.topic-landing .pane-sign-up .signup-block.topic .signup-description li { margin-bottom: 0; margin-left: 1em; }
.topic-landing .pane-sign-up .signup-block.topic .signup-button a { background-image: url(../images/btn-signup-topic.png); font-size: 1.286em; height: 33px; width: 123px; }
.topic-landing .pane-sign-up .signup-block.topic .signup-button a:hover { background-position: 0 -33px; }
.topic-landing .panel-pane.featured-article { float: left; width: 430px; margin-right: 8px; margin-bottom: 0; }
.topic-landing .panel-pane.featured-article .block-inner { margin: 0; }
.topic-landing .panel-pane.featured-article .block-inner .views-row { margin-bottom: 0; }
.topic-landing .panel-pane.featured-article .block-inner .views-row .views-field-nothing-2 { background: url(../images/diet-ico.png) 100% 100% no-repeat; padding-bottom: 20px; }
.topic-landing .panel-pane.featured-article .block-inner .views-row .views-field-field-image img { max-width: 430px; }
.topic-landing .topic-meet-experts { margin-bottom: 8px; padding-right: 12px; padding-left: 12px; width: 188px; }
.topic-landing .topic-expert { float: left; height: 98px; width: 212px; margin-bottom: 8px; }
.topic-landing .topic-expert .views-row { margin: 0; height: auto; width: 212px; }
.topic-landing .topic-expert .views-row .overlay { background-color: rgba(0, 0, 0, 0.4); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000); /* IE6 & 7 */ zoom: 1; position: absolute; bottom: 0; width: 100%; }
.topic-landing .topic-expert .views-row .overlay:nth-child(n) { filter: none; }
.topic-landing .topic-expert .views-row .overlay .views-field-nothing { background: none; font: 16px "NeoSans-Medium", Arial, sans-serif; padding: 5px 10px; position: relative; width: auto; }
.topic-landing .topic-expert .views-row .overlay .views-field-nothing a { color: white; }
.topic-landing .topic-expert .views-row .overlay .overlay-dark { background: rgba(0, 0, 0, 0.35); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000); /* IE6 & 7 */ zoom: 1; height: 16px; padding-left: 10px; overflow: hidden; }
.topic-landing .topic-expert .views-row .overlay .overlay-dark:nth-child(n) { filter: none; }
.topic-landing .topic-expert .views-row .overlay .overlay-dark .views-field-title { float: left; font-size: 0.571em; margin-top: 2px; }
.topic-landing .topic-expert .views-row .overlay .overlay-dark .views-field-value { float: right; }
.topic-landing .topic-expert .views-row .overlay .overlay-dark .views-field-value .rate-count { float: left; padding-top: 3px; font: 0.571em "NeoSans-Medium", Arial, sans-serif; }
.topic-landing .topic-expert .views-row .overlay .overlay-dark .views-field-value .rate-wrapper { background: rgba(0, 0, 0, 0.65); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000); /* IE6 & 7 */ zoom: 1; float: right; padding: 2px 5px 3px; margin-left: 5px; line-height: 8px; }
.topic-landing .topic-expert .views-row .overlay .overlay-dark .views-field-value .rate-wrapper:nth-child(n) { filter: none; }
.topic-landing .topic-expert .views-row .overlay .overlay-dark .views-field-value .rate-wrapper a { background: url(../images/rate-icon.png) 100% 0 no-repeat; padding-right: 14px; color: white; font: 0.571em "NeoSans-Medium", Arial, sans-serif; }
.topic-landing .topic-expert .views-row .overlay .overlay-dark .views-field-value .rate-wrapper a:hover { background-position: 100% -10px; text-decoration: none; }
.topic-landing .topic-articles { clear: both; padding-top: 12px; width: 105%; }
.topic-landing .topic-articles .views-row { height: 248px; width: 296px; margin-right: 10px; }
.topic-landing .topic-articles .views-row:nth-child(3n) { margin-right: 0; }

.page-taxonomy-term-8 .topic-info .view-display-id-topic_info .views-field-name { font-size: 2.357em; }

.page-taxonomy-term-1 .topic-info .view-display-id-topic_info .views-field-field-icon img { width: 24px; }

.page-taxonomy-term-6 .topic-info .view-display-id-topic_info .views-field-field-icon img { width: 27px; }

/* ============================================================================= Modal popups ========================================================================== */
.modal-forms-modal-content .popups-container { border: 2px #ffc425 solid; font-family: "NeoSans", Arial, sans-serif; }
.modal-forms-modal-content .popups-container .modal-title { color: #48abbe; }
.modal-forms-modal-content .popups-container .popups-close { height: 21px; width: 22px; background: url(../images/popup-close.png) 0 0 no-repeat; }
.modal-forms-modal-content .popups-container .popups-close:hover { background-position: 0 -21px; }

/* ============================================================================= Email popup ========================================================================== */
.ctools-modal-content.send-email .modal-header { text-align: center; }
.ctools-modal-content.send-email .modal-header .modal-title { display: inline-block; margin-top: 50px; font-size: 20px; font-weight: normal; }
.ctools-modal-content.send-email .modal-content #ra-alters-send-email { overflow: hidden; padding: 0 50px 0 40px; }
.ctools-modal-content.send-email .modal-content .form-type-textfield { margin-bottom: 37px; }
.ctools-modal-content.send-email .modal-content .form-type-textfield label { float: left; width: 55px; margin: 10px 15px 0 0; color: #48abbe; font-size: 20px; font-weight: normal; }
.ctools-modal-content.send-email .modal-content .form-type-textfield label .form-required { display: none; }
.ctools-modal-content.send-email .modal-content .form-type-textfield label:after { content: ":"; margin-left: -5px; }
.ctools-modal-content.send-email .modal-content .form-type-textfield input { color: #48abbe; border: 2px #ffc425 solid; padding: 10px 20px; width: 320px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; font: 20px "NeoSans", Arial, sans-serif; }
.ctools-modal-content.send-email .modal-content .form-type-textfield input::-webkit-input-placeholder { /* WebKit browsers */ color: #999; }
.ctools-modal-content.send-email .modal-content .form-type-textfield input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #999; }
.ctools-modal-content.send-email .modal-content .form-type-textfield input::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #999; }
.ctools-modal-content.send-email .modal-content .form-type-textfield input:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #999; }
.ctools-modal-content.send-email .modal-content .form-type-checkbox { width: 295px; margin: 0 auto 15px; }
.ctools-modal-content.send-email .modal-content .form-type-checkbox input { float: left; margin: 0 5px 5px 0; }
.ctools-modal-content.send-email .modal-content .form-type-checkbox label { color: #474747; font-weight: normal; }
.ctools-modal-content.send-email .modal-content .form-submit { background-color: #ffc425; border: none; float: right; padding: 8px 0; width: 147px; color: white; font: 16px "NeoSans-Medium", Arial, sans-serif; }

/* ============================================================================= Inspiration Popup ========================================================================== */
.ctools-modal-content.inspiration .modal-title { font: 15px "NeoSans-Medium", Arial, sans-serif; text-transform: uppercase; }
.ctools-modal-content.inspiration .modal-title span { font-family: "NeoSans-Bold", Arial, sans-serif; }
.ctools-modal-content.inspiration .popups-container .modal-content { padding: 0; overflow: visible; width: 100% !important; }

.view-display-id-inspiration_popup { position: relative; }
.view-display-id-inspiration_popup .view-header { color: #48abbe; font-size: 13px; position: absolute; right: 45px; top: -20px; text-transform: uppercase; }
.view-display-id-inspiration_popup .view-content { padding: 0 44px; }
.view-display-id-inspiration_popup .view-content .views-field-field-publish-date { position: absolute; top: -25px; left: 12px; color: #48abbe; font: 15px "NeoSans-Medium", Arial, sans-serif; text-transform: uppercase; }
.view-display-id-inspiration_popup .view-content .views-field-field-publish-date span { font-family: "NeoSans-Bold", Arial, sans-serif; }
.view-display-id-inspiration_popup .view-content img { display: block; width: auto; max-height: 350px; margin: 0 auto; }
.view-display-id-inspiration_popup .item-list ul.pager li { margin: 0; padding: 0; position: absolute; top: 45%; }
.view-display-id-inspiration_popup .item-list ul.pager li.pager-previous { left: 8px; }
.view-display-id-inspiration_popup .item-list ul.pager li.pager-previous:hover a { background-position: 0 -77px; }
.view-display-id-inspiration_popup .item-list ul.pager li.pager-next { right: 8px; }
.view-display-id-inspiration_popup .item-list ul.pager li.pager-next a { background-position: -23px 0; }
.view-display-id-inspiration_popup .item-list ul.pager li.pager-next:hover a { background-position: -23px -77px; }
.view-display-id-inspiration_popup .item-list ul.pager li.pager-current { display: none; }
.view-display-id-inspiration_popup .item-list ul.pager li a { background: url(../images/insp-popup-nav.png) 0 0 no-repeat; display: block; height: 77px; width: 23px; }
.view-display-id-inspiration_popup .view-footer { margin-top: 10px; position: absolute; left: 50%; margin-left: -234px; }
.view-display-id-inspiration_popup .view-footer a, .view-display-id-inspiration_popup .view-footer .rate-average, .view-display-id-inspiration_popup .view-footer .social-item { position: relative; display: block; float: left; width: 91px; height: 35px; margin-right: 3px; line-height: 36px; color: white; }
.view-display-id-inspiration_popup .view-footer a:hover, .view-display-id-inspiration_popup .view-footer .rate-average:hover, .view-display-id-inspiration_popup .view-footer .social-item:hover { text-decoration: none; }
.view-display-id-inspiration_popup .view-footer a [name="fb_share"], .view-display-id-inspiration_popup .view-footer .rate-average [name="fb_share"], .view-display-id-inspiration_popup .view-footer .social-item [name="fb_share"] { background-color: #546ca7; text-indent: 10px; }
.view-display-id-inspiration_popup .view-footer a [name="fb_share"]:after, .view-display-id-inspiration_popup .view-footer .rate-average [name="fb_share"]:after, .view-display-id-inspiration_popup .view-footer .social-item [name="fb_share"]:after { content: "\f09a"; font-family: "FontAwesome"; font-size: 20px; position: absolute; top: 0; right: 15px; height: 100%; line-height: 34px; }
.view-display-id-inspiration_popup .view-footer a.twitter-share-button, .view-display-id-inspiration_popup .view-footer .rate-average.twitter-share-button, .view-display-id-inspiration_popup .view-footer .social-item.twitter-share-button { background-color: #7edefe; text-indent: 10px; }
.view-display-id-inspiration_popup .view-footer a.twitter-share-button:after, .view-display-id-inspiration_popup .view-footer .rate-average.twitter-share-button:after, .view-display-id-inspiration_popup .view-footer .social-item.twitter-share-button:after { content: "\f099"; font-family: "FontAwesome"; font-size: 20px; position: absolute; top: 0; right: 10px; height: 100%; line-height: 34px; }
.view-display-id-inspiration_popup .view-footer a.pinit, .view-display-id-inspiration_popup .view-footer .rate-average.pinit, .view-display-id-inspiration_popup .view-footer .social-item.pinit { background-color: #c9232d; text-indent: 10px; }
.view-display-id-inspiration_popup .view-footer a.pinit:after, .view-display-id-inspiration_popup .view-footer .rate-average.pinit:after, .view-display-id-inspiration_popup .view-footer .social-item.pinit:after { content: "\f0d2"; font-family: "FontAwesome"; font-size: 20px; position: absolute; top: 0; right: 15px; height: 100%; line-height: 34px; }
.view-display-id-inspiration_popup .view-footer a.print, .view-display-id-inspiration_popup .view-footer .rate-average.print, .view-display-id-inspiration_popup .view-footer .social-item.print { color: #80b735; float: right; width: auto; }
.view-display-id-inspiration_popup .view-footer a.print:before, .view-display-id-inspiration_popup .view-footer .rate-average.print:before, .view-display-id-inspiration_popup .view-footer .social-item.print:before { content: "\f02f"; font-size: 20px; font-family: "FontAwesome"; margin-right: 10px; }
.view-display-id-inspiration_popup .view-footer a.init-modal-forms-contact-processed, .view-display-id-inspiration_popup .view-footer .rate-average.init-modal-forms-contact-processed, .view-display-id-inspiration_popup .view-footer .social-item.init-modal-forms-contact-processed { background: #aaaaa9 url("../images/mail-ico.png") 90% 50% no-repeat; text-indent: 10px; }
.view-display-id-inspiration_popup .view-footer .rate-average { margin-right: 0; background: #8dc63f url("../images/like-m-ico.png") 90% 50% no-repeat; }
.view-display-id-inspiration_popup .view-footer .rate-average div { display: inline-block; }
.view-display-id-inspiration_popup .view-footer .rate-average div .rate-count { padding-left: 10px; }
.view-display-id-inspiration_popup .view-footer .rate-average div a { width: auto; float: none; color: white; }

/* ============================================================================= Search ========================================================================== */
.overlay-white { display: none; height: 100%; width: 100%; position: fixed; left: 0; top: 100px; z-index: 1; background-color: white; opacity: 0.8; }

div.view-id-articles.view-display-id-search_articles div.view-empty { padding: 1em; }

div#mini-panel-header_menus div.pane-views.pane-articles { display: none; position: absolute; top: 62px; z-index: 100; padding: 0 20px 20px 30px; margin: 0px -20px 0 -30px; overflow: hidden; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-header { position: absolute; top: 5px; right: 30px; width: 16px; height: 16px; border: 1px solid #80b735; overflow: hidden; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-header a { position: absolute; top: -16px; right: 0; width: 16px; height: 16px; margin-top: 16px; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-header a:before { display: block; content: "\f00d"; font-family: FontAwesome; color: #80b735; width: 16px; height: 16px; line-height: 16px; font-size: 14px; text-align: center; text-indent: 1px; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-header a:hover { text-decoration: none; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-header a:hover:before { color: white; background-color: #80b735; }
div#mini-panel-header_menus div.pane-views.pane-articles .block-inner { background: white; border: 1px solid #80b735; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -ms-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; -webkit-box-shadow: -4px -7px 21px 0px rgba(0, 0, 0, 0.54); -moz-box-shadow: -4px -7px 21px 0px rgba(0, 0, 0, 0.54); box-shadow: -4px -7px 21px 0px rgba(0, 0, 0, 0.54); padding: 20px; border-top: 0; }
div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles { border: 1px solid #ffc425; background-color: #80b735; margin-top: 10px; overflow: hidden; }
div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles div { padding: 0; margin: 0; }
div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-body-value-wrapper { width: 88.8%; background: #80b735 url("../images/ddown-search-ico.gif") 12px 50% no-repeat; height: 38px; }
div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-body-value-wrapper .form-type-textfield { margin: 8px 0 0 35px; }
div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-body-value-wrapper input[type="text"] { width: 100%; background: none; font: normal 1.286em "NeoSans-Regular", Arial, sans-serif; color: white; border: none; padding: 0; }
div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles .views-submit-button { width: 11%; float: right; }
div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles input[type="submit"] { margin: 0; width: 100%; height: 38px; color: white; text-align: center; border: none; background-color: #ffc425; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .view-content { margin-left: 17px; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row { max-width: 218px; margin-top: 17px; overflow: hidden; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-articles ul.pager { text-align: right; padding-top: 17px; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-articles ul.pager .pager-first, div#mini-panel-header_menus div.pane-views.pane-articles .view-articles ul.pager .pager-last { display: none; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-articles ul.pager li { color: #a8a8a8; }
div#mini-panel-header_menus div.pane-views.pane-articles .view-articles ul.pager li a { color: #80b735; }

/* ============================================================================= HOME page ========================================================================== */
.front .pane-welcome { border: 1px solid #c7e5eb; float: left; width: 511px; }
.front .pane-welcome .welcome-block { padding: 14px; }
.front .pane-welcome .welcome-block .welcome-date { border-bottom: 1px solid #ffd051; color: #ffc425; font-size: 1.286em; margin-bottom: 15px; padding-bottom: 5px; text-transform: uppercase; }
.front .pane-welcome .welcome-block .welcome-date span { font-family: "NeoSans-Medium", Arial, sans-serif; }
.front .pane-welcome .welcome-block .welcome-title { color: #48abbe; font: 1.286em "NeoSans-Medium", Arial, sans-serif; margin-bottom: 5px; }
.front .pane-welcome .welcome-block .welcome-description { color: #474747; font-family: "NeoSans-Medium", Arial, sans-serif; }
.front .pane-sign-up { float: right; margin-bottom: 20px; }
.front .pane-sign-up .home { height: 168px; width: 333px; }
.front .pane-sign-up .home .signup-title { font-size: 1.286em; margin-top: 20px; }
.front .pane-sign-up .home .signup-description li { margin-bottom: 0; }
.front .pane-inspirations { float: left; margin-right: 20px; width: 182px; }
.front .pane-inspirations .view-content img { display: block; }
.front .pane-inspirations .view-footer { background-color: #ffc425; line-height: 28px; height: 28px; margin-top: 1px; position: relative; }
.front .pane-inspirations .view-footer .rate-widget { border-right: 1px solid white; float: left; width: 114px; }
.front .pane-inspirations .view-footer .rate-widget .rate-count { border-right: 1px solid white; color: white; float: left; font: 1.571em "NeoSans-Bold", Arial, sans-serif; padding-right: 10px; text-align: right; width: 70px; }
.front .pane-inspirations .view-footer .rate-widget .rate-wrapper { float: left; width: 33px; }
.front .pane-inspirations .view-footer .rate-widget .rate-wrapper .rate-btn { background: url("../images/insp-like-ico.png") 50% 50% no-repeat; display: block; text-indent: -9999px; }
.front .pane-inspirations .view-footer .rate-widget .rate-wrapper .rate-btn:hover { background: #ffd669 url("../images/insp-like-ico-hover.png") 50% 50% no-repeat; }
.front .pane-inspirations .view-footer .insp-share-all { float: left; background: url("../images/insp-share-all-ico.png") 0 0 no-repeat; height: 28px; width: 33px; outline: none; }
.front .pane-inspirations .view-footer .social-wrapper { display: none; position: absolute; top: 29px; }
.front .pane-inspirations .view-footer .social-wrapper a, .front .pane-inspirations .view-footer .social-wrapper .social-item { position: relative; display: block; float: left; width: 60px; height: 28px; margin-right: 1px; line-height: 29px; color: white; font-size: 12px; }
.front .pane-inspirations .view-footer .social-wrapper a:hover, .front .pane-inspirations .view-footer .social-wrapper .social-item:hover { text-decoration: none; }
.front .pane-inspirations .view-footer .social-wrapper a [name="fb_share"], .front .pane-inspirations .view-footer .social-wrapper .social-item [name="fb_share"] { background-color: #546ca7; text-indent: 5px; }
.front .pane-inspirations .view-footer .social-wrapper a [name="fb_share"]:after, .front .pane-inspirations .view-footer .social-wrapper .social-item [name="fb_share"]:after { content: "\f09a"; font-family: "FontAwesome"; font-size: 12px; position: absolute; top: 0; right: 10px; height: 100%; line-height: 28px; }
.front .pane-inspirations .view-footer .social-wrapper a.twitter-share-button, .front .pane-inspirations .view-footer .social-wrapper .social-item.twitter-share-button { background-color: #7edefe; text-indent: 5px; }
.front .pane-inspirations .view-footer .social-wrapper a.twitter-share-button:after, .front .pane-inspirations .view-footer .social-wrapper .social-item.twitter-share-button:after { content: "\f099"; font-family: "FontAwesome"; font-size: 12px; position: absolute; top: 0; right: 5px; height: 100%; line-height: 28px; }
.front .pane-inspirations .view-footer .social-wrapper a.pinit, .front .pane-inspirations .view-footer .social-wrapper .social-item.pinit { background-color: #c9232d; text-indent: 5px; margin-right: 0; }
.front .pane-inspirations .view-footer .social-wrapper a.pinit:after, .front .pane-inspirations .view-footer .social-wrapper .social-item.pinit:after { content: "\f0d2"; font-family: "FontAwesome"; font-size: 12px; position: absolute; top: 0; right: 10px; height: 100%; line-height: 28px; }
.front .pane-inspirations .view-footer .social-all { float: right; border-left: 1px solid white; width: 33px; }
.front .pane-inspirations .view-footer .social-all a { background: url("../images/insp-social-all-ico.png") 50% 50% no-repeat; display: block; text-indent: -9999px; }
.front .featured-slider { background-color: #33a4b9; float: left; width: 526px; }
.front .featured-slider .view-articles { padding: 8px 8px 5px 8px; }
.front .featured-slider .view-articles .flexslider { background: none; border: none; border-radius: 0; }
.front .featured-slider .view-articles .flexslider .slides { margin: 0; padding-bottom: 10px; }
.front .featured-slider .view-articles .flexslider .slides li { margin: 0; }
.front .featured-slider .view-articles .flexslider .flex-control-nav { bottom: 0; line-height: 0; }
.front .featured-slider .view-articles .flexslider .flex-control-nav li a { background: url("../images/slider-nav-dot.png") 0 0 no-repeat; height: 7px; margin-left: 6px; width: 7px; }
.front .featured-slider .view-articles .flexslider .flex-control-nav li a.flex-active { background-position: 0 -7px; }
.front .featured-slider .view-articles .flexslider .flex-direction-nav { display: none; }
.front .hp-ra101 { float: right; }
.front .hp-ra101 .views-row { margin-bottom: 0; margin-right: 0; }
.front .hp-last-articles { float: right; }
.front .hp-last-articles .view-articles .views-row { margin-bottom: 0; margin-right: 20px; }
.front .hp-last-articles .view-articles .views-row.views-row-3 { margin-right: 0; }
.front .hp-meet-experts { margin-bottom: 15px; width: 182px; }
.front .poll-pledge-wrap { float: left; }
.front .pane-polls { float: none; margin-bottom: 15px; padding-bottom: 5px; height: auto; width: 158px; }
.front .pane-polls .pollfield-row .text { min-width: 10em; }
.front .pane-polls .pollfield-row .barcell .bar { width: 150px; }
.front .pane-pledges { border: 2px solid #ededed; font-family: "NeoSans-Medium", Arial, sans-serif; width: 178px; }
.front .pane-pledges .block-inner { padding: 13px; }
.front .pane-pledges .block-inner .pane-title { background: url("../images/pledge-icon.png") 100% 50% no-repeat; border-bottom: 1px solid #33a4b9; color: #008da8; font-size: 1em; font-weight: normal; margin-bottom: 10px; padding-right: 55px; }
.front .pane-pledges .block-inner .rate-count { color: #4d4d4f; font-size: 12px; }
.front .pane-pledges .block-inner .rate-count .pledge-count { color: #b5b5b7; font-size: 22px; line-height: 24px; text-transform: uppercase; }
.front .pane-pledges .block-inner .rate-count .pledge-count div { font-size: 32px; font-family: "NeoSans-Bold", Arial, sans-serif; }
.front .pane-pledges .block-inner .rate-count .pledge-thx { color: #b5b5b7; font-size: 18px; line-height: 21px; text-transform: uppercase; }
.front .pane-pledges .block-inner .rate-count .pledge-number { color: #008da8; font-size: 36px; line-height: 36px; }
.front .pane-pledges .block-inner .rate-button { color: #8dc63f; font: 0.857em "NeoSans-Bold", Arial, sans-serif; }

.pane-topic-articles { float: right; margin-right: -1px; }
.front .pane-topic-articles { width: 819px; }
.pane-topic-articles .views-row { float: left; }
.pane-topic-articles .views-row.views-row-4 { margin-left: 3px; }
.pane-topic-articles .views-row .views-row { margin-right: 0; margin-left: 20px; }
.pane-topic-articles .views-row.views-row-three-after .views-row { margin-left: 17px; overflow: hidden; width: 187px; }
.pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image img { max-width: 253px; position: absolute; left: 50%; margin-left: -126px; }
.pane-topic-articles .popular-label { background-color: rgba(255, 196, 37, 0.76); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425); /* IE6 & 7 */ zoom: 1; padding: 3px 0; position: absolute; top: 0; width: 100%; }
.pane-topic-articles .popular-label:nth-child(n) { filter: none; }
.pane-topic-articles .popular-label .views-field { color: #008da8; font: 0.714em "NeoSans-Medium", Arial, sans-serif; margin-left: 10px; text-transform: uppercase; }

/* ============================================================================= Inspiration page ========================================================================== */
body.node-type-inspiration .pane-ra-prev-next-next, body.node-type-inspiration .pane-ra-prev-next-prev, body.node-type-inspiration .pane-node-field-image-original { float: left; }
body.node-type-inspiration .pane-node-field-image-original { min-width: 84%; text-align: center; }
body.node-type-inspiration .pane-ra-prev-next-next, body.node-type-inspiration .pane-ra-prev-next-prev { margin-top: 26%; }
body.node-type-inspiration .pane-ra-prev-next-next .block-content a, body.node-type-inspiration .pane-ra-prev-next-next .block-content span, body.node-type-inspiration .pane-ra-prev-next-prev .block-content a, body.node-type-inspiration .pane-ra-prev-next-prev .block-content span { position: relative; height: 6em; width: 3em; display: block; text-indent: -9999px; overflow: hidden; z-index: 1; }
body.node-type-inspiration .pane-ra-prev-next-next .block-content:after, body.node-type-inspiration .pane-ra-prev-next-prev .block-content:after { text-indent: 0; content: '\e021'; font-family: icomoon; position: relative; top: -1.4em; padding: 0.1em; font-size: 5em; color: #d1d1d1; }
body.node-type-inspiration .pane-ra-prev-next-next .block-content:hover:after, body.node-type-inspiration .pane-ra-prev-next-prev .block-content:hover:after { color: #828282; }
body.node-type-inspiration .pane-ra-prev-next-next .block-content:after { content: "\e022"; }
body.node-type-inspiration .panels-flexible-row-three_rows-main-row { width: 65%; margin: auto; }
body.node-type-inspiration .pane-ra-prev-next-counter { text-align: right; }
body.node-type-inspiration .pane-ra-alters-ra-alters-social-links { width: 53%; margin: auto; margin-bottom: 3em; }
body.node-type-inspiration .pane-topic-articles { width: 909px; }
body.node-type-inspiration .pane-topic-articles .views-row .views-row { width: 291px; min-height: 240px; margin-right: 17px; margin-left: 0; }
body.node-type-inspiration .pane-topic-articles .views-row.views-row-4 { margin-left: 0; }
body.node-type-inspiration .pane-topic-articles .views-row.views-row-3 .views-row { margin-right: 0; }
body.node-type-inspiration .pane-topic-articles .views-row.views-row-three-after .views-row { overflow: hidden; width: 214px; }
body.node-type-inspiration .pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image img { max-width: 291px; position: absolute; left: 50%; margin-left: -145px; }
body.node-type-inspiration .pane-topic-articles .views-row.views-row-three-after.views-row-last .views-row { margin-right: 0; }

/* ============================================================================= Pledge detailed ========================================================================== */
.node-type-mpledge #main-content-header #page-title { display: block; margin-left: -10px; border-bottom: 2px solid #ededed; color: #474747; font-family: "NeoSans-Medium", Arial, sans-serif; }
.node-type-mpledge .pane-node-field-image { float: right; }
.node-type-mpledge .pane-pledges { color: #474747; margin-bottom: 50px; overflow: hidden; }
.node-type-mpledge .pane-pledges .pledge-thx { font: 1.5em "NeoSans-Medium", Arial, sans-serif; margin-bottom: 20px; }
.node-type-mpledge .pane-pledges .pledge-number { display: inline; font-family: "NeoSans-Medium", Arial, sans-serif; }
.node-type-mpledge .pane-topic-articles { clear: both; border-top: 2px solid #ededed; padding-top: 35px; }
.node-type-mpledge .pane-topic-articles .views-row { float: left; }
.node-type-mpledge .pane-topic-articles .views-row .views-row { width: 291px; min-height: 240px; margin-right: 17px; margin-left: 0; }
.node-type-mpledge .pane-topic-articles .views-row.views-row-4 { margin-left: 0; }
.node-type-mpledge .pane-topic-articles .views-row.views-row-3 .views-row { margin-right: 0; }
.node-type-mpledge .pane-topic-articles .views-row.views-row-three-after .views-row { overflow: hidden; width: 214px; }
.node-type-mpledge .pane-topic-articles .views-row.views-row-three-after .views-row .views-field-field-image img { max-width: 291px; position: absolute; left: 50%; margin-left: -145px; }
.node-type-mpledge .pane-topic-articles .views-row.views-row-three-after.views-row-last .views-row { margin-right: 0; }
.node-type-mpledge .pane-topic-articles .popular-label { background-color: rgba(255, 196, 37, 0.76); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425); /* IE6 & 7 */ zoom: 1; padding: 3px 0; position: absolute; top: 0; width: 100%; }
.node-type-mpledge .pane-topic-articles .popular-label:nth-child(n) { filter: none; }
.node-type-mpledge .pane-topic-articles .popular-label .views-field { color: #008da8; font: 0.714em "NeoSans-Medium", Arial, sans-serif; margin-left: 10px; text-transform: uppercase; }
