/*
 * @file
 * typography
 *
 * @todo
 * !!PROPERLY LICENCE THESE FONTS!!
 */
@font-face {
  font-family: "NeoSans-Bold";
  src: url("../fonts/neo-sans-bold-latin-1.eot?v=3.0.1");
  src: url("../fonts/neo-sans-bold-latin-1.eot?#iefix&v=3.0.1") format("embedded-opentype"),
     url("../fonts/neo-sans-bold-latin-1.ttf") format("truetype"),
     url('../fonts/neo-sans-bold-latin-1.woff') format('woff'),
     url('../fonts/neo-sans-bold-latin-1.svg#NeoSans-Bold') format('svg');
}
@font-face {
  font-family: "NeoSans-Medium";
  src: url("../fonts/neo-sans-medium-latin-1.eot?v=3.0.1");
  src: url("../fonts/neo-sans-medium-latin-1.eot?#iefix&v=3.0.1") format("embedded-opentype"),
     url("../fonts/neo-sans-medium-latin-1.ttf") format("truetype"),
     url('../fonts/neo-sans-medium-latin-1.woff') format('woff'),
     url('../fonts/neo-sans-medium-latin-1.svg#NeoSans-Medium') format('svg');
}
@font-face {
  font-family: "NeoSans-Italic";
  src: url("../fonts/neo-sans-italic-latin-1.eot?v=3.0.1");
  src: url("../fonts/neo-sans-italic-latin-1.eot?#iefix&v=3.0.1") format("embedded-opentype"),
     url("../fonts/neo-sans-italic-latin-1.ttf") format("truetype"),
     url('../fonts/neo-sans-italic-latin-1.woff') format('woff'),
     url('../fonts/neo-sans-italic-latin-1.svg#NeoSans-Italic') format('svg');
}
@font-face {
  font-family: "NeoSans-Regular";
  src: url("../fonts/neo-sans-regular-latin-1.eot?v=3.0.1");
  src: url("../fonts/neo-sans-regular-latin-1.eot?#iefix&v=3.0.1") format("embedded-opentype"),
     url("../fonts/neo-sans-regular-latin-1.ttf") format("truetype"),
     url('../fonts/neo-sans-regular-latin-1.woff') format('woff'),
     url('../fonts/neo-sans-regular-latin-1.svg#NeoSans-Regular') format('svg');

}
@font-face {
  font-family: "NeoSans-Light";
  src: url("../fonts/neo-sans-light-latin-1.eot?v=3.0.1");
  src: url("../fonts/neo-sans-light-latin-1.eot?#iefix&v=3.0.1") format("embedded-opentype"),
     url("../fonts/neo-sans-light-latin-1.ttf") format("truetype"),
     url('../fonts/neo-sans-light-latin-1.woff') format('woff'),
     url('../fonts/neo-sans-light-latin-1.svg#NeoSans-Light') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icons-extra";
  src: url("../fonts/fontawesome-social-webfont.eot?v=3.0.1");
  src: url("../fonts/fontawesome-social-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"),
     url("../fonts/fontawesome-social-webfont.svg") format("svg"),
     url("../fonts/fontawesome-social-webfont.ttf") format("truetype"),
     url("../fonts/fontawesome-social-webfont.woff") format("woff");
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
