@import "_custom.scss";
@import "_global_vars.scss";
@import "compass/css3";
/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
  background: #fff;
}


body {
  font-family: "NeoSans-Regular", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 87.5%;
  // font-size: 16px;
}

html.lt-ie9 {
  ul.menu li {
    margin:0 !important;
  }
  .block-content li {
    padding: 0 !important;
  }
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

b,
strong {}

i,
em {}

dfn {}

sup {}

sub {}

del {}

ins {}

blockquote {}

cite {}

q {}

address {}

ul {}

ol {}

li {}

dl {}

dd {}

dt {}

abbr {}

acronym {}

pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;
}


/* =============================================================================
 *   Wrappers
 * ========================================================================== */

/*
 * Page wrapper, includes the .container class which sets the overall page or section width
 * Main wrapper in page.tpl.php, the .container class sets the width of the page, do not add width to it!
 */
#page {}

body {

  #page > div {
    padding: 0 46px;
  }
  &.front #page > div, &.node-type-expert #page > div, &.page-meet-the-experts #page > div, &.node-type-webform #page > div {
    padding: 0;
  }
}
#page .container {}

/*
 * Wraps all header elements - branding and .region-header
 */
#header {
  padding-top: .8em;
  #block-panels-mini-header-menus {
    position: relative;
    margin-bottom: 8px;
  }
}

/*
 * Wraps the sidebars the content column
 */
#columns {}

/*
 * Main content column wrapper
 */
#content-column {}

/*
 * Wraps the main-content-header, the content region and feed-icons. Use this wrapper to style the entire main content column
 */
#main-content {}

/*
 * Wraps the content region, avoid applying styles to this wrapper, its used mainly for position and invisible gutters and can be problematic to style
 */
#content {}

.field-content ul:not([class]):not([id]), .field-content ol:not([class]):not([id]) {
  padding-left: 10px;
  margin-left: 20px;
}

/*
 * Footer wrapper
 */
#footer {}

/*
 * Panels may need additional margin wrangling when in the $content region
 */
#content .panel-display {}

/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width of the contained element - you
 * can style this but never add any width/margin/padding/borders etc to .container
 */
/*
 * Wraps #page
 */
#page-wrapper {}
#page-wrapper .container {}

/*
 * Wraps the leaderboard
 */
#leaderboard-wrapper {}
#leaderboard-wrapper .container {}

/*
 * Wraps the header
 */
#header-wrapper {
  /* Debug styles, is this working */
  background: rgba(255, 192, 203, 0.5);
}
#header-wrapper .container {}

/*
 * Wraps the nav elements
 */
#nav-wrapper {}
#nav-wrapper .container {}

/*
 * Wraps breadcrumb
 */
#breadcrumb-wrapper {}
#breadcrumb-wrapper .container {}

/*
 * Wraps messages and help
 */
#messages-help-wrapper {}
#messages-help-wrapper .container {}

/*
 * Wraps the secondary content/preface region
 */
#secondary-content-wrapper {}
#secondary-content-wrapper .container {}

/*
 * Wraps the main content column
 */
#content-wrapper {}
#content-wrapper .container {}

/*
 * Wraps the tertiary content/postfix region
 */
#tertiary-content-wrapper {}
#tertiary-content-wrapper .container {}

/*
 * Footer wrapper
 */
#footer-wrapper {
  /* Debug styles, is this working? */
  background: rgba(255, 192, 203, 0.5);
}
#footer-wrapper .container {}


/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {}

/*
 * Logo
 */
#logo a {
  display: block;
  width: 2.5em;
  padding: .2em;
}

#logo img {
  width: 35px;
  height: 35px;
  vertical-align: bottom;
}

/*
 * Wrapper for the site name and slogan (hgroup)
 */
div.pane-page-slogan {
  font-size: $font-12;
  color: #4d4d4f;
  margin-left: 15px;
}

/*
 * Site name (h1)
 */
#site-name,
#site-name h1,
#site-name .block-inner,
#logo .block-inner {
  margin: 0;
}

#site-name h1 {
  font-size: 100%;
}

#site-name a,
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
  color: $Bondi-Blue;
  cursor: pointer;
  padding: .1em;
  line-height: 2;
  font-family: NeoSans-Regular, sans-serif;
  font-size: $font-21;
  font-weight: normal;
}

#site-name a span {
  font-family: NeoSans-Light, sans-serif;
}

/*
 * Site slogan (h2)
 */
#site-slogan {
  margin: 0;
}


/* =============================================================================
 *   Page content header
 * ========================================================================== */

/*
 * Main content header wraps the page title, tabs and actions links
 */
#main-content-header {
  #page-title {
    display: none;
  }
}

/*
 * The main page title (h1)
 */
#page-title {
  margin: 0;
}


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Feed icons
 */
.feed-icon {}

/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for the more link
 */
.more-link {}

/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;
}

ul.links.inline {
  display: block;
}

ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
  margin: 0;
}


/* =============================================================================
 *   Regions
 * ========================================================================== */

/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
.region {}

/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
.region-inner {}

/*
 * Regions can be nested, such as when using Panels
 */
.region-inner .region-inner {}

/*
 * Header region, embedded in the #header
 */
.region-header {}

/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
.region-help {}

/*
 * Secondary content
 */
.region-secondary-content {}

/*
 * Sits above the main content header, like a content-top region
 */
.region-highlighted {}

/*
 * Sits below the main content, like a content-bottom region
 */
.region-content-aside {}

/*
 * Sidebars - targets both
 */
.sidebar {}

/*
 * First sidebar
 */
.region-sidebar-first {}

/*
 * Second sidebar
 */
.region-sidebar-second {}

/*
 * Tertiary content
 */
.region-tertiary-content {}

/*
 * Footer region
 */
.region-footer {}


/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;
}

a:link,
a:visited {}

a:active,
a.active {}

a:hover,
a:focus {
  text-decoration: underline;
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */


.nav {
  clear: both;
  margin: 10px 0;
}

.nav ul,
ul.menu,
.nav ul.menu {
  margin: 0;
  padding: 0;
}

.nav li,
.nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li a,
.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}

.nav li a:visited,
.nav ul.menu li a:visited {}

.nav li a:hover,
.nav li a:focus,
.nav ul.menu li a:hover,
.nav ul.menu li a:focus {}

.nav .block {
  margin-bottom: 0;
}

div.pane-menu-menu-header-links ul.menu li:before,
div.pane-menu-menu-header-links ul.menu li a:before,
div.pane-menu-menu-header-links ul.menu li span:before,
div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li.first:after,
div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li.first + li:after,
div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li.last:after, .breadcrumb a:before {
  font-family: "FontAwesome";
}

.lt-ie9 {
  div.pane-menu-menu-header-links ul.menu li a:before,
  div.pane-menu-menu-header-links ul.menu li span:before {
    font-size: 1.57em;
  }
}
div.pane-menu-menu-header-links li a:hover:before,
div.pane-menu-menu-header-links li a:hover:after,
div.pane-menu-menu-header-links li span:hover:before,
div.pane-menu-menu-header-links li span:hover:after {
  color: $blue-bg !important;
}
div.pane-menu-menu-header-links li.menu-item-2346 a:before,
div.pane-menu-menu-header-links li.menu-item-2511 a:before {
  content: '\e00d'; /* meet the experts */
  font-family: "icomoon" !important;
}

div#mini-panel-header_menus div.pane-menu-menu-topics-menu ul.menu li.menu-item-1857 {
  display: none;
}

div.pane-menu-menu-header-links li.menu-item-1230 a:before {
  content: '\e007'; /* RA 101 */
  font-family: "icomoon" !important;
}


div.pane-menu-menu-header-links li.menu-item-1231 a:before, div.pane-menu-menu-header-links li.menu-item-3739 a:before {
  content: '\e003'; /* sign up */
  font-family: "icomoon" !important;
}

div.pane-menu-menu-header-links li.menu-item-1232 span:before {
  content: '\f002'; /* search */
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
input:-moz-placeholder {
  color: $Dusty-Gray;
  font-family: "NeoSans-Regular";
}

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li a:hover:after {
  color: #48abbe;
}

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li a:after {
  text-indent: 0;
}

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li.first a:after {
  font-family: "FontAwesome";
  content: "\f09a"; /* facebook icon */
}

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li.menu-item-1227 a:after {
  font-family: "FontAwesome" !important;
  content: "\f099"; /* twitter icon */
}

div#mini-panel-header_menus div.pane-menu-menu-social-links ul.menu li.last a:after {
  font-family: "icons-extra" !important;
  content:"\f30e"; /*youtube icon */
}

html.lt-ie9 {
  #footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-social-links ul {
    height: 70px;
  }
}
/* =============================================================================
 *   Superfish
 * ========================================================================== */

ul.sf-menu {
  margin-bottom: 0;
}

ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}

ul.sf-menu a:link,
ul.sf-menu a:visited {}

ul.sf-menu li {}

ul.sf-menu li:hover,
ul.sf-menu li.sfHover {
  outline: 0;
}

ul.sf-menu a {}

ul.sf-menu a:focus,
ul.sf-menu a:hover,
ul.sf-menu a:active {
  outline: 0;
}

/*
 * Superfish blocks
 */
.block-superfish {}

.block-superfish .block-inner .content {}

.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}

.block-superfish ul ul {}

.block-superfish ul ul ul {}

.block-superfish ul ul ul ul {}

.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * Vertical style
 */
.sf-vertical {
  width: 100%;
}

.sf-vertical li {
  width: 100%;
}

.sf-vertical li.last {}

.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.sf-vertical li a {
  padding: 0 10px;
}

/*
 * Navbar style
 */
.sf-navbar {
  padding-bottom: 0 !important;
}

/*
 * Sensible padding for the default style
 */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}


/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  padding-left: 0;
}

ul.menu ul {
  padding-left: 0;
}

ul.menu ul ul {}

ul.menu ul ul ul {}

ul.menu li {
  margin: 0;
}

ul.menu li.collapsed,
ul.menu li.expanded,
ul.menu li.leaf {}

ul.menu li a {}

ul.menu li a:link,
ul.menu li a:visited {}

ul.menu li a:active,
ul.menu li a.active {}

ul.menu li a:hover,
ul.menu li a:focus {}

ul.menu li.active a,
ul.menu li.active-trail a {}

ul.menu li.first,
ul.menu li.last {}

/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}


/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {}

.book-navigation .page-links {}

.book-navigation .page-previous {}

.book-navigation .page-next {}

.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}

.book-navigation .menu {
  margin-left: 0;
}


/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;
}
.breadcrumb {
  color: $grey;
  a {
    color: $grey;
  }
  span.first {
    width: 21px;
    display: inline-block;
    height: 23px;
    line-height: 22px;
    vertical-align: bottom;
    overflow: hidden;
    a, a:hover, a:focus {
      text-decoration: none;
    }
    a:before {
      content: "\f015";
      color: $Silver-Chalice;
      font-size: 22px;
    }
  }
}

/* If the label is set to show in theme settings the label class is added */
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}

#breadcrumb .breadcrumb-label:after {
  content: ":";
}

#breadcrumb ol {
  margin: 0;
  padding: 0;
}

#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}

#breadcrumb li {
  list-style: none;
  display: inline;
}

#breadcrumb li.crumb-first {}

#breadcrumb li.crumb-last {}

#breadcrumb a {}

#breadcrumb a:link,
#breadcrumb a:visited {}

#breadcrumb a:active,
#breadcrumb a.active {}

#breadcrumb a:hover,
#breadcrumb a:focus {}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}

ul.pager li.pager-current {
  font-weight: 700;
}

.block ul.pager li {
  margin: 0;
}

.page_navigation {
  text-align: right;
  a {
    display: inline-block;
    padding: 0 5px;
    color: $blue-bg;
    font-weight: bold;
    &.previous_link {
      margin-right: 5px;
    }
    &.next_link {
      margin-left: 5px;
    }
    &.no_more, &.ellipse {
      display: none;
    }
    &.previous_link, &.next_link {
      border: 2px solid $blue-bg;
      &:after {
        content: " Page";
      }
      &:hover {
        text-decoration: none;
        color: white;
        background-color: $blue-bg;
      }
    }
    &.page_link {
      border-right: 2px solid $blue-bg;
      line-height: normal;
      &.last {
        border: none;
      }
      &.active_page {
        color: $Dusty-Gray;
        cursor: default;
        text-decoration: none;
      }
    }
  }
}
/*
 * Theme the various states of pager links
 */
ul.pager li {}

ul.pager li a {}

ul.pager li a:link,
ul.pager li a:visited {}

ul.pager li a:active,
ul.pager li a.active {}

ul.pager li a:hover,
ul.pager li a:focus {}

ul.pager li.pager-item {}
ul.pager li.first {}
ul.pager li.last {}
ul.pager li.pager-current {}
ul.pager li.pager-first {}
ul.pager li.pager-previous {}
ul.pager li.pager-next {}
ul.pager li.pager-last {}


/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}

#skip-link a {
  background: #444;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}

ul.primary {
  border-bottom-color: #ccc;
  margin: 20px 0;
  padding: 0 0 0 5px;
}

ul.primary li {
  display: block;
  float: left;
  margin: 0 1px -1px;
}

ul.primary li a {
  background-color: #f5f5f5;
  border-color: #ccc;
  margin-right: 1px;
  padding: 0 10px;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}

ul.primary li a:hover,
ul.primary li a:focus {
  background-color: #eee;
  border-color: #ccc;
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: #fff;
  border-bottom-color: #fff;
}

ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}

ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}

ul.secondary li a {}

ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}


/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;
}

ul.action-links li {}
.node-type-article {
  .info_text {
    display: none;
  }
}


/* =============================================================================
 *  Field Styling
 * ========================================================================== */

/*
 * Wrapper for any field
 */
.field {}

/*
 * Above and inline classes are on the field wrapper
 */
.field-label-above {}

/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
.field-label-inline {}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}


/*
 * Field types (Core)
 */

/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
.field-type-image {}

.field-type-image .caption {}

.field-type-image .full-caption {}

.field-type-image .teaser-caption {}

/*
 * Taxonomy
 */
.field-type-taxonomy-term-reference {
  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;
}

.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}

.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Text
 */
.field-type-text {}

/*
 * Long text
 */
.field-type-text-long {}

/*
 * Text with summary
 */
.field-type-text-with-summary {}

/*
 * File
 */
.field-type-file {}

/*
 * Number/Integer
 */
.field-type-number-integer {}

/*
 * Decimal
 */
.field-type-number-decimal {}

/*
 * Number float
 */
.field-type-number-float {}

/*
 * List
 */
.field-type-list-text {}

/*
 * List boolean
 */
.field-type-list-boolean {}

/*
 * List integer
 */
.field-type-list-integer {}

/*
 * List float
 */
.field-type-list-float {}

/*
 * Field types (Contrib)
 */
.field-type-datetime {}

.field-type-node-reference {}

.field-type-user-reference {}

/*
 * Named fields
 */
.field-name-body {}

.field-name-field-image {}

.field-name-field-tags {}

/*
 * Underscores in field name are replaced with dashes
 */
.field-name-field-FIELDNAME {}

/*
 * Image Alignment Theme Settings - included here so you can easily override
 */
/*
 * Float none setting
 */
.ia-n .field-type-image,
.iat-n .field-type-image {}

/*
 * Float left setting
 */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/*
 * Centered setting
 */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/*
 * Float right setting
 */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}


/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
.block {
  margin-bottom: 20px;
}

/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
.block-inner {}

/*
 * The first block in the region
 */
.block.first {}

/*
 * The last block in the region
 */
.block.last {}

/*
 * Zebra striping for each block in the region
 */
.block.odd {}

/*
 * Zebra striping for each block in the region
 */
.block.even {}

/*
 * Block title
 */
.block-title {
  margin: 0;
}

/*
 * Block content wrapper
 */
.block-content {}

/*
 * Match item list and block menu margin and padding
 */
.block-content {}

.block-content ul,
.block-content ol {
  padding: 0;
}

.block-content li {
  margin: 0;
  padding: 0;
}

.block-content ul.menu li {
  list-style: none;
}

/*
 * Block for the latest news items in the first category
 */
#block-aggregator-category-1 {}

/*
 * Block for the latest news items in the first feed
 */
#block-aggregator-feed-1 {}

/*
 * First block created with "Add block" link
 */
#block-block-1 {}

/*
 * "Recent blog posts" block
 */
#block-blog-recent {}

/*
 * "Book navigation" block for the current book's table of contents
 */
#block-book-navigation {}

/*
 * "Recent comments" block
 */
#block-comment-recent {}

/*
 * "Active forum topics" block
 */
#block-forum-active {}

/*
 * "New forum topics" block
 */
#block-forum-new {}

/*
 * Language switcher block
 */
#block-locale-language {}

/*
 * Custom menu block
 */
#block-menu-menu-NAME {}

/*
 * "Recent content" block
 */
#block-node-recent {}

/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
#block-node-syndicate {}

/*
 * "Most recent poll" block
 */
#block-poll-recent {}

/*
 * "Author information" block for the profile of the page's author
 */
#block-profile-author-information {}

/*
 * "Search form" block
 */
#mini-panel-header_menus .view-articles .views-row {
  min-height: 1%;
}

/*
 * "Shortcuts" block
 */
#block-shortcut-shortcuts {}

/*
 * "Popular content" block
 */
#block-statistics-popular {}

/*
 * "Main menu" block
 */
#block-system-main-menu {}

/*
 * "Management" block for Drupal management menu
 */
#block-system-management {}

/*
 * "Navigation" block for Drupal navigation menu
 */
#block-system-navigation {}

/*
 * "User menu" block for Drupal user menu
 */
#block-system-user-menu {}

/*
 * "System help" block
 */
#block-system-help {}

/*
 * "Main page content" block
 */
#block-system-main {
  .region-conditional-stack {
    position: relative;
    z-index: 10;
  }
  .pane-menu-menu-recipe-menu {
    position: relative;
    float: left;
    width: 688px;
    z-index: 99;
    ul.menu {
      @include list-reset;
      li.menu-depth-1 {
        position: relative;
        float: left;
        width: 170px;
        margin-right: 2px;
        & > a,
        & > span.nolink {
          position: relative;
          display: block;
          line-height: 38px;
          color: white;
          background-color: $green-bg;
          text-align: center;
          z-index: 1;
          &:hover, &.hover {
            background-color: $yellow-bg;
            cursor: pointer;
            text-decoration: none;
          }
        }
        &.expanded > a:after,
        &.expanded > span.nolink:after {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          border-width: 8px 4px 0 4px;
          border-color: white transparent transparent transparent;
          border-style: solid;
          margin-left: 5px;
        }
        & > ul {
          display: none;
          position: absolute;
          width: 164px;
          top: 38px;
          left: 0;
          background-color: white;
          padding: 3px 3px 0;
          @include box-shadow (0px 0px 9px 0px rgba(0, 0, 0, 0.33));
          @include border-radius (0 0 10px 10px);
          li {
            position: relative;
            margin-bottom: 3px;
            .views-field {
              display: table;
              width: 100%;
              span.field-content {
                display: table-cell;
                vertical-align: middle;
                height: 30px;
                background-color: $lightblue-bg;
                &:hover {
                  background-color: $lightblue-hover-bg;
                }
              }
            }
            a {
              display: block;
              color: white;
              font-size: 12px;
              line-height: normal;
              padding: 5px 24px 5px 32px;
              &:hover {
                background-color: $lightblue-hover-bg;
                text-decoration: none;
              }
            }
            &.views-row-last {
              @include border-radius (0 0 7px 7px);
              overflow: hidden;
            }
            & .views-field-field-icon {
              position: absolute;
              display: block;
              top: 0;
              right: 3px;
              width: auto;
              height: 100%;
              .field-content {
                display: table;
                height: 100%;
                .vertical-box {
                  display: table-cell;
                  height: 100%;
                  vertical-align: middle;
                  img {
                    display: inline;
                    vertical-align: middle;
                  }
                }
              }
            }
            &.menu-item-1592 .views-field-field-icon {
              right: 12px;
            }
          }
        }
        &.menu-item-1590 {
          & > ul li a {
            padding-left: 10px;
          }
        }
        &.notouch:hover > ul,
        &.hover > ul {
          display: block;
        }
      }
    }
  }

  .pane-views-exp-recipes-recipes-page {
    float: right;
    width: 220px;
    label, .views-exposed-widget {
      display: none;
    }
    .views-exposed-widget.views-widget-filter-body_value, .views-exposed-widget.views-submit-button {
      padding: 0;
      display: block;
      float: left;
    }
    .form-type-textfield {
      width: 150px;
      @include box-shadow (inset 1px 1px 1px 0px rgba(0, 0, 0, 0.26));
      background-color: $Conifer;
      padding: 0 16px;
      input[type="text"] {
        width: 100%;
        height: 38px;
        padding: 0;
        border: none;
        font-size: $font-12;
        line-height: normal;
        color: white;
        background: transparent;
      }
      input::-webkit-input-placeholder { /* WebKit browsers */
          color: white;
      }
      input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: white;
      }
      input::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: white;
      }
      input:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: white;
      }
    }
    .views-submit-button {
      position: relative;
    }
    input[type="submit"] {
      width: 38px;
      height: 38px;
      margin: 0;
      border: none;
      float: left;
      text-indent: -9999px;
      padding: 0;
      background:$green-bg url("../images/search-ico.gif") 50% 50% no-repeat;
      overflow: hidden;
    }
  }
  .landing-breadcrumb {
    clear: both;
  }
  .pane-ra-alters-ra-alters-social-links {
    margin-top: -20px;
    overflow: hidden;
    .block-content {
      position: relative;
      a, & .rate-average, & .social-item {
        position: relative;
        display: block;
        float: left;
        width: 91px;
        height: 35px;
        margin-right: 3px;
        line-height: 36px;
        color: white;
        &:hover {
          text-decoration: none;
        }
        [name="fb_share"] {
          background-color: $fb-bg;
          text-indent: 10px;
          &:after {
            content: "\f09a";
            font-family: "FontAwesome";
            font-size: 20px;
            position: absolute;
            top: 0;
            right: 15px;
            height: 100%;
            line-height: 34px;
          }
        }
        &.twitter-share-button {
          background-color: $twtr-bg;
          text-indent: 10px;
          &:after {
            content: "\f099";
            font-family: "FontAwesome";
            font-size: 20px;
            position: absolute;
            top: 0;
            right: 10px;
            height: 100%;
            line-height: 34px;
          }
        }
        &.pinit {
          background-color: $pinit-bg;
          text-indent: 10px;
          &:after {
            content: "\f0d2";
            font-family: "FontAwesome";
            font-size: 20px;
            position: absolute;
            top: 0;
            right: 15px;
            height: 100%;
            line-height: 34px;
          }
        }
        &.print {
          color: $Sushi;
          float: right;
          width: auto;
          &:before {
            content: "\f02f";
            font-size: 20px;
            font-family: "FontAwesome";
            margin-right: 10px;
          }
        }
        &.init-modal-forms-contact-processed {
          background:$Delta url("../images/mail-ico.png") 90% 50% no-repeat;
          text-indent: 10px;
        }
      }
      .rate-average {
        margin-right: 0;
        background:$green-bg url("../images/like-m-ico.png") 90% 50% no-repeat;
        div {
          display: inline-block;
          .rate-count {
            padding-left: 10px;
          }
          a {
            width: auto;
            float: none;
            color: white;
          }
        }
      }
    }
  }
}
.print {
  color: $Sushi;
  float: right;
  width: auto;
  vertical-align: middle;
  text-decoration: none;
  &:before {
    content: "\f02f";
    font-size: 20px;
    font-family: "FontAwesome";
    margin-right: 10px;
  }
  &:hover {
    text-decoration: none;
  }
}

body.topic-landing {//topic landing page
  .pane-4.topic-meet-experts {
    display: none;
  }
}

body.node-type-page{//basic page
  .green-block, .blue-block {
    width: 49%;
    padding: 0;
    padding-bottom: 3%;
    overflow: hidden;
    margin: 1em 0;
    h1 {
      margin: 0;
      padding: 2% 5%;
      color: white;
      font-size: $font-20;
    }
    ul li {
      font-size: $font-20;
    }
    a.learn-more {
      display: block;
      width: 98px;
      height: 34px;
      margin: 2em auto 0 auto;
      text-align: center;
      line-height: 34px;
      background: url("../images/learn-more-button-bg.gif") 0 100% no-repeat;
      &:hover {
        background-position: 0 0;
      }
    }
  }
  .green-block {
    float: left;
    border: 1px solid $green-bg;
    h1 {
      background-color: $green-bg;
    }
    a.learn-more {
      color: $Olive-Drab;
    }
  }
  .blue-block {
    float: right;
    border: 1px solid $blue-bg;
    h1 {
      background-color: $blue-bg;
    }
    a.learn-more {
      color: $blue-bg;
    }
  }
  .container-wrapper {
    clear: both;
    padding-top: 20px;
  }
}

body {//act vs. rtx page
  &.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020,
  &.uuid-02aee8da-a9be-4e68-a344-a448903c273b,
  &.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 {
    background-image: none;
    #main-content-header #page-title {
      display: inline;
      color: $green-bg;
    }
    .subheading {
      margin-top: 0;
    }
    .underline {
      text-decoration: underline;
    }
    .node-content + nav,
    .rate-widget-custom {
      display: none;
    }
  }
}

body.node-type-webform {//sign up page
  .field-name-body p {
    margin-bottom: 5px;
    strong {
      color: $green-bg;
      font-size: $font-30;
    }
  }
  .field-name-body .field-items {
    min-height: 202px;
    margin: 0 36px 36px;
    color: $Dove-Gray;
    font: $font-18 "NeoSans-Medium";
    line-height: 31px;
    background: url("../images/note-bg.png") 70% 50% no-repeat;
    em {
      font-family: "NeoSans-Regular";
    }
  }
  .field-name-field-webform-extra {
   color: $Dove-Gray;
   font-size: $font-18;
   font-family: "NeoSans-Light";
   line-height: 1;
   margin-top: 40px;
   p strong {
    font-family: "NeoSans-Bold";
   }
   a {
    color: $Curious-Blue;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
   }
  }
  fieldset {
    padding: 0;
    margin-bottom: 35px;
    legend {
      display: block;
      width: 100%;
      color: white;
      span {
        display: block;
        margin: 0 -1px;
        padding: 0 36px;
        font-size: $font-26;
        line-height: 52px;
        font-weight: bold;
      }
    }
  }
  #webform-component-content-information {
    border-color: $yellow-bg;
    label {
      display: none;
    }
    legend {
      background-color: $yellow-bg;
      span {
        background-color: $yellow-bg;
      }
    }
    #webform-component-content-information--year-of-birth label {
      position: absolute;
      top: 2px;
      right: 130px;
      display: block;
      line-height: 30px;
      font-weight: normal;
      color: $Dove-Gray;
    }
  }
  #webform-component-conditional-information {
    border-color: $Atlantis;
    border-bottom: 0;
    margin-bottom: 0;
    legend {
      background-color: $Atlantis;
      span {
        background-color: $Atlantis;
      }
    }
    .fieldset-wrapper .webform-component {
      font-size: $font-22;
      color: $Dove-Gray;
      label:not([class]) {
        color: $Curious-Blue;
      }
      label[for="edit-submitted-conditional-information-relationship"]:before {
        content: "1. ";
        color: $green-bg;
      }
      label[for="edit-submitted-conditional-information-diadnose-type"]:before {
        content: "2. ";
        color: $green-bg;
      }
      label[for="edit-submitted-conditional-information-current-treatment"]:before {
        content: "3. ";
        color: $green-bg;
      }
      label[for="edit-submitted-conditional-information-is-satisfied"]:before {
        content: "4. ";
        color: $green-bg;
      }
      label[for="edit-submitted-conditional-information-more-info"]:before {
        content: "5. ";
        color: $green-bg;
      }
      div .form-item {
        display: inline-block;
        padding-right: 30px;
        color: $Dove-Gray;
        label {
          font-weight: normal;
        }
      }
      #edit-submitted-conditional-information-more-info .form-item {
        display: block;
        padding: 0;
      }
    }
    #webform-component-conditional-information--about-your-privacy {
      font-size: $font-18;
      line-height: normal;
      p strong {
        font-family: "NeoSans-Bold";
      }
    }
    #webform-component-conditional-information--current-treatment .description {
      width: 275px;
      margin-left: 7px;
    }
  }
  #edit-actions {
    border: 1px solid $green-bg;
    border-top: 0;
    padding: 0 36px 36px;
    margin: 0 2px;
    overflow: hidden;
    #uniform-edit-submit {
      background: url("../images/form-submit-but.gif") 0 0 no-repeat;
      height: 48px;
      &:hover {
        background-position: 0 -48px;
      };
      span {
        display: block;
        width: 158px;
        height: 48px;
        line-height: 48px;
        padding: 0;
        margin: 0;
        text-align: center;
        background: none;
        font-weight: normal;
        font-size: $font-22;
        color: $Dove-Gray;
        font-family: "NeoSans-Regular";
      }
    }
  }
  div.checker {
    margin-top: -5px;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    div.checker {
      margin-top: -15px;
    }
  }
  div.radio, div.radio span, div.radio input {
    width: 22px;
    height: 26px;
  }
  div.radio span {
    width: 22px;
    height: 22px;
    background: url("../images/radio-bg.png") 0 -23px no-repeat;
    &.checked, &.radio.focus.active span {
      background-position: 0 0;
    }
  }
  div.radio.hover.active span, div.radio.focus.active span {
    background-position: 0 0 !important;
  }
  table, tbody, th, td, tr.even, tr.odd {
    border: 0;
    border-color: transparent;
    thead {
      background: transparent;
      border-color: transparent;
      tr {
        background: transparent;
      }
    }
    tr.odd {
      background-color: $Link-Water;
    }
    tr.even {
      background-color: transparent;
    }
  }
  .fieldset-wrapper {
    padding: 0 36px 16px;
    overflow: hidden;
    input[type="text"], input[type="number"], input[type="email"] {
      width: 98%;
      padding: 1%;
      font-size: $font-18;
    }
    input.uniform-input, select.uniform-multiselect, textarea.uniform {
      box-shadow: none;
      border-radius: 0;
      background: none;
      border-color: $Curious-Blue;
      font-family: "NeoSans-Regular";
    }
    div.selector, div.selector span {
      background: none;
    }
    div.selector {
      position: relative;
      border: 1px solid $Curious-Blue;
      font-size: $font-16;
      height: 31px;
      span {
        height: 31px;
        line-height: 30px;
      }
      span:after {
        position: absolute;
        top: 50%;
        right: 10px;
        content: "";
        width: 0;
        height: 0;
        border-width: 8px 5px 5px;
        border-color: $Curious-Blue transparent transparent;
        border-style: solid;
        margin-top: -4px;
      }
    }
    #webform-component-content-information--first-name, #webform-component-content-information--last-name, #webform-component-content-information--year-of-birth {
      position: relative;
      float: left;
      width: 49%;
      #uniform-edit-submitted-content-information-year-of-birth {
        float: right;
        width: 100px !important;
        span {
          width: 70px !important;
          color: $blue-bg;
          font-size: $font-14;
        }
      }
      .description {
        color: $Dove-Gray;
        font-family: "NeoSans-Italic";
        font-style: italic;
        clear: both;
        text-align: right;
        padding-top: 20px;
      }
    }
    #webform-component-content-information--street-address-1, #webform-component-content-information--street-address-2, #webform-component-content-information--zip, #webform-component-content-information--email {
      float: right;
      width: 49%;
    }
  }
}

/*
 * "Powered by Drupal" block
 */
#block-system-powered-by {}

/*
 * "User login form" block
 */
#block-user-login {}

/*
 * "Who's new" block for a list of the newest users
 */
#block-user-new {}

/*
 * "Who's online" block for a list of the online users
 */
#block-user-online {}


/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  margin-bottom: 20px;
}

.node.node-promoted {}

.node.node-sticky {}

.node.node-by-viewer {}

.node.node-teaser {}

.node.node-full {}

.node.odd {}

.node.even {}

.node .node-title {
  margin: 0;
}

.node .user-picture {}

.node .submitted {}

.node .submitted .username {}

.node .submitted time {}

.node .node-content {}

.node ul.links {}

.node ul.links li {}

.node ul.links li a {}

.node ul.links li.node-read-more a {}

.node ul.links li.comment-add a {}

.node ul.links li.comment-comments a {}

.node ul.links li.comment-new-comments a {}

.node ul.links li.blog-sernames-blog a {}

.node ul.links li.print-html a {}

.node ul.links li.print-email a {}

.node ul.links li.print-pdf a {}

.preview .node {}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page {}

.node-article {}

.node-book {}

.node-forum {}

.node-poll {}

.node-type-expert {
  .title-video-exp-wrapp {
    float: right;
    .pane-node-title {
      display: none;
    }
  }
  .view-articles {
    .view-content {
      width: 105%;
    }
    .views-row {
      margin-right: 10px;
    }
  }
}

/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;
}

#comments h2 {}

#comments h2.comment-title {
  margin: 0;
}

#comments h2.comment-form {
  margin: 0;
}

/*
 * Wrapper for a single comment
 */
.comment {
  margin-bottom: 20px;
}

.comment.first {}

.comment.last {}

.comment.odd {}

.comment.even {}

.comment .user-picture {}

.comment .submitted {}

.comment .submitted p {}

.comment .submitted .username {}

.comment .submitted time {}

.comment .user-signature {}

.comment ul.links {}

/*
 * Comment title
 */
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
.comment-new {}

.comment-by-anonymous {}

.comment-by-node-author {}

.comment-by-viewer {}

.comment-title-hidden {}

.comment-with-picture {}

.comment-with-signature {}

/*
 * Preview of the comment before submitting new or updated comment
 */
.comment-preview {}

/*
 * "New" marker for comments that are new for the current user
 */
.new {
  color: #c00;
}

/*
 * Nested comments are indented
 */
.indented {
  margin-left: 40px;
}


/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}

.form-item label {
  font-weight: 700;
}

.form-item label.option {}

/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: #c00;
}

.form-item .description {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item {}

/*
 * The submit button
 */
.form-submit {}

.container-inline div,
.container-inline label {
  display: inline;
}

/*
 * Define consistent borders
 */
fieldset {
  border: 1px solid #ccc;
}

/*
 * Tips for Drupal's input formats
 */
.tips {}

/*
 * Buttons used by contrib modules like Media
 */
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}

table.sticky-header {
  z-index: 10;
}

table,
thead,
tbody,
tr,
th,
td {
  border-color: #ccc;
}

table,
td,
th {
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
}

thead tr {
  font-weight: 700;
  background-color: #e5e5e5;

}

td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

tbody {}

tbody tr {
  border-top: 1px solid #ccc;
}

tr.odd {
  background: #fff;
}

tr.info,
tr.even,
tr:nth-child(2n+2) {
  border-bottom: 0;
  background-color: #f5f5f5;
}

tr.drag {}

tr.drag-previous {}

tr.odd td.active {
  background-color: #eee;
}

tr.even td.active {
  background-color: #ebebeb;
}

.lt-ie8 tr {}

.lt-ie8 tr.even,
.lt-ie8 tr.odd {}

.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {}

#forum td .created,
#forum td .posts,
#forum td .topics,
#forum td .last-reply,
#forum td .replies,
#forum td .pager {
  white-space: normal;
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

/* Left and right margin are set by the global gutter width */
div.messages {
  margin-bottom: 10px;
  margin-top: 10px;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status {}

div.warning {}

tr.warning {}

div.error,
tr.error {}

.error {}

.warning {}

/*
 * Unpublished nodes
 */
.node-unpublished,
.comment-unpublished {}

.node-unpublished,
.comment-unpublished {}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
  font-size: 75px;
  font-weight: bold;
  height: 0;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

/*
 * Otherwise these elements will appear below the "Unpublished" text
 */
.lt-ie8 {}

.lt-ie8 .node-unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative;
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {}
.maintenance-page .container {
  padding: 40px 0;
}

.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
}

.db-offline {}

.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}

.db-offline div.messages {
  margin: 20px 0 0;
}

.db-offline #content {
  padding: 20px 0;
}


/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */
.dev-query {
  background: #eee;
  padding: 30px;
}

/*
 * Styleguide module tweaks
 */
#styleguide-header {
  padding: 0 10px;
}

#styleguide-header .item-list {
  font-family: inherit;
  margin: 0 20px 20px 0;
  min-height: 260px;
  width: auto;
}

 /* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
 div#mini-panel-header_menus div.pane-views.pane-articles {
  display: none;
 }


 // Poll styles
.poll .bar {
  background-color: #DDDDDD;
  height: 1em;
  margin: 1px 0;
}
.poll .bar .foreground {
  background-color: #000000;
  float: left;
  height: 1em;
}
.poll .links {
  text-align: center;
}
.poll .percent {
  text-align: right;
}
.poll .total {
  text-align: center;
}
.poll .vote-form {
  text-align: center;
}
.poll .vote-form .choices {
  display: table;
  margin: 0 auto;
  text-align: left;
}
.node-form .poll-form fieldset {
  display: block;
}
.pollfield-form fieldset legend + .form-item {
  width: 70%;
}
.pollfield-form fieldset .form-item {
  float: left;
  width: 25%;
}
#pollfield {
  display: table;
  max-width: 800px;
}
.pollfield-row {
  display: table-row;
  margin: 10px 0;
  overflow: visible;
  padding: 0;
  width: 100%;
}
.pollfield-row .text {
  display: table-cell;
  min-width: 4em;
  overflow: visible;
  padding: 0.2em 3px 0.2em 0;
  text-align: right;
  vertical-align: middle;
}
.barcell {
  display: table-cell;
  vertical-align: middle;
  width: 240px;
}
.barcell .bar {
  background: url("../images/bg-bar-white.png") repeat-x scroll 0 0 #FFFFFF;
  border: 1px solid #F0F0F0;
  height: 1em;
  width: 240px;
}
.barcell .bar .pollfield-foreground {
  background: url("../images/bg-bar.png") repeat-x scroll 0 100% #71A7CC;
  height: 1em;
}
.pollfield-percent {
  display: table-cell;
  min-width: 20em;
  overflow: visible;
  padding: 0.2em;
  vertical-align: middle;
}
.pollfield-chosen {
  font-style: italic;
  font-weight: bold;
}


