// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";
@import "_global_vars.scss";

/* =============================================================================
 *   Reset
 * ========================================================================== */
.panel-pane {
  .block-inner {
    margin: 0;
  }
}

/* =============================================================================
 *   Messages
 * ========================================================================== */
body #page div.messages {
  padding: 10px 10px 10px 50px;
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */
.breadcrumb {
  margin-bottom: 0.6em;
}
.landing-breadcrumb {
  padding-left: 2px;
  p {
    margin: 0;
  }
  a {
    background: url(../images/landing-breadcrumb-arrow.png) 0 50% no-repeat;
    color: #474747;
    padding-left: 15px;
    span {
      font-family: "NeoSans-Medium", Arial, sans-serif;
    }
  }
}

/* =============================================================================
 *   Green Sign up block
 * ========================================================================== */
.signup-block {
  background: $green-bg url(../images/footer-signup.png) 0px 100% no-repeat;
  color: $white;
  font-family: "NeoSans-Medium", Arial, sans-serif;
  overflow: hidden;
  padding-left: 136px;
  position: relative;
  &.animate {
    background-position: -125px 100%;
  }
  &.animate .signup-button a {
    bottom: -40px;
  }
  &.animate .signup-description {
    display: none;
  }
  .signup-title {
    font-size: $font-21;
    margin-bottom: 5px;
  }
  .signup-close-btn a {
     background: url(../images/signup-close.png) 0 0 no-repeat;
     text-indent: -9999px;
     height: 19px;
     width: 19px;
     position: absolute;
     top: 3px;
     right: 5px;
     outline: none;
  }
  .signup-button a {
    background: url(../images/btn-signup.png) 0 0 no-repeat;
    color: $white;
    font: $font-16 "NeoSans-Regular", Arial, sans-serif;
    height: 34px;
    width: 108px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    line-height: 32px;
    text-align: center;
     &:hover {
      background-position: 0 -34px;
      text-decoration: none;
    }
  }
}

/* =============================================================================
 *   Meet the Experts link
 * ========================================================================== */
.hp-meet-experts, .topic-meet-experts {
  background-color: $green-bg;
  float: left;
  margin-bottom: 15px;
  padding-bottom: 5px;
  text-align: center;
  p {
    margin: 0;
  }
  a {
    color: $white;
    font-size: $font-24;
    display: block;
    line-height: 22px;
    text-transform: uppercase;
    &:before {
      content: '\e00d'; /* meet the experts */
      font-family: "icomoon";
      display: block;
      padding: 8px;
      text-align: center;
    }
    &:hover {
      text-decoration: none;
    }
    span {
      font-family: "NeoSans-Bold", Arial, sans-serif;
    }
  }
}

/* =============================================================================
 *   Monthly Poll
 * ========================================================================== */
.pane-polls {
  float: left;
  padding: 8px 10px 0;
  margin-bottom: 0;
  height: 233px;
  width: 188px;
  border: 2px solid $Gallery;
  color: $Abbey;
  .pane-title {
    background: url(../images/poll-icon.png) 100% 50% no-repeat;
    border-bottom: 1px solid $Pelorous;
    margin-bottom: 2px;
    padding-bottom: 4px;
    color: $Deep-Cerulean;
    font: $font-12 "NeoSans-Medium", Arial, sans-serif;
    line-height: 18px;
  }
  .pollfield-title {
    font: $font-12 "NeoSans-Medium", Arial, sans-serif;
    line-height: 14px;
    margin-bottom: 5px;
  }
  .form-item {
    &.form-item-choice {
      margin-left: 2px;
    }
    label {
      font-size: 12px;
      font-weight: normal;
    }
  }
  .form-submit {
    background: $Saffron-Mango;
    border: none;
    color: $white;
    font: $font-16 "NeoSans-Regular", Arial, sans-serif;
    margin-bottom: 5px;
    margin-right: 4px;
    padding: 5px 9px;
  }
  .poll-view-results,
  .poll-back {
    color: $green-bg;
    font: $font-12 "NeoSans-Bold", Arial, sans-serif;
  }
  // Poll results
  .pollfield-row {
    display: none;
    margin-bottom: 5px;
    &.pollfield-chosen {
      font-style: normal;
      font-weight: normal;
    }
    .text {
      display: block;
      text-align: left;
      font-size: $font-12;
      line-height: 1em;
      margin: 3px 0;
      min-width: 13em;
    }
    .barcell {
      display: block;
      width: 95px;
      .bar {
        width: 185px;
      }
    }
    .pollfield-percent {
      color: $Deep-Cerulean;
      font-size: $font-10;
      padding-bottom: 17px;
      min-width: 95px;
    }
  }
  .poll-back {
    display: none;
  }
}

/* =============================================================================
 *   Custom scroll bar
 * ========================================================================== */
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
  .content {
    position      : absolute;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
    &:focus {
      outline: thin dotted;
    }
    &::-webkit-scrollbar {
      visibility: hidden;
    }
  }
  & > .pane {
    background : rgba(0,0,0,.25);
    // IE8 rgba simulation
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000)"; /* IE8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000);   /* IE6 & 7 */
      zoom: 1;
    position   : absolute;
    width      : 10px;
    right      : 0;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    : .01;
    -webkit-transition    : .2s;
    -moz-transition       : .2s;
    -o-transition         : .2s;
    transition            : .2s;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
    &:nth-child(n) {
      filter:none;
    }
    & > .slider {
      background: #444;
      background: rgba(0,0,0,.5);
      position              : relative;
      margin                : 0 1px;
      -moz-border-radius    : 3px;
      -webkit-border-radius : 3px;
      border-radius         : 3px;
      behavior: url(/profiles/ra/themes/custom/ra_theme/js/pie/PIE.htc);
    }
  }
  &:hover > .pane, .pane.active, .pane.flashed {
    visibility : visible\9; /* Target only IE7 and IE8 with this hack */
    opacity    : 0.99;
  }
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}

/* =============================================================================
 *   Footer
 * ========================================================================== */
#footer {
  color: $white;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  p {
    margin: 0;
  }
  a {
    color: $white;
  }
  .panels-flexible-region-inside {
    padding: 0;
  }
  .block,
  .block-inner {
    margin: 0;
  }
  #mini-panel-footer_menus {
    .region-two-66-33-first {
      background-color: $grey-bg;
      max-height: 111px;
      width: 510px;
      padding: 10px 0 10px 20px;
      .pane-menu-menu-footer-menu {
        width: 20%;
        float: left;
        margin-top: 5px;
        margin-right: 5%;
        font-size: $font-10;
        text-transform: uppercase;
        ul {
          li {
            margin-bottom: 5px;
          }
        }
      }
      .pane-menu-menu-topics-menu {
        float: left;
        width: 45%;
        li {
          float: left;
          width: 50%;
          line-height: 1;
          padding-bottom: 6px;
          a {
            font: $footer-topic-links;
          }
        }
      }
      .pane-menu-menu-social-links {
        float: left;
        width: 30%;
        text-align: center;
        h2 {
          font: $font-12 "NeoSans-Regular", Arial, sans-serif;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        li {
          float: left;
          width: 33%;
          text-align: center;
          a:after {
            font-family: "FontAwesome";
            color: $Athens-Gray;
            display: block;
            font-size: 2em;
            position: relative;
            text-align: center;
            top: -1em;
            text-indent: 0;
          }
          a:hover {
            text-decoration: none;
            &:after {
              color: $Saffron-Mango;
            }
          }
          a {
            display: block;
            text-indent: -9999px;
            overflow: hidden;
            height: 2em;
            position: relative;
            width: 3em;
            z-index: 1;
          }
          &.first a:after {
            content: "\f09a"; /* facebook icon */
          }
          &.menu-item-1227 a:after {
            content: "\f099"; /* twitter icon */
          }
          &.last a:after {
            font-family: "icons-extra";
            content:"\f30e"; /* youtube icon */
          }
        }
      }
      .pane-menu-menu-copyright-menu {
        background: url(../images/footer-logo.png) 0 50% no-repeat;
        clear: both;
        float: left;
        padding-left: 100px;
        margin-top: 6px;
        li {
          float: left;
          padding-right: 5px !important;
          &:after {
            content: "|";
            padding-left: 5px !important;
          }
          a {
            font: $footer-topic-links;
          }
        }
      }
      #copyright {
        float: left;
        font: $footer-topic-links;
        padding-top: 12px;
      }
    }
    .region-two-66-33-second {
      background: $green-bg url(../images/footer-signup.png) 0 0 no-repeat;
      height: 131px;
      padding-left: 136px;
      position: relative;
      .sign-up-info {
        margin-top: 10px;
        h2 {
          font: $font-18 "NeoSans-Medium", Arial, sans-serif;
          margin-bottom: 5px;
        }
        .block-content {
          font: $font-14 "NeoSans-Medium", Arial, sans-serif;
          li {
            list-style: inside disc;
          }
        }
        .signup-button {
          background: url(../images/btn-signup.png) 0 0 no-repeat;
          height: 34px;
          width: 108px;
          position: absolute;
          bottom: 10px;
          right: 25px;
          font: $font-16 "NeoSans-Regular", Arial, sans-serif;
          line-height: 32px;
          text-align: center;
          &:hover {
            background-position: 0 -34px;
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* =============================================================================
 *   Article Tiles
 * ========================================================================== */
.view-articles {
  .views-row {
    color: $white;
    float: left;
    margin-right: 17px;
    margin-bottom: 17px;
    min-height: 203px;
    position: relative;
    .views-field-field-image img {
      display: block;
    }
    .blue-corner {
      background: url(../images/article-badge-corner.png) 0 0 no-repeat;
      height: 64px;
      width: 84px;
      padding: 3px 3px 0 0;
      position: absolute;
      top: 0;
      right: 0;
      .views-field-name {
        float: right;
        font: $category-name;
        letter-spacing: -0.3px;
        text-align: right;
        width: 88%;
        &.diet-exercise-vc {
          background: url(../images/diet-m-ico.png) 100% 100% no-repeat;
          background-size: 15px 15px;
          padding-bottom: 15px;
          margin-right: -3px;
          .field-content {
            margin-right: 3px;
          }
        }
      }
      .views-field-field-icon {
        text-align: right;
        clear: both;
        // hardcode Diet & Exercise topic icon to have it touch the edge
        &.topic-2 {
          margin-right: -3px;
        }
        img {
          // max-width: 15px;
          width: 15px;
        }
      }
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.4);
      // IE8 rgba simulation
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);   /* IE6 & 7 */
        zoom: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      &:nth-child(n) {
        filter:none;
      }
      .views-field-title {
        font: $headline;
        padding: 5px 10px;
        a {
          color: $white;
        }
      }
      .overlay-dark {
        background: rgba(0, 0, 0, 0.35);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000);   /* IE6 & 7 */
          zoom: 1;
        height: 16px;
        padding-left: 10px;
        overflow: hidden;
        &:nth-child(n) {
          filter:none;
        }
        .views-field-field-expert {
          float: left;
          font: $font-8 "NeoSans-Medium", Arial, sans-serif;
          margin-top: 2px;
        }
        .views-field-value {
          float: right;
          .rate-count {
            float: left;
            padding-top: 3px;
            font: $font-8 "NeoSans-Medium", Arial, sans-serif;
          }
          .rate-wrapper {
            background: rgba(0, 0, 0, 0.65);
            // IE8 rgba simulation
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000)"; /* IE8 */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000);   /* IE6 & 7 */
              zoom: 1;
            float: right;
            padding: 2px 5px 3px;
            margin-left: 5px;
            line-height: 8px;
            &:nth-child(n) {
              filter:none;
            }
            a {
              background: url(../images/rate-icon.png) 100% 0 no-repeat;
              padding-right: 14px;
              color: $white;
              font: $font-8 "NeoSans-Medium", Arial, sans-serif;
              &:hover {
                background-position: 100% -10px;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    &:hover {
      .overlay {
        background: rgba($Pelorous, 0.79);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C933A4B9,endColorstr=#C933A4B9)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C933A4B9,endColorstr=#C933A4B9);   /* IE6 & 7 */
          zoom: 1;
        &:nth-child(n) {
          filter:none;
        }
        .overlay-dark {
          background: rgba($Black, 0.35);
          // IE8 rgba simulation
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000);   /* IE6 & 7 */
            zoom: 1;
          &:nth-child(n) {
            filter:none;
          }
          .rate-wrapper {
            background: rgba($Cod-Gray, 0.65);
            // IE8 rgba simulation
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5090909,endColorstr=#A5090909)"; /* IE8 */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5090909,endColorstr=#A5090909);   /* IE6 & 7 */
              zoom: 1;
            &:nth-child(n) {
              filter:none;
            }
          }
        }
      }
    }
  }
}

/* =============================================================================
 *   Recipe Tiles
 * ========================================================================== */
.view-recipes {
  clear: both;
  width: 105%;
  .view-header {
    color: $Boston-Blue;
    padding-bottom: 10px;
    a {
      color: $Boston-Blue;
      font-weight: bold;
    }
  }
  .views-row {
    color: $white;
    float: left;
    position: relative;
    width: 220px;
    height: 210px;
    margin-right: 10px;
    margin-bottom: 10px;
    .overlay {
      background-color: rgba(0, 0, 0, 0.4);
      // IE8 rgba simulation
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);   /* IE6 & 7 */
        zoom: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      &:nth-child(n) {
        filter:none;
      }
      .views-field-title {
        background: none;
        font: $headline;
        padding: 5px 10px;
        position: relative;
        width: auto;
        a {
          color: $white;
        }
      }
      .overlay-dark {
        background: rgba(0, 0, 0, 0.35);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000);   /* IE6 & 7 */
          zoom: 1;
        height: 16px;
        padding-left: 10px;
        overflow: hidden;
        &:nth-child(n) {
          filter:none;
        }
        .views-field-field-expert {
          float: left;
          font: $font-8 "NeoSans-Medium", Arial, sans-serif;
          margin-top: 2px;
        }
        .views-field-value {
          float: right;
          .rate-count {
            float: left;
            padding-top: 3px;
            font: $font-8 "NeoSans-Medium", Arial, sans-serif;
          }
          .rate-wrapper {
            background: rgba(0, 0, 0, 0.65);
            // IE8 rgba simulation
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000)"; /* IE8 */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000);   /* IE6 & 7 */
              zoom: 1;
            float: right;
            padding: 2px 5px 3px;
            margin-left: 5px;
            line-height: 8px;
            &:nth-child(n) {
              filter:none;
            }
            a {
              background: url(../images/rate-icon.png) 100% 0 no-repeat;
              padding-right: 14px;
              color: $white;
              font: $font-8 "NeoSans-Medium", Arial, sans-serif;
              &:hover {
                background-position: 100% -10px;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

/* =============================================================================
 *   Expert Tiles
 * ========================================================================== */
 .page-meet-the-experts #main-content {
  margin: 0;
 }
.view-experts {
  overflow: hidden;
  width: 105%;
  .views-row {
    position: relative;
    color: $white;
    float: left;
    margin-right: 20px;
    margin-bottom: 19px;
    height: 204px;
    width: 235px;
    overflow: hidden;
    &.views-row-0 {
      background: $yellow-bg url(../images/experts-icon.png) 50% 25px no-repeat;
      color: $white;
      font: 48px/48px "NeoSans-Light", Arial, sans-serif;
      height: 110px;
      padding-top: 94px;
      text-align: center;
      span {
        font-family: "NeoSans-Medium", Arial, sans-serif;
      }
      img {
        display: none;
      }
    }
    .views-field-field-image img {
      display: block;
    }
    .views-field-nothing {
      position: absolute;
      bottom: 0;
      background-color: rgba(37, 39, 38, 0.8);
      // IE8 rgba simulation
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC252726,endColorstr=#CC252726)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC252726,endColorstr=#CC252726);   /* IE6 & 7 */
        zoom: 1;
      padding-bottom: 5px;
      width: 100%;
      &:nth-child(n) {
        filter:none;
      }
    }
    .expert-overlay {
      background: url(../images/expert-col.png) 100% 0 no-repeat;
      &.notouch:hover, &.hover {
        background-image: url(../images/expert-exp.png);
        .expert-expanded {
          display: block;
        }
        .expert-collapsed {
          display: none;
        }
      }
      .views-field-title {
        font: 1.143em "NeoSans-Medium", Arial, sans-serif;
        line-height: 1;
        text-align: center;
        margin: 0 auto;
        padding: 5px 0;
        max-width: 78%;
      }
      .expert-collapsed {
        font: $font-12 "NeoSans-Regular", Arial, sans-serif;
        line-height: 1;
        text-align: center;
        padding: 0 15px;
      }
      .expert-expanded {
        display: none;
        padding: 0 10px;
        .views-field {
          font-size: 12px;
          margin-left: 10px;
          text-transform: uppercase;
          a {
            color: $white;
          }
          .views-label {
            font-family: "NeoSans-Bold", Arial, sans-serif;
          }
        }
        .expert-full-bio {
          background-color: $yellow-bg;
          margin-top: 5px;
          padding: 5px;
          text-align: center;
          a {
            color: $white;
            font: 15px "NeoSans-Medium", Arial, sans-serif;
          }
        }
      }
    }
  }
}

/* =============================================================================
 *   Expert detailed
 * ========================================================================== */
.node-type-expert {
  #content .region-inner {
    padding: 0 5px;
  }
  .pane-experts {
    background-color: $green-bg;
    float: left;
    width: 518px;
    .block-content {
      padding: 13px 13px 13px 20px;
    }
    .nano {
      height: 287px;
      > .pane {
        background: none;
        &.active .slider {
          background-color: $white;
        }
      }
    }
    .view-display-id-expert_detailed {
      padding-right: 35px;
      overflow: auto;
      width: 482px;
      &:focus {
        outline: none;
      }
      .views-row {
        float: none;
        height: auto;
        margin: 0;
        overflow: visible;
        width: auto;
        .views-label {
          font: 13pt "NeoSans-Bold", Arial, sans-serif;
          text-transform: uppercase;
        }
        .views-field {
          background: url(../images/expert-bio-separator.png) 0 100% repeat-x;
          padding: 10px 0;
          a {
            color: $white;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .views-field-title {
          font: 36px "NeoSans-Bold", Arial, sans-serif;
          padding-top: 0;
          text-transform: uppercase;
        }
        .views-field-field-expert-raconnection,
        .views-field-field-expert-occupation,
        .views-field-field-expert-location {
          .views-label {
            padding: 4px 0;
            &:before {
              font-family: 'icomoon';
              margin: 0 10px 0 2px;
            }
          }
          .field-content {
            font-size: 13pt;
            text-transform: uppercase;
          }
        }
        .views-field-field-expert-raconnection .views-label:before {
          content: "\e013";
        }
        .views-field-field-expert-occupation .views-label:before {
          content: "\e014";
        }
        .views-field-field-expert-location .views-label:before {
          content: "\e015";
        }
        .views-field-body {
          background: none;
          font: 13px "NeoSans", Arial, sans-serif;
          height: 120px;
          padding: 0;
          margin-top: 21px;
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .panel-pane.title-video-exp-wrapp {
    margin-bottom: 30px;
    .block {
      margin-bottom: 0;
    }
  }
  .pane-node-field-expert-video {
    float: right;
    iframe {
      display: block;
      width: 456px;
      height: 313px;
    }
  }
  .pane-articles {
    clear: both;
  }
}

/* =============================================================================
 *   Article detailed
 * ========================================================================== */
 .node-type-article {
  .pane-sign-up {
    width: 100%;
    .signup-block.article-banner {
      background-image: url(../images/article-signup.png);
      height: 250px;
      padding: 50px 0 0 375px;
      @include border-bottom-radius(10px);
      border-radius: 0px 0px 10px 10px;
      behavior: url(/profiles/ra/themes/custom/ra_theme/js/pie/PIE.htc);
      &.animate {
        background-position: -260px 0;
      }
      @include box-shadow(0px 8px 21px 0px rgba(0, 0, 0, 0.54));
      .signup-title {
        font-size: $font-36;
      }
      .signup-description {
        font: $font-24 "NeoSans-Regular", Arial, sans-serif;
      }
      .signup-button a {
        right: 100px;
      }
    }
  }
  .view-display-id-article_detailed {
    .views-row {
      float: none;
      margin: 0;
      min-height: 150px;
      .views-field-title {
        background-color: $yellow-bg;
        border: 1px solid #8dc63f;
        margin-right: 192px;
        padding: 8px 50px 10px 50px;
        min-height: 130px;
        font: 48px "NeoSans-Bold", Arial, sans-serif;;
        line-height: 65px;
      }
      .views-field-field-image-3 {
        background: url(../images/expert-default.png) 50% 50% no-repeat;
        float: right;
        height: 150px;
        width: 192px;
        img {
          display: block;
        }
      }
      .views-field-field-expert {
        height: 30px;
        width: 192px;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);   /* IE6 & 7 */
          zoom: 1;
        font: 15px "NeoSans-Italic", Arial, sans-serif;
        line-height: 33px;
        &:nth-child(n) {
          filter:none;
        }
        a {
          color: $white;
        }
      }
      .views-field-field-icon {
        position: absolute;
        background: url(../images/blue-corner-left.png) 0 0 no-repeat;
        height: 48px;
        width: 48px;
        padding: 3px 0 0 3px;
        img {
          max-width: 22px;
        }
        &.topic-6 img {
          max-width: 20px;
        }
        &.topic-2 img {
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
          margin-left: -3px;
        }
      }
    }
  }
  .pane-node-field-image-original {
    img {
      display: block;
      border: 1px solid #8dc63f;
    }
  }
  .pane-node-field-article-body {
    float: left;
    width: 616px;
    color: $grey;
  }
  .pane-node-field-article-body,
  .views-field-field-article-bottom-teaser {
    h2 {
      color: $blue-bg;
      margin: 0;
    }
    blockquote {
      border: 1px solid $blue-bg;
      margin: 0;
      padding: 20px 20px 0 20px;
      margin-bottom: 1.5em;
    }
    a {
      color: $blue-bg;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    ul, ol {
      list-style-position: inside;
      li {
        margin-bottom: 5px;
      }
    }
    ol {
      padding-left: 20px;
      > li {
        display: block;
        &:before {
          content: "1. ";
          color: $blue-bg;
          font-weight: bold;
          margin-left: -20px;
          margin-right: 5px;
        }
        &[value]:before {
          content: attr(value) ". ";
        }
      }
    }
    ul {
      padding-left: 15px;
      li {
        list-style: none;
        &:before {
          content: '\2022'; /* round bullet */
          color: $blue-bg;
          margin-left: -15px;
          padding-right: 10px;
        }
      }
    }
    table {
      border: 5px solid $Limeade;
      border-top: none;
      thead tr {
        background-color: $Limeade;
        color: $white;
        th {
          border: none;
          border-right: 2px solid $Dusty-Gray;
          padding: 15px;
        }
      }
      tr {
        border: none;
        &:nth-child(2n+2) {
          background-color: $Mercury;
        }
        td {
          border: none;
          border-right: 2px solid $Dusty-Gray;
          padding: 15px;
        }
      }
      ul li:before {
        color: $Limeade;
      }
    }
  }
  .related-articles {
    float: right;
    .pane-title {
      background-color: $blue-bg;
      color: $white;
      font: 16px "NeoSans-Bold", Arial, sans-serif;
      text-align: center;
      margin-bottom: 15px;
      padding: 8px 0;
    }
    .views-row {
      float: none;
      margin-bottom: 15px;
      margin-right: 0;
      width: 252px;
    }
  }
  // Joints pages
  .article-joints {
    background-color: $Concrete;
    border: 2px solid $yellow-bg;
    padding: 30px;
    .views-row {
      margin: 0;
    }
    .views-field-field-article-teaser,
    .views-field-field-article-bottom-teaser {
      color: $Dove-Gray;
      font: $font-20 "NeoSans-Medium", Arial, sans-serif;
      margin-bottom: 20px;
    }
    .views-field-field-article-bottom-teaser {
      margin-bottom: 0;
    }
    .views-field-nothing {
      background-color: $yellow-bg;
      font-family: "NeoSans-Medium", Arial, sans-serif;
      padding: 13px 25px 13px 20px;
      margin-bottom: 8px;
      overflow: hidden;
      .slide-title {
        font-size: $font-26;
        line-height: 25px;
      }
      .numpager {
        float: right;
        font-size: $font-18;
        line-height: 28px;
      }
    }
    .views-field-field-article-body {
      background-color: $blue-bg;
      font: $font-16 "NeoSans-Bold", Arial, sans-serif;
      padding-right: 35px;
      margin-bottom: 20px;
      overflow: hidden;
      .flexslider {
        background: none;
        border: none;
        border-radius: 0;
        max-height: 468px;
        ul.slides {
          margin: 0;
          padding: 0;
          p, li {
            margin: 0;
          }
          p {
            padding-left: 30px;
            margin-bottom: 10px;
          }
          img {
            border-right: 8px solid $Concrete;
            display: block;
            margin-left: -30px;
            margin-right: 15px;
          }
          h2 {
            display: none;
          }
          ul {
            list-style: disc outside;
            overflow: hidden;
            margin-bottom: 15px;
            padding-left: 15px;
            li {
              margin-bottom: 15px;
            }
          }
        }
        .flex-direction-nav {
          li a {
            height: 91px;
            margin-top: -45px;
            width: 27px;
            &.flex-prev {
              background: url(../images/joints-slider-nav.png) 0 0 no-repeat;
              left: 10px;
            }
            &.flex-next {
              background: url(../images/joints-slider-nav.png) -27px 0 no-repeat;
              right: -25px;
            }
          }
        }
        .flex-bottom-nav {
          li a {
            bottom: 0;
            color: $white;
            font-family: "NeoSans-Medium", Arial, sans-serif;
            height: auto;
            padding: 7px 20px;
            text-indent: 0;
            top: auto;
            width: auto;
            &.flex-prev {
              background-image: none;
              background-color: rgba($white, 0.3);
              // IE8 rgba simulation
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF)"; /* IE8 */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF);   /* IE6 & 7 */
                zoom: 1;
              left: 0;
              &:nth-child(n) {
                filter:none;
              }
            }
            &.flex-next {
              background-image: none;
              background-color: rgba($white, 0.3);
              // IE8 rgba simulation
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF)"; /* IE8 */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF);   /* IE6 & 7 */
                zoom: 1;
              right: -35px;
              &:nth-child(n) {
                filter:none;
              }
            }
          }
        }
      }
    }
  }
  .related-articles-joints {
    float: none;
    .pane-title {
      padding-left: 10px;
      text-align: left;
    }
    .views-row {
      float: left;
      margin-right: 20px;
      width: 289px;
      &.views-row-3 {
        margin-right: 0;
      }
    }
  }
  .pane-ra-alters-ra-alters-social-links {
    clear: both;
  }
 }

/* =============================================================================
 *   Recipe detailed
 * ========================================================================== */
 .node-type-recipe {
  .block-inner {
    margin: 0;
  }
  /* first column */
  .two-50 .region-two-50-first {
    width: 467px;
    ul, ol {
      list-style-position: inside;
      li {
        margin-bottom: 5px;
      }
    }
    ol {
      counter-reset: item;
      padding-left: 20px;
      > li {
        display: block;
        &:before {
          content: counter(item) ". ";
          counter-increment: item;
          color: $blue-bg;
          font-weight: bold;
          margin-left: -20px;
          margin-right: 5px;
        }
      }
    }
    ul {
      padding-left: 15px;
      li {
        list-style: none;
        &:before {
          content: '\2022'; /* round bullet */
          color: $blue-bg;
          margin-left: -15px;
          padding-right: 10px;
        }
      }
    }
  }
  .pane-node-title {
    background-color: $green-bg;
    height: 64px;
    margin-bottom: 3px;
    color: $white;
    font: 20px "NeoSans-Medium", Arial, sans-serif;
    .block-inner {
      padding: 0 10px;
    }
    .block-content {
      display: table-cell;
      height: 64px;
      vertical-align: middle;
    }
  }
  .pane-node-field-recipe-servings {
    background-color: $blue-bg;
    border-left: 3px solid $white;
    float: right;
    height: 48px;
    width: 71px;
    padding: 8px 0;
    margin-bottom: 3px;
    color: $white;
    font-family: "NeoSans", Arial, sans-serif;
    text-align: center;
    .pane-title {
      font-size: 12px;
    }
    .field-item {
      font-size: 20px;
    }
  }
  .pane-topics {
    background-color: $blue-bg;
    clear: both;
    color: $white;
    height: 29px;
    padding-left: 10px;
    margin-bottom: 6px;
    h2 {
      float: left;
      font: 12px "NeoSans-Medium", Arial, sans-serif;
      line-height: 30px;
    }
    .views-row {
      float: left;
      font-size: $font-12;
      // margin-top: 5px;
      line-height: 30px;
      margin-left: 10px;
      &.views-row-3 {
        margin-top: 0;
        margin-left: 80px;
      }
      .views-field-name {
        float: left;
        // margin-top: 2px;
        margin-right: 5px;
      }
      .views-field-field-icon {
        float: left;
        .field-content {
          line-height: 26px;
          vertical-align: middle;
          img {
            // display: block;
            display: inline;
            vertical-align: middle;
          }
        }
      }
    }
  }
  // Ingredients block
  .pane-node-field-recipe-ingredients {
    clear: both;
    border: 2px $blue-bg solid;
    padding: 20px;
    color: $grey;
    .pane-title {
      font: 16px "NeoSans-Medium", Arial, sans-serif;
      margin-bottom: 15px;
    }
    strong, a {
      color: $blue-bg;
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .nano {
      height: 204px;
      .field-name-field-recipe-ingredients {
        height: 225px;
        padding-right: 15px;
      }
    }
  }
  // Directions block
  .pane-node-field-recipe-directions {
    border: 2px $yellow-bg solid;
    .pane-title {
      background-color: $yellow-bg;
      color: $white;
      padding: 5px 20px;
    }
    .block-content {
      color: $grey;
      padding: 20px;
      h2, h3, h4, a {
        color: $blue-bg;
      }
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .nano {
      height: 390px;
      .field-name-field-recipe-directions {
        height: 413px;
        padding-right: 15px;
      }
    }
  }
  /* second column */
  .two-50 .region-two-50-second {
    float: right;
    width: 430px;
  }
  .pane-node-field-image-original {
    img {
      display: block;
      border: 2px $yellow-bg solid;
    }
  }
  .similar-recipes {
    width: 433px;
    .pane-title {
      background-color: $blue-bg;
      color: $white;
      font: 17px "NeoSans-Medium", Arial, sans-serif;
      margin-bottom: 15px;
      padding: 8px 20px;
    }
    .views-row {
      height: 206px;
      width: 206px;
      margin-right: 21px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

/* =============================================================================
 *   Recipe Virtual Cookbook
 * ========================================================================== */
.pane-virtual-cookbook {
  background: $yellow-bg url(../images/cookbook-icon.png) 0 0 no-repeat;
  padding: 10px 90px 10px 55px;
  margin-bottom: 2px;
  h2 {
    margin-bottom: 5px;
    color: $white;
    font: $font-25 "NeoSans-Medium", Arial, sans-serif;
  }
  #mini-panel-virtual_cookbook {
    color: $grey;
    font: $font-12 "NeoSans-Medium", Arial, sans-serif;
    margin: 0;
    .block {
      margin: 0;
    }
    .vc-description {
      .node-type-recipe & {
        display: none;
      }
    }
    .vc-properties {
      margin-left: 10px;
      li {
        list-style-type: none;
        float: left;
        margin-right: 25px;
        padding-left: 25px;
        font-family: "NeoSans-Bold", Arial, sans-serif;
        line-height: 23px;
        &.vc-property-1 {
          background: url(../images/vc-prop-1.png) 0 50% no-repeat;
        }
        &.vc-property-2 {
          background: url(../images/vc-prop-2.png) 0 50% no-repeat;
        }
        &.vc-property-3 {
          background: url(../images/vc-prop-3.png) 0 50% no-repeat;
          margin-right: 0;
        }
      }
    }
  }
}

/* =============================================================================
 *   Recipes Landing
 * ========================================================================== */
.page-recipes {
  .view-recipes .attachment-before {
    color: $Boston-Blue;
    margin-bottom: 20px;
    span {
      font-family: "NeoSans-Medium", Arial, sans-serif;
    }
  }
}

/* =============================================================================
 *   Topic Landing
 * ========================================================================== */
.topic-landing {
  .block-inner {
    margin: 0;
  }
  .topic-info {
    float: left;
    width: 252px;
    margin-right: 6px;
    margin-bottom: 0;
    .view-display-id-topic_info {
      border: 1px solid $yellow-bg;
      position: relative;
      height: 503px;
      .views-field-name {
        background-color: $yellow-bg;
        padding: 40px 20px 25px;
        color: $white;
        font: $font-39 "NeoSans-Medium", Arial, sans-serif;
        line-height: 46px;
      }
      .views-field-field-icon {
        position: absolute;
        top: 0;
        right: 0;
        background: url(../images/article-badge-corner.png) 0 0 no-repeat;
        background-size: 100% 100%;
        height: 74px;
        width: 82px;
        padding-top: 5px;
        text-align: right;
        img {
          width: 36px;
          margin-right: 2px;
        }
      }
      .views-field-description {
        color: $grey;
        font: 19px "NeoSans-Medium", Arial, sans-serif;
        max-height: 290px;
        overflow: hidden;
        padding: 35px 17px 0 17px;
        p {
          margin: 0;
        }
      }
    }
  }
  .pane-sign-up {
    float: left;
    margin-bottom: 8px;
    .signup-block.topic {
      background-image: url(../images/signup-topic.png);
      height: 140px;
      width: 460px;
      padding-top: 17px;
      padding-left: 190px;
      .signup-title {
        font-size: $font-22;
      }
      .signup-description {
        font-size: $font-18;
        li {
          margin-bottom: 0;
          margin-left: 1em;
        }
      }
      .signup-button a {
        background-image: url(../images/btn-signup-topic.png);
        font-size: $font-18;
        height: 33px;
        width: 123px;
        &:hover {
          background-position: 0 -33px;
        }
      }
    }
  }
  .panel-pane.featured-article {
    float: left;
    width: 430px;
    margin-right: 8px;
    margin-bottom: 0;
    .block-inner {
      margin: 0;
      .views-row {
        margin-bottom: 0;
        .views-field-nothing-2 {
          background: url(../images/diet-ico.png) 100% 100% no-repeat;
          padding-bottom: 20px;
        }
        .views-field-field-image img {
          max-width: 430px;
        }
      }
    }
  }
  .topic-meet-experts {
    margin-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    width: 188px;
  }
  .topic-expert {
    float: left;
    height: 98px;
    width: 212px;
    margin-bottom: 8px;
    .views-row {
      margin: 0;
      height: auto;
      width: 212px;
      .overlay {
        background-color: rgba(0, 0, 0, 0.4);
        // IE8 rgba simulation
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);   /* IE6 & 7 */
          zoom: 1;
        position: absolute;
        bottom: 0;
        width: 100%;
        &:nth-child(n) {
          filter:none;
        }
        .views-field-nothing {
          background: none;
          font: $headline;
          padding: 5px 10px;
          position: relative;
          width: auto;
          a {
            color: $white;
          }
        }
        .overlay-dark {
          background: rgba(0, 0, 0, 0.35);
          // IE8 rgba simulation
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000)"; /* IE8 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000);   /* IE6 & 7 */
            zoom: 1;
          height: 16px;
          padding-left: 10px;
          overflow: hidden;
          &:nth-child(n) {
            filter:none;
          }
          .views-field-title {
            float: left;
            font-size: $font-8;
            margin-top: 2px;
          }
          .views-field-value {
            float: right;
            .rate-count {
              float: left;
              padding-top: 3px;
              font: $font-8 "NeoSans-Medium", Arial, sans-serif;
            }
            .rate-wrapper {
              background: rgba(0, 0, 0, 0.65);
              // IE8 rgba simulation
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000)"; /* IE8 */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000,endColorstr=#A5000000);   /* IE6 & 7 */
                zoom: 1;
              float: right;
              padding: 2px 5px 3px;
              margin-left: 5px;
              line-height: 8px;
              &:nth-child(n) {
                filter:none;
              }
              a {
                background: url(../images/rate-icon.png) 100% 0 no-repeat;
                padding-right: 14px;
                color: $white;
                font: $font-8 "NeoSans-Medium", Arial, sans-serif;
                &:hover {
                  background-position: 100% -10px;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .topic-articles {
    clear: both;
    padding-top: 12px;
    width: 105%;
    .views-row {
      height: 248px;
      width: 296px;
      margin-right: 10px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

// hardcode font-size of Relationships & Support term title because it is too long
.page-taxonomy-term-8 .topic-info .view-display-id-topic_info .views-field-name {
  font-size: $font-33;
}
// hardcode image size of Treatment term icon because it is too big
.page-taxonomy-term-1 .topic-info .view-display-id-topic_info .views-field-field-icon img {
  width: 24px;
}
// hardcode image size of RA 101 term icon because it is too big
.page-taxonomy-term-6 .topic-info .view-display-id-topic_info .views-field-field-icon img {
  width: 27px;
}

/* =============================================================================
 *   Modal popups
 * ========================================================================== */
.modal-forms-modal-content .popups-container {
  border: 2px $yellow-bg solid;
  font-family: "NeoSans", Arial, sans-serif;
  .modal-title {
    color: $blue-bg;
  }
  .popups-close {
    height: 21px;
    width: 22px;
    background: url(../images/popup-close.png) 0 0 no-repeat;
    &:hover {
      background-position: 0 -21px;
    }
  }
}

/* =============================================================================
 *   Email popup
 * ========================================================================== */
.ctools-modal-content.send-email {
  .modal-header {
    text-align: center;
    .modal-title {
      display: inline-block;
      margin-top: 50px;
      font-size: 20px;
      font-weight: normal;
    }
  }
  .modal-content {
    #ra-alters-send-email {
      overflow: hidden;
      padding: 0 50px 0 40px;
    }
    .form-type-textfield {
      margin-bottom: 37px;
      label {
        float: left;
        width: 55px;
        margin: 10px 15px 0 0;
        color: $blue-bg;
        font-size: 20px;
        font-weight: normal;
        .form-required {
          display: none
        }
        &:after {
          content: ":";
          margin-left: -5px;
        }
      }
      input {
        color: $blue-bg;
        border: 2px $yellow-bg solid;
        padding: 10px 20px;
        width: 320px;
        @include border-radius(20px);
        font: 20px "NeoSans", Arial, sans-serif;
        &::-webkit-input-placeholder { /* WebKit browsers */
          color: #999;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #999;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #999;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: #999;
        }
      }
    }
    .form-type-checkbox {
      width: 295px;
      margin: 0 auto 15px;
      input {
        float: left;
        margin: 0 5px 5px 0;
      }
      label {
        color: $grey;
        font-weight: normal;
      }
    }
    .form-submit {
      background-color: $yellow-bg;
      border: none;
      float: right;
      padding: 8px 0;
      width: 147px;
      color: $white;
      font: 16px "NeoSans-Medium", Arial, sans-serif;
    }
  }
}

/* =============================================================================
 *   Inspiration Popup
 * ========================================================================== */
.ctools-modal-content.inspiration {
  .modal-title {
    font: 15px "NeoSans-Medium", Arial, sans-serif;
    text-transform: uppercase;
    span {
      font-family: "NeoSans-Bold", Arial, sans-serif;
    }
  }
  .popups-container .modal-content {
    padding: 0;
    overflow: visible;
    width: 100% !important;
  }
}

.view-display-id-inspiration_popup {
  position: relative;
  .view-header {
    color: $blue-bg;
    font-size: 13px;
    position: absolute;
    right: 45px;
    top: -20px;
    text-transform: uppercase;
  }
  .view-content {
    padding: 0 44px;
    .views-field-field-publish-date {
      position: absolute;
      top: -25px;
      left: 12px;
      color: $blue-bg;
      font: 15px "NeoSans-Medium", Arial, sans-serif;
      text-transform: uppercase;
      span {
        font-family: "NeoSans-Bold", Arial, sans-serif;
      }
    }
    img {
      display: block;
      width: auto;
      max-height: 350px;
      margin: 0 auto;
    }
  }
  .item-list ul.pager {
    li {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 45%;
      &.pager-previous {
        left: 8px;
        &:hover {
          a {
            background-position: 0 -77px;
          }
        }
      }
      &.pager-next {
        right: 8px;
        a {
          background-position: -23px 0;
        }
        &:hover {
          a {
            background-position: -23px -77px;
          }
        }
      }
      &.pager-current {
        display: none;
      }
      a {
        background: url(../images/insp-popup-nav.png) 0 0 no-repeat;
        display: block;
        height: 77px;
        width: 23px;
      }
    }
  }
  .view-footer {
    margin-top: 10px;
    position: absolute;
    left: 50%;
    margin-left: -234px;
    a, & .rate-average, & .social-item {
      position: relative;
      display: block;
      float: left;
      width: 91px;
      height: 35px;
      margin-right: 3px;
      line-height: 36px;
      color: white;
      &:hover {
        text-decoration: none;
      }
      [name="fb_share"] {
        background-color: $fb-bg;
        text-indent: 10px;
        &:after {
          content: "\f09a";
          font-family: "FontAwesome";
          font-size: 20px;
          position: absolute;
          top: 0;
          right: 15px;
          height: 100%;
          line-height: 34px;
        }
      }
      &.twitter-share-button {
        background-color: $twtr-bg;
        text-indent: 10px;
        &:after {
          content: "\f099";
          font-family: "FontAwesome";
          font-size: 20px;
          position: absolute;
          top: 0;
          right: 10px;
          height: 100%;
          line-height: 34px;
        }
      }
      &.pinit {
        background-color: $pinit-bg;
        text-indent: 10px;
        &:after {
          content: "\f0d2";
          font-family: "FontAwesome";
          font-size: 20px;
          position: absolute;
          top: 0;
          right: 15px;
          height: 100%;
          line-height: 34px;
        }
      }
      &.print {
        color: $Sushi;
        float: right;
        width: auto;
        &:before {
          content: "\f02f";
          font-size: 20px;
          font-family: "FontAwesome";
          margin-right: 10px;
        }
      }
      &.init-modal-forms-contact-processed {
        background:$Delta url("../images/mail-ico.png") 90% 50% no-repeat;
        text-indent: 10px;
      }
    }
    .rate-average {
      margin-right: 0;
      background:$green-bg url("../images/like-m-ico.png") 90% 50% no-repeat;
      div {
        display: inline-block;
        .rate-count {
          padding-left: 10px;
        }
        a {
          width: auto;
          float: none;
          color: white;
        }
      }
    }
  }
}

/* =============================================================================
 *   Search
 * ========================================================================== */
.overlay-white {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 1;
  background-color: $white;
  opacity: 0.8;
}

div.view-id-articles.view-display-id-search_articles div.view-empty {
  padding: 1em;
}

div#mini-panel-header_menus div.pane-views.pane-articles {
  display: none;
  position: absolute;
  top: 62px;
  z-index: 100;
  padding: 0 20px 20px 30px;
  margin: 0px -20px 0 -30px;
  overflow: hidden;
  .view-header {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 16px;
    height: 16px;
    border: 1px solid $Sushi;
    overflow: hidden;
    a {
      position: absolute;
      top: -16px;
      right: 0;
      width: 16px;
      height: 16px;
      margin-top: 16px;
      &:before {
        display: block;
        content: "\f00d";
        font-family: FontAwesome;
        color: $Sushi;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 14px;
        text-align: center;
        text-indent: 1px;
      }
      &:hover {
        text-decoration: none;
        &:before {
          color: white;
          background-color: $Sushi;
        }
      }
    }
  }
  .block-inner {
    background: white;
    border: 1px solid $Sushi;
    @include border-radius(0 0 10px 10px);
    @include box-shadow(-4px -7px 21px 0px rgba(0, 0, 0, 0.54));
    padding: 20px;
    border-top: 0;
  }
  #views-exposed-form-articles-search-articles {
    border: 1px solid $yellow-bg;
    background-color: $Sushi;
    margin-top: 10px;
    overflow: hidden;
    div {
      padding: 0;
      margin: 0;
    }
    #edit-body-value-wrapper {
      width: 88.8%;
      // float: left;
      background: $Sushi url("../images/ddown-search-ico.gif") 12px 50% no-repeat;
      height: 38px;
      .form-type-textfield {
        margin: 8px 0 0 35px;
      }
      input[type="text"] {
        width: 100%;
        // height: 38px;
        // line-height: 38px;
        // background: url("../images/ddown-search-ico.gif") 12px 50% no-repeat;
        // text-indent: 35px;
        background: none;
        font: $search-text;
        color: white;
        border: none;
        padding: 0;
      }
    }
    .views-submit-button {
      width: 11%;
      float: right;
    }
    input[type="submit"] {
      margin: 0;
      width: 100%;
      height: 38px;
      color: white;
      text-align: center;
      border: none;
      background-color: $yellow-bg;
    }
  }
  .view-articles {
    .view-content {
      margin-left: 17px;
    }
    .views-row {
      max-width: 218px;
      margin-top: 17px;
      overflow: hidden;
    }
    ul.pager {
      text-align: right;
      padding-top: 17px;
      .pager-first, .pager-last {
        display: none;
      }
      li {
        color: $SilverChalice;
        a {
          color: $Sushi;
        }
      }
    }
  }
}

/* =============================================================================
 *   HOME page
 * ========================================================================== */
.front {
  // Welcome block
  .pane-welcome {
    border: 1px solid $Jagged-Ice;
    float: left;
    width: 511px;
    .welcome-block {
      padding: 14px;
      .welcome-date {
        border-bottom: 1px solid $Golden-Tainoi;
        color: $yellow-bg;
        font-size: $font-18;
        margin-bottom: 15px;
        padding-bottom: 5px;
        text-transform: uppercase;
        span {
          font-family: "NeoSans-Medium", Arial, sans-serif;
        }
      }
      .welcome-title {
        color: $blue-bg;
        font: $font-18 "NeoSans-Medium", Arial, sans-serif;
        margin-bottom: 5px;
      }
      .welcome-description {
        color: $grey;
        font-family: "NeoSans-Medium", Arial, sans-serif;
      }
    }
  }
  // Sign up green block
  .pane-sign-up {
    float: right;
    margin-bottom: 20px;
    .home {
      height: 168px;
      width: 333px;
      .signup-title {
        font-size: $font-18;
        margin-top: 20px;
      }
      .signup-description li {
        margin-bottom: 0;
      }
    }
  }
  // Inspiration of the day block
  .pane-inspirations {
    float: left;
    margin-right: 20px;
    width: 182px;
    .view-content img {
      display: block;
    }
    .view-footer {
      background-color: $yellow-bg;
      line-height: 28px;
      height: 28px;
      margin-top: 1px;
      position: relative;
      .rate-widget {
        border-right: 1px solid $white;
        float: left;
        width: 114px;
        .rate-count {
          border-right: 1px solid $white;
          color: $white;
          float: left;
          font: $font-22 "NeoSans-Bold", Arial, sans-serif;
          padding-right: 10px;
          text-align: right;
          width: 70px;
        }
        .rate-wrapper {
          float: left;
          width: 33px;
          .rate-btn {
            background: url("../images/insp-like-ico.png") 50% 50% no-repeat;
            display: block;
            text-indent: -9999px;
            &:hover {
              background: $Goldenrod url("../images/insp-like-ico-hover.png") 50% 50% no-repeat;
            }
          }
        }
      }
      .insp-share-all {
        float: left;
        background: url("../images/insp-share-all-ico.png") 0 0 no-repeat;
        height: 28px;
        width: 33px;
        outline: none;
      }
      .social-wrapper {
        display: none;
        position: absolute;
        top: 29px;
        a, .social-item {
          position: relative;
          display: block;
          float: left;
          width: 60px;
          height: 28px;
          margin-right: 1px;
          line-height: 29px;
          color: white;
          font-size: 12px;
          &:hover {
            text-decoration: none;
          }
          [name="fb_share"] {
            background-color: $fb-bg;
            text-indent: 5px;
            &:after {
              content: "\f09a";
              font-family: "FontAwesome";
              font-size: 12px;
              position: absolute;
              top: 0;
              right: 10px;
              height: 100%;
              line-height: 28px;
            }
          }
          &.twitter-share-button {
            background-color: $twtr-bg;
            text-indent: 5px;
            &:after {
              content: "\f099";
              font-family: "FontAwesome";
              font-size: 12px;
              position: absolute;
              top: 0;
              right: 5px;
              height: 100%;
              line-height: 28px;
            }
          }
          &.pinit {
            background-color: $pinit-bg;
            text-indent: 5px;
            margin-right: 0;
            &:after {
              content: "\f0d2";
              font-family: "FontAwesome";
              font-size: 12px;
              position: absolute;
              top: 0;
              right: 10px;
              height: 100%;
              line-height: 28px;
            }
          }
        }
      }
      .social-all {
        float: right;
        border-left: 1px solid $white;
        width: 33px;
        a {
          background: url("../images/insp-social-all-ico.png") 50% 50% no-repeat;
          display: block;
          text-indent: -9999px;
        }
      }
    }
  }
  // Featured Slider
  .featured-slider {
    background-color: $Pelorous;
    float: left;
    width: 526px;
    .view-articles {
      padding: 8px 8px 5px 8px;
      .flexslider {
        background: none;
        border: none;
        border-radius: 0;
        .slides {
          margin: 0;
          padding-bottom: 10px;
          li {
            margin: 0;
          }
        }
        .flex-control-nav {
          bottom: 0;
          line-height: 0;
          li a {
            background: url("../images/slider-nav-dot.png") 0 0 no-repeat;
            height: 7px;
            margin-left: 6px;
            width: 7px;
            &.flex-active {
              background-position: 0 -7px;
            }
          }
        }
        .flex-direction-nav {
          display: none;
        }
      }
    }
  }
  // RA 101 article block
  .hp-ra101 {
    float: right;
    .views-row {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  // Last 3 Articles
  .hp-last-articles {
    float: right;
    .view-articles {
      .views-row {
        margin-bottom: 0;
        margin-right: 20px;
        &.views-row-3 {
          margin-right: 0;
        }
      }
    }
  }
  // Meet the Experts link
  .hp-meet-experts {
    margin-bottom: 15px;
    width: 182px;
  }
  .poll-pledge-wrap {
    float: left;
  }
  // Monthly Poll block
  .pane-polls {
    float: none;
    margin-bottom: 15px;
    padding-bottom: 5px;
    height: auto;
    width: 158px;
    .pollfield-row {
      .text {
        min-width: 10em;
      }
      .barcell .bar {
        width: 150px;
      }
    }
  }
  // Monthly Pledge
  .pane-pledges {
    border: 2px solid $Gallery;
    font-family: "NeoSans-Medium", Arial, sans-serif;
    width: 178px;
    .block-inner {
      padding: 13px;
      .pane-title {
        background: url("../images/pledge-icon.png") 100% 50% no-repeat;
        border-bottom: 1px solid $Pelorous;
        color: $Deep-Cerulean;
        font-size: $font-14;
        font-weight: normal;
        margin-bottom: 10px;
        padding-right: 55px;
      }
      .rate-count {
        color: $Abbey;
        font-size: 12px;
        .pledge-count {
          color: $Bombay;
          font-size: 22px;
          line-height: 24px;
          text-transform: uppercase;
          div {
            font-size: 32px;
            font-family: "NeoSans-Bold", Arial, sans-serif;
          }
        }
        .pledge-thx {
          color: $Bombay;
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
        }
        .pledge-number {
          color: $Deep-Cerulean;
          font-size: 36px;
          line-height: 36px;
        }
      }
      .rate-button {
        color: $green-bg;
        font: $font-12 "NeoSans-Bold", Arial, sans-serif;
      }
    }
  }
}
// Most popular Articles
.pane-topic-articles {
  float: right;
  margin-right: -1px;
  .front & {
  width: 819px;
  }
  .views-row {
    float: left;
    &.views-row-4 {
      margin-left: 3px;
    }
    .views-row {
      margin-right: 0;
      margin-left: 20px;
    }
    &.views-row-three-after {
      .views-row {
        margin-left: 17px;
        overflow: hidden;
        width: 187px;
        .views-field-field-image img {
          max-width: 253px;
          position: absolute;
          left: 50%;
          margin-left: -126px;
        }
      }
    }
  }
  .popular-label {
    background-color: rgba($yellow-bg, 0.76);
    // IE8 rgba simulation
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425)"; /* IE8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425);   /* IE6 & 7 */
      zoom: 1;
    padding: 3px 0;
    position: absolute;
    top: 0;
    width: 100%;
    &:nth-child(n) {
      filter:none;
    }
    .views-field {
      color: $Deep-Cerulean;
      font: $font-10 "NeoSans-Medium", Arial, sans-serif;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
}
/* =============================================================================
 *   Inspiration page
 * ========================================================================== */
body.node-type-inspiration {
  .pane-ra-prev-next-next,
  .pane-ra-prev-next-prev,
  .pane-node-field-image-original {
    float: left;
  }
  .pane-node-field-image-original {
    min-width: 84%;
    text-align: center;
  }
  .pane-ra-prev-next-next,
  .pane-ra-prev-next-prev {
    margin-top: 26%;
    .block-content {
      & a,
      & span {
        position: relative;
        height: 6em;
        width: 3em;
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        z-index: 1;
      }
      &:after {
        text-indent: 0;
        content:'\e021';
        font-family: icomoon;
        position: relative;
        top: -1.4em;
        padding: 0.1em;
        font-size: 5em;
        color: #d1d1d1;
      }
      &:hover:after {
        color: #828282;
      }
    }
  }
  .pane-ra-prev-next-next .block-content:after {
    content: '\e022'
  }
  .panels-flexible-row-three_rows-main-row {
    width: 65%;
    margin: auto;
  }
  .pane-ra-prev-next-counter {
    text-align: right;
  }
  .pane-ra-alters-ra-alters-social-links {
    width: 53%;
    margin: auto;
    margin-bottom: 3em;
  }
  .pane-topic-articles {
    width: 909px;
    .views-row {
      .views-row {
        width: 291px;
        min-height: 240px;
        margin-right: 17px;
        margin-left: 0;
      }
      &.views-row-4 {
        margin-left: 0;
      }
      &.views-row-3 .views-row {
        margin-right: 0;
      }
      &.views-row-three-after {
        .views-row {
          overflow: hidden;
          width: 214px;
          .views-field-field-image img {
            max-width: 291px;
            position: absolute;
            left: 50%;
            margin-left: -145px;
          }
        }
        &.views-row-last .views-row {
          margin-right: 0;
        }
      }
    }
  }
}

/* =============================================================================
 *   Pledge detailed
 * ========================================================================== */
.node-type-mpledge {
  #main-content-header #page-title {
    display: block;
    margin-left: -10px;
    border-bottom: 2px solid $Gallery;
    color: $grey;
    font-family: "NeoSans-Medium", Arial, sans-serif;
  }
  .pane-node-field-image {
    float: right;
  }
  .pane-pledges {
    color: $grey;
    margin-bottom: 50px;
    overflow: hidden;
    .pledge-thx {
      font: $font-21 "NeoSans-Medium", Arial, sans-serif;
      margin-bottom: 20px;
    }
    .pledge-number {
      display: inline;
      font-family: "NeoSans-Medium", Arial, sans-serif;
    }
  }
  .pane-topic-articles {
    clear: both;
    border-top: 2px solid $Gallery;
    padding-top: 35px;
    .views-row {
      float: left;
      .views-row {
        width: 291px;
        min-height: 240px;
        margin-right: 17px;
        margin-left: 0;
      }
      &.views-row-4 {
        margin-left: 0;
      }
      &.views-row-3 .views-row {
        margin-right: 0;
      }
      &.views-row-three-after {
        .views-row {
          overflow: hidden;
          width: 214px;
          .views-field-field-image img {
            max-width: 291px;
            position: absolute;
            left: 50%;
            margin-left: -145px;
          }
        }
        &.views-row-last .views-row {
          margin-right: 0;
        }
      }
    }
    .popular-label {
      background-color: rgba($yellow-bg, 0.76);
      // IE8 rgba simulation
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1FFC425,endColorstr=#C1FFC425);   /* IE6 & 7 */
        zoom: 1;
      padding: 3px 0;
      position: absolute;
      top: 0;
      width: 100%;
      &:nth-child(n) {
        filter:none;
      }
      .views-field {
        color: $Deep-Cerulean;
        font: $font-10 "NeoSans-Medium", Arial, sans-serif;
        margin-left: 10px;
        text-transform: uppercase;
      }
    }
  }
}
