
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * Target IE 6, 7 and 8 (less than IE9)
 */

/*
 * Assuming a mobile first approach with respond.js OFF, we must reset the font
 * size for lt IE9
 */
html {
  font-size: 81.3%;
}

ul.menu li { margin:0 !important; }
.block-content li { padding: 0 !important; }
