// _base.scss imports _custom.scss and other partials.
@import "base";
@import "_global_vars.scss";
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small devices */
html {
  pane-menu-menu-header-links-size: 81.3%; 
}

div#mini-panel-header_menus div.pane-menu-menu-social-links {
  // padding-left: 12%;
}

div.pane-menu-menu-header-links ul.menu li:before {
  color: white;
  display: inline;
  position: relative;
  top: 4px;
}

.pane-menu-menu-header-links {
  //border-top: 3px solid $yellow-bg;
}

div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links {
  margin-bottom: 0;
}
div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li {
  height: 3.3em;
}

div#mini-panel-header_menus div.pane-menu-menu-social-links.pane-menu-menu-social-links.pane-menu-menu-social-links {
  float: right;  
}
div#mini-panel-header_menus div.pane-menu-menu-topics-menu.pane-menu-menu-topics-menu ul.menu li {
  width: 14.15%;
}

div#mini-panel-header_menus div.pane-menu-menu-topics-menu.pane-menu-menu-topics-menu ul.menu li a,
div#mini-panel-header_menus div.pane-menu-menu-topics-menu.pane-menu-menu-topics-menu ul.menu li a:hover {
}

div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li a,
div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li span,
div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li * {
  font-size: 1em;
  color: white;
  cursor: pointer;
  padding-left: .2em;
}
div.pane-menu-menu-header-links ul.menu li a:before, 
div.pane-menu-menu-header-links ul.menu li span:before {
  line-height: 2;
  font-size: 1.5em;
}
div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li a:hover,
div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li span:hover,
div#mini-panel-header_menus div.pane-menu-menu-header-links ul.menu li *:hover {
  text-decoration: underline;
}
div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links {
  width: 100%;
  margin: 1em 0 0 0;
  ul.menu {
    margin-left: -0.28%;
    li {
      width: 24.72%;
      height: auto;
      margin-left: 0.28%;
      margin-bottom: 3px;
      background-color: rgb(112,112,112); // Old browsers
      @include filter-gradient(#707070, #999999, vertical); // IE6-8
      $experimental-support-for-svg: true;
      @include background-image(linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(153,153,153,1) 20%));
        vertical-align: middle;
      a:before, span:before {
        display: inline;
        color: white;
        vertical-align: middle;
        padding-right: 10px;
      }
      a, a:hover, *:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}
#footer {

  #mini-panel-footer_menus {
    .region-two-66-33-second {
      height: 305px;
      background:$green-bg url("../images/footer-signup-tablet.png") 0 100% no-repeat;
      .panel-pane.sign-up-info > div {
        float: right;
        width: 60%;
        padding: 20px 0 50px;
      }
      .sign-up-info {
        .block-content {
          font-size: $font-17;
        }
        .block-content p a {
          width: auto;
          @include box-shadow(rgba(255,255,255, 1) 0 1px 0 0 inset, 
                   rgba(254,222,134, 1) 0 -1px 0 0 inset, 
                   rgba(254,222,134, 1) 1px 0 0 0 inset, 
                   rgba(254,222,134, 1) -1px 0 0 0 inset, 
                   rgba(127,178,57, 1) 0 1px 0 0);
          background-color: rgb(254,216,112); // Old browsers
          @include filter-gradient(#fed870, #ffc425, vertical); // IE6-8
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top,  rgba(254,216,112,1) 0%,rgba(255,196,37,1) 30%));
          @include border-radius(6px);
          
          border:1px solid #5f9c32;
          border-bottom:1px solid #577a26;
          
          display: block;
          color: white;
          font-family: "NeoSans-Regular";
          font-size: $font-25;
          padding:5px 15px;
          text-decoration:none;
         
          @include text-shadow(rgba(210,173,70, 1) 0px 1px 0px);
          bottom: 40px;
          right: 60px;
          &:hover {
            background-color: rgb(255,197,43); // Old browsers
            @include filter-gradient(#ffc52b, #fedc81, vertical); // IE6-8
            $experimental-support-for-svg: true;
            @include background-image(linear-gradient(top,  rgba(255,197,43,1) 0%,rgba(254,220,129,1) 100%));
            background-position: 0;
          }
        }
      } 
     }
    .region-two-66-33-first {
      max-height: none;
      width: 48%;
      .pane-menu-menu-copyright-menu li a, #copyright {
        font-size: $font-14;
      }
      #copyright {
        padding-top: 8px;
      }
      .region-inner {
        padding: 20px 0;
        overflow: hidden;
        .pane-menu-menu-topics-menu {

          li {
            width: 45% !important; 
            margin-bottom: 5px;
            line-height: 1.5;
            a {
              font-size: $font-14;
            }
          }
        }
      }
      .pane-menu-menu-footer-menu {
        width: 20%;
        margin-top: 0;
        margin-left: 2%;
        font-size: $font-14;
      }
      .pane-menu-menu-copyright-menu {
        margin-left: 2%;
      }
      .pane-menu-menu-social-links {
        float: right;
        width: 25%;
      }
    }
    .region-two-66-33-second {
      .sign-up-info h2 {
        font-size: $font-34;
      }
    }
  }
}

/* Search */
div#mini-panel-header_menus div.pane-views.pane-articles.pane-articles {
  max-width: 100%;
  top: 8.4em;
}

.view-articles .views-row.views-row {
  min-height: 1%;
}

div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row {
  max-width: 50%;
}

//meet the experts
.page-meet-the-experts {

  .view-experts {
    width: 100%;
    margin-left: -1.33333%;
    .views-row {
      width: 32%;
      height: auto;
      margin: 0 0 1.33333% 1.33333%;
      padding: 0;
      &.views-row-0 {
        img {
          display: block;
        }
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      .experts-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        .experts-table {
          display: table;
          width: 100%;
          height: 100%;
          .experts-cell {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: bottom;
            padding-bottom: 5%;
          }
        }
      }
    }
  }
}

.node-type-expert {//expert detail page
  #block-system-main .region-one-main > .region-inner {
    @include display-box;
    @include box-orient(vertical);
    @include box-align(stretch);
    width: 98%;
    padding: 0 1%;
    .title-video-exp-wrapp {
      @include box-ordinal-group(1);
      position: relative;
      float: none;
      margin-bottom: 0;
      &.block, .block {
        margin-bottom: 0 !important;
      }
      .pane-node-title {
        display: block;
        position: absolute;
        width: 49%;
        height: 98%;
        margin-bottom: 0;
        background-color: $green-bg;
        .block-inner {
          display: table;
          width: 100%;
          height: 100%;
          .block-content {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            padding: 0 5%;
            font: $expert-name;
            color: white;
            text-transform: uppercase;
          }
        }
      }
      .pane-node-field-expert-video {
        float: right;
        width: 49%;
        padding-bottom: 6px;
        iframe {
          width: 100%;
        }
      }
    }
    .pane-experts {
      position: relative;
      @include box-ordinal-group(2);
      width: 100%;
      .views-field-title {
        display: none;
      }
    }
    .pane-articles {
      position: relative;
      width: 100%;
      @include box-ordinal-group(3); 
    }
    .view-display-id-expert_detailed {
      float: none;
      width: auto;
      height: auto;
    }
  }
  .view-articles {
    .view-content {
      width: auto;
      margin-left: -2%;
    }
   .views-row {
      float: left;
      width: 48%;
      margin: 0 0 2% 2%;
      min-height: auto;
      img {
        width: 100%;
        height: auto;
      }
    } 
  }
}

.page-recipes, .node-type-recipe {//recipes page
  #block-system-main { 
    .pane-menu-menu-recipe-menu, .pane-views-exp-recipes-recipes-page {
      float: none;
      width: auto;
      margin-bottom: 1px;
    }
    .pane-menu-menu-recipe-menu ul.menu {
      width: 100%;
      & > li.menu-depth-1 {
        width: 24.8%;
        margin: 0 0 0 .2%;
        ul {
          width: 98.8%;
          ul {
            width: 100%;
          }
        }
      }
    }
    .pane-views-exp-recipes-recipes-page {
      #edit-body-value-wrapper {
        float: none;
      }
      position: relative;
      width: 100%;
      .form-type-textfield {
        width: auto;
        padding: 0 50px 0 16px;
      }
      .views-submit-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .view-recipes {
      width: 100%;
      .attachment {
        margin: 15px 0 20px 2%;
      }
      .view-content {
        margin-left: -1.33333%;
      }      
      .view-header {
        padding: 0 10px 10px;
      }
      .views-row {
        width: 32%;
        height: auto;
        margin: 0 0 1.33333% 1.33333%;
        padding: 0;
        &.views-row-0 {
          img {
            display: block;
          }
        }
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        .views-field-title {
          width: 100%;
          padding: 0;
          span {
            display: block;
            padding: 10px;
          }
        }
      }
    }
  }
}

.view-articles .views-row .overlay .views-field-title {
  font-size: $font-20;
}
.view-articles .flexslider .views-row .overlay .views-field-title {
  font-size: $font-16;
}

.page-taxonomy-term {//topic page
  .topic-info, .pane-sign-up {
    width: 49.5%;
    margin-bottom: 8px;
  }
  .pane-sign-up {
    float: right;
    .signup-block.topic {
      width: auto;
      min-height: 488px;
      padding: 17px 5% 0;
      background: $green-bg url("../images/footer-signup-tablet.png") -20px 100%/55% auto no-repeat !important;
    }
  }
  .panel-pane.panel-pane.featured-article {
    width: 50.8%;
    max-height: 340px;
    margin: 0;
    .block-inner .views-row {
      margin: 0;
      .views-field-field-image a {
        position: relative;
        display: block;
        height: 100%;
      }
      .views-field-field-image img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: none;
        width: auto !important;
        height: 100%;
      }
    }
  }
  .pane-experts {
    width: 47%;
    max-height: 340px;
    float: right;
    .view-experts {
      width: auto;
    }
    .views-row {
      width: 100%;
      float: none;
      img {
        width: 100%;
        max-height: 340px;
      }
    }
  }
  .pane-polls {
    width: auto;
    height: auto;
    float: none;
    clear: both;
  }
  .topic-articles {
    width: auto;
    margin-left: -1%;
    .views-row {
      width: 49%;
      height: auto;
      margin-left: 1%;
      margin-bottom: 1%;
      img {
        width: 100%;
      }
      margin-right: 0;
    }
  }
}

body.node-type-article {//joint article page
  .article-joints .views-field-field-article-body .flexslider {
    max-height: none;
    padding-bottom: 40px;
    ul.slides img {
      display: block;
      border: none;
      float: none !important;
      margin: 0 auto;
    }
  } 
}

body.node-type-webform {//sign up page
  .field-name-body .field-items {
    background-position: 100% 50%;
  }
}

body {//act vs. rtx page
    &.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020,
    &.uuid-02aee8da-a9be-4e68-a344-a448903c273b,
    &.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 {
    .green-block,
    .blue-block {
      width: 100%;
      float: none;
    }
  }
}


body.front .pane-topic-articles, #block-system-main {
  margin-bottom: 0;
}

.front, .not-front {
  .pane-polls .pollfield-row {
    display: table !important;
    .pollfield-percent {
      min-width: 35px;
      padding-bottom: 0;
      vertical-align: bottom;
      text-align: right;
    }
  }
  .pane-polls .pollfield-row .barcell,
  .pane-polls .pollfield-row .barcell .bar {
    width: 100%;
  }
} 
