
// _base.scss imports _custom.scss and other partials.
@import "base";
@import "_global_vars.scss";
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the default font size on small devices */
html {
  font-size: 112.5% !important;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  #page > div {
    padding: 0;
  }
}

.pane-page-logo {
  cursor: pointer;
}

.pane-page-logo .block-inner {
  float: left;
}

/* open menu "hamburger" icon */
#toggle-menu {
  width: 4em;
  margin-top: 10px;
}

#toggle-menu-wrapper {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 3em;
  height: 1.5em;
  float: left;
  display: block;
  input {
    display: none;
  }
  p {
    display: block;
  }
 }
#toggle-menu-wrapper label {
  text-indent: -9999px;
  overflow: hidden;
}
#toggle-menu-wrapper label:before {
  content: '\f0c9';
  font-size: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-family: "FontAwesome";
  display: block;
  cursor: pointer;
  width: 2em;
  background-color: #48abbe;
  text-indent: 0;
  text-align: center;
  color: white;
  border-radius: 2px;
  float: left;
  //margin-top: -10px;
  //content: "\2261";
  //display: block;
  //width: 95px;
  //height: 64px;
  //background-color: red;
}

div.pane-menu-menu-social-links {
  display: none;
}

/* when the mobile menu slides open, it displaces the rest of the page */
body #page {
  margin-left: 0;
}

body.menu-open #page {
  @include transform(translate3D(80%,0,0));
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* position and color the mobile menu */
#header {
  padding: 14px;
  border-bottom: 3px solid $yellow-bg;
  @include box-shadow(0px 5px 6px 0px rgba(0, 0, 0, 0.2));
  overflow: hidden;
  .region-header {
    float: right;
    overflow: hidden;
  }
  .block {
    margin: 0;
  }
  .panel-separator {
    display: none;
  }
  #logo, #site-name {
    float: left;
    line-height: normal;
  }
  .pane-page-slogan {
    margin-left: 48px;
  }
}
#header #block-panels-mini-header-menus {
  position: static;
  margin: 0;
}

#header div.pane-menu-menu-header-links,
#header div.pane-menu-menu-topics-menu {
  position: absolute;
  z-index: 1;
  background-color: $blue-bg;
  width: 0px;
  overflow: hidden;
  left: -9999px;
  top:0;
}

#header div.pane-menu-menu-topics-menu {
  margin-top: $mobile-margin;
}

.block,
.front .hp-meet-experts,
.view-articles .views-row {
  margin-bottom: 1%;
  .views-row {
    margin-bottom: 0;
  }
}

/*Mobile search results page */
body.parameter-body-value {
  #header {
    padding-left: 0;
    padding-right: 0;
    div.pane-menu-menu-topics-menu {
      margin-top: 0;
    }
    .blue-corner {
      .views-field-field-icon .field-content {
          float: right;
          max-width: 30%;
      }
      .views-field-name {
        font-size: 0.6em;
      }
    }
    #logo {
       margin-left: 30%; 
    }
    div#mini-panel-header_menus div.pane-views.pane-articles .view-articles {
      .view-content {
        margin-left: 0;
      }
      .views-row.views-row {
        width: 47%;
        &.views-row-odd {
          margin-right: 5%;
        }
        &.views-row-even {
          margin-right: 0;
        }
      }
    }
  }
}

#header #views-exposed-form-articles-search-articles #edit-body-value-wrapper .form-type-textfield.form-type-textfield.form-type-textfield.form-type-textfield {
  margin-top: 6px;
}

#header div.pane-menu-menu-header-links {
  background-color: #949494;
}

body.menu-open #header div.pane-menu-menu-header-links,
body.menu-open #header div.pane-menu-menu-topics-menu,
body.menu-processed #header div#mini-panel-header_menus div.pane-views.pane-articles {
  width: 80%;
  left: 0;
}

body.menu-processed #header div.pane-menu-menu-header-links,
body.menu-processed #header div.pane-menu-menu-topics-menu,
body.menu-processed #header div#mini-panel-header_menus div.pane-views.pane-articles {
  left: -80%;
  transition: all 0;
}

body #header div.pane-menu-menu-header-links {
  margin-top: $mobile-menu-height;
}

body.parameter-body-value #header div.pane-menu-menu-header-links {
  margin-top: 323px;
}

div.pane-menu-menu-header-links ul.menu li:before,
div.pane-menu-menu-header-links ul.menu li *,
div.pane-menu-menu-topics-menu ul.menu li:before,
div.pane-menu-menu-topics-menu ul.menu li * {
  color: white;
}

div.pane-menu-menu-header-links ul.menu li,
div.pane-menu-menu-topics-menu ul.menu li {
  border-bottom: 1px solid white;
}

/* mobile menu icons */
#header div {
  &.pane-menu-menu-header-links ul.menu,
  &.pane-menu-menu-topics-menu ul.menu {
    li {
      &:before {
        font-size: 1.2em;
        margin-top: 6px;
        float: left;
        line-height: 1.5;
        padding: 0 0.2em;
        font-family: "icomoon";
        margin-left: 0.5em;
      }
      &.menu-item-1857.menu-item-1857 {display: block;}
      &.menu-item-1857:before {content: '\e023';}
      &.menu-item-1233:before {content: '\e001';} /*treatment, doctor discussions*/
      &.menu-item-1234:before {content: '\e00E';} /*joint care */
      &.menu-item-1235:before {content: '\e01A'; font-size: 1em;} /*diet & excercise */
      &.menu-item-1236:before {content: '\e001';} /* doctor discussions*/
      &.menu-item-1237:before {content: '\e023'} /*around the home*/
      &.menu-item-1238:before {content: '\e006'} /*relationship & support*/
      &.menu-item-1239:before {content: '\e002'} /*something extra*/
      a,
      a:hover {
        padding-top: 3px;
        font-family: NeoSans-Medium;
        position: absolute;
        left: 4em;
        text-decoration: none;
        font-size: .8em;
      }
    }
  }
  &.pane-menu-menu-header-links ul.menu li {
    &.leaf a:before,
    &.leaf a:hover:before {
      color: #5a5a5a !important;
      display: block;
      position: absolute;
      left: -2.8em;
      width: 2em;
      font-size: 1.3em;
      top: -0.1em;
      text-align: center;
    }
    &.leaf:before {
      position: relative;
      display: block;
      width: 3px;
      height: 10px;
      content: '';
      background-color: white;
      left: 6px;
      top: 5px;
    }
    &.menu-item-2346:before {display:none;} /*meet the experts*/
    &.menu-item-1230:before {} /*ra 101*/
    &.menu-item-3739:before {top: 6px; left: 7px;} /*Sign up*/
  }
}

/* identical height for each item in the mobile menu */
#header ul.menu li {
  height: 2.5em;
  line-height: 2.5;
}

div#mini-panel-header_menus div.pane-views.pane-articles {
  display: block !important; /* we are competing with an inline style here, so !important is the only valid option */
  width: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  height: $mobile-margin;
  .view-header {
    display: none;
  }
  form {
    margin-top: 0 !important;
  }
}

/* Search form */
div#mini-panel-header_menus div.pane-views.pane-articles * {
  max-width: 100%;
  max-height: 100%;
}

div#mini-panel-header_menus div.pane-views.pane-articles .block-inner {
  padding: 10px;
  background: $yellow-bg;
  border: 2px solid orange;
  border-radius: 0;
}

body.menu-open #header div.pane-articles {
  width: 80%;
}

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles {
  background-color: transparent;
  border: 1px solid #ccc;
}

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-body-value-wrapper:before {
  content: '\f002';
  font-family: FontAwesome;
  color: $grey-bg;
  position: absolute;
  font-size: 1.5em;
  padding: 1px 5px;
}

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-body-value-wrapper input[type="text"] {
  background-color: white;
  background-image: none;
  color: $SilverChalice;
  font-size: 1em;
  line-height: 1.8em;
}

div#mini-panel-header_menus div.pane-views.pane-articles #views-exposed-form-articles-search-articles #edit-body-value-wrapper {
  width: 100%;
  background-image: none;
  background-color: white;
}

::-webkit-input-placeholder { color:$SilverChalice; }
::-moz-placeholder { color:$SilverChalice; } /* firefox 19+ */
:-ms-input-placeholder { color:$SilverChalice; } /* ie */
input:-moz-placeholder { color:$SilverChalice; }

/* hide the search toggel button */
#header ul.menu li.menu-item-1232,
div#mini-panel-header_menus div.pane-views.pane-articles .views-submit-button {
  display: none;
}

/* When returning a non-ajax search result */
body.parameter-body-value div#mini-panel-header_menus div.pane-views.pane-articles {
  width: 100%;
  position: static;
  height: auto;
}

div#mini-panel-header_menus div.pane-views.pane-articles .view-articles .views-row.views-row {
  width: 44%;
  margin-bottom: 0;
}

.breadcrumb {
  margin: 5%;
}

#block-system-main {
  margin-bottom: 1%;
  .pane-sign-up  {
    width: 100%;
    height: auto;
    margin-bottom: 1%;
    div {
      height: 100%;
      .signup-block {
        min-height: 180px;
        padding-left: 35%;
        padding-bottom: 40px;
        &.topic {
          background-position: 0 100% !important;
          background-image: url("../images/footer-signup.png");
        }
      }
      &.signup-block div {
        height: auto;
        font-size: 90%;
      }
    }
    float: none;
    .home {
      width: auto;
      height: auto;
    }
  }
}

body.front {//home page styles
    .pane-1.home-page-blocks-wrap {
      height: auto;
      margin: 0;
      overflow: visible;
      .pane-custom.pane-2 {
        display: none;
      }
    }
    .pane-welcome, .pane-sign-up  {
      width: 100%;
      height: auto;
      margin-bottom: 1%;
      div {
        height: 100%;
        .signup-block {
          min-height: 180px;
          padding-left: 35%;
          padding-bottom: 40px;
        }
        &.signup-block div {
          height: auto;
          font-size: 90%;
        }
      }
      float: none;
      .home {
        width: auto;
        height: auto;
      }
    }
    .pane-inspirations img {
      margin: 0 auto;
    }
    .pane-inspirations, .hp-ra101 {
      float: none;
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 1%;
      overflow: hidden;
    }
    .hp-ra101 {
      float: left;
      width: 49%;
      margin-left: 1%;
      .block-inner, .block-content, .view-articles, .view-content, .views-row {
        height: 100%;
        float: none;
      }
      img.image-style-article-home-ra101 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
    .pane-inspirations div {
      height: 100%;
      .view-content {
        background: $yellow-bg;
      }
      .view-footer {
        height: 28px;
        border-top: 1px solid white;
        .insp-share-all {
          position: absolute;
          top: 0;
          right: 34px;
        }
        .rate-widget {
          position: absolute;
          top: 0;
          right: 68px;
        }
      }
    }
    .featured-slider {
      float: none;
      width: auto;
      height: auto;
      ul.slides li {
        position: relative;
        img {
          width: 100%;
        }
      }
      .view-articles {
        height: auto;
      }
      .view-articles .flex-control-nav {
        margin-bottom: 15px;
      }
    }
    .hp-last-articles {
      float: none;
      margin-bottom: 0;
      .view-articles {
        .views-row {
          width: 49%;
          min-height: none;
          margin: 0 0 1% 1%;
          overflow: hidden;
          img {
            // width: auto;
            // max-width: none;
          }
        }
      } 
    }
    .hp-meet-experts {
      float: none;
      width: auto;
      padding: 10px 0;
      a {
        font-size: 150%;
        line-height: normal;
      }
      a:before {
        display: inline-block;
      }
    }
    .poll-pledge-wrap {
      display: table;
      width: 100%;
      float: none;
      padding-bottom: 1%;
      overflow: hidden;
      .pane-polls {
        display: table-cell;
        height: 100%;
        padding: 0;
        width: 48.5%;
        .block-inner {
          padding: 3px 10px 10px;
          .pollfield-percent {
            display: none;
          }
        }
        .pollfield-row .barcell, 
        .pollfield-row .barcell .bar {
          width: 100%;
        }
      }
      .pane-pledges {
        display: table-cell;
        height: 100%;
        width: 48.5%;
      }
    }
    .pane-topic-articles {
      width: auto;
      float: none;
      margin-left: -1%;
      margin-bottom: 0;
      .views-row {
        margin-left: 1%;
        margin-bottom: 1%;
        width: 49%;
        overflow: hidden;
        img {
          width: 100%;
          max-width: none;
        }
        &.views-row-1 {
          overflow: visible;
          margin-top: 35px;
          .popular-label {
            display: block;
            top: -35px;
            font-size: $font-30;
          }
        }
        &.views-row-1, &.views-row-2, &.views-row-3 {
          width: 100%;
          margin-left: 0
        }
        &.views-row-4 {
          margin-left: 1%;
        }
        .views-row {
          width: auto;
          float: none;
          margin: 0;
          min-height: 1%;
        }
        &.views-row-three-after {
          .popular-label {
            display: none;
          } 
        }
        &.views-row-three-after .views-row {
          margin: 0;
          width: auto;
          .views-field-field-image img {
            position: relative;
            left: auto;
            margin: 0;
            max-width: none;
          }
        }
      }
    }
  }

//experts page 
.view-experts {
  width: auto;
  .views-row {
    float: none;
    width: auto;
    height: auto;
    margin-right: 0;
    margin-bottom: 1%;
    &.views-row-0 {
      background-position: 10px 50%;
      background-size: 20% auto;
      padding: 20px 0px 20px 20%;
      height: auto;
      width: auto;
      font-size: 46px;
    }
    .views-field-nothing {
      position: relative;
      width: auto;
      background-color: transparent;
    }
    .views-field-field-image {
      position: relative;
      float: right;
      width: 30%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .expert-overlay {
      position: relative;
      background: $green-bg;
      background-image: none;
      width: auto;
      margin-right: 32%;
      padding: 0;
      overflow: hidden;
      &:hover, &.notouch:hover, &.hover {
        background-image: none;
      }
      .views-field-title {
        text-align: left;
        background-color: $dgreen-bg;
        margin-top: 0;
        padding: 5px 10px;
        max-width: none;
      }
      .expert-collapsed {
        display: none;
      }
      .expert-expanded {
        display: block;
        padding: 0;
        .expert-full-bio {
          background-color: transparent;
          border-top: 1px solid white;
        }
      }
    }
  } 
}
.node-type-expert {//expert detail page
  .landing-breadcrumb {
    padding: 5% 0;
  }
  #block-system-main .region-inner {
    @include display-box;
    @include box-orient(vertical);
    @include box-align(stretch);
    width: 98%;
    padding: 0 1%;
    .pane-experts {
      @include box-ordinal-group(2);
      float: none;
      width: auto;
      .views-field-title {
        display: none;
      }
    }
    .pane-articles {
      @include box-ordinal-group(3);
    }
    .title-video-exp-wrapp {
      float: none;
    }
    .pane-node-title {
      position: relative;
      display: block;
      background-color: $green-bg;
      padding: 2% 5%;
      font: $expert-name;
      color: white;
      text-align: center;
      text-transform: uppercase;
    }
    .pane-node-field-expert-video {
      &.block, .block {
        margin-bottom: 0;
      }
      float: none;
      iframe {
        width: 100%;
      }
    }
    .pane-custom.pane-3 {
      display: none;
    }
    .view-display-id-expert_detailed {
      float: none;
      width: auto;
      height: auto;
    }
  }
  .view-articles {
    .view-content {
      width: auto;
    }
   .views-row {
      float: none;
      margin-right: 0;
      min-height: auto;
      img {
        width: 100%;
        height: auto;
      }
    } 
  }
}

.page-recipes, .node-type-recipe {//recipes page
  #block-system-main {
    .pane-virtual-cookbook {
      padding: 10px 5% 10px 45px;
      font-size: 80%;
    }
    .pane-menu-menu-recipe-menu, .pane-views-exp-recipes-recipes-page {
      float: none;
      width: auto;
      margin-bottom: 0px;
    }
    .region-two-50-first .pane-node-field-image-original {
      display: block;
      text-align: center;
      img {
        display: inline-block;
        margin: 0 auto;
      }
    }
    .pane-menu-menu-recipe-menu ul.menu {
      margin-left: -.2%;
      & > li.menu-depth-1 {
        position: relative;
        width: 49.8%;
        margin: 0 0 0 .2%;
        & > a,
        & > span.nolink {
          font-size: 80%;
          border-left: 1px solid white;
          border-bottom: 1px solid white;
        }
        ul {
          width: 98.8%;
          ul {
            width: 100%;
          }
        }
        &:nth-child(2) {
          z-index: 99;
        }
        &:nth-child(3) {
          z-index: 98;
        }
        &:nth-child(4) {
          z-index: 97;
        }
      }
    }
    .pane-views-exp-recipes-recipes-page {
      #edit-body-value-wrapper {
        float: none;
      }
      position: relative;
      width: 100%;
      .form-type-textfield {
        width: auto;
        padding: 0 50px 0 16px;
      }
      .views-submit-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .view-recipes {
      width: 100%;
      .attachment {
        margin: 15px 0 20px 2%;
      }
      .view-content {
        margin-left: -.5%;
      }
      .views-row {
        width: 49%;
        height: auto;
        margin: 0 0 1% 1%;
        padding: 0;
        &.views-row-0 {
          img {
            display: block;
          }
        }
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        .views-field-title {
          width: 100%;
          padding: 0;
          span {
            display: block;
            padding: 10px;
            line-height: normal;
            a {
              font-size: $font-10;
              line-height: normal;
            }
          }
        }
      }
    }
  }
} 

.page-taxonomy-term {//topic page
  .topic-info, .panel-pane.pane-sign-up {
    width: 100%;
    float: none;
    margin-bottom: 8px;
    .topic {
      width: auto;
      min-height: 200px;
    }
  }
  .panel-pane.panel-pane.featured-article {
    width: 100%;
    max-height: none;
    margin: 0;
    float: none;
    .block-inner .views-row {
      float: none;
      margin: 0 0 1%;
      .views-field-field-image img {
        max-width: none;
        width: 100%;
      }
    }
  }
  .pane-experts {
    width: 100%;
    max-height: none;
    float: none;
    .view-experts {
      width: auto;
    }
    .views-row, .views-field-field-image {
      width: 100%;
      float: none;
      img {
        width: 100%;
        max-height: none;
      }
    }
  }
  .pane-polls {
    width: auto;
    float: none;
  }
  .topic-articles {
    width: auto;
    margin-left: -1%;
    .views-row {
      width: 49%;
      height: auto;
      margin-left: 1%;
      margin-bottom: 1%;
      margin-right: 0;
      min-height: 1%;
      img {
        width: 100%;
      }
    }
  }
}

body.topic-landing {//topic landing page
  .pane-4.topic-meet-experts {
    display: block;
  }
  .pane-2.topic-meet-experts {
    display: none;
  }
  .topic-meet-experts {
    float: none;
    width: 100%;
    padding: 10px 0;
    clear: both;
    margin: 10px 0;
    a {
      font-size: 150%; 
      line-height: normal;
      &:before {
        display: inline-block;
      }
    }
  }
}

body.node-type-article {//joint article page
  .article-joints .views-field-field-article-body .flexslider {
    max-height: none;
    padding-bottom: 40px;
    ul.slides img {
      display: block;
      border: none;
      float: none !important;
      margin: 0 auto;
    }
  } 
}

//node type article
.node-type-article {
  .view-display-id-article_detailed {
    width: auto;
    .views-row {
      @include display-box;
      @include box-orient(horizontal);
      @include box-align(stretch);
      float: none;
      width: 100%;
      min-height: 1%;
      .views-field {
        float: none;
      }
      .views-field-title {
        @include box-flex(5);
        width: auto;
        min-height: 1%;
        padding: 10px;
        font-size: 150%;
        background-color: $Atlantis;
        @include box-ordinal-group(1);
        margin-right: 0;
        line-height: normal;
      }
      .views-field-field-expert {
        position: relative;
        width: auto;
        height: auto;
        @include box-flex(1);
        @include display-box;
        @include box-orient(horizontal);
        @include box-pack(center);
        @include box-align(center);
        background-color: $Clover;
        @include box-ordinal-group(2);
      }
      .pane-node-field-image {
        border: none;
      }
      .views-field-field-icon, .views-field-field-image-3 {
        display: none;
      }
    } 
  }
  .pane-node-field-article-body {
    width: auto;
    float: none;
    padding: 10px;
  }
  .related-articles {
    float: none;
    .views-row {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  
  .pager_wrapper {
    position: relative;
    width: 100%;
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    overflow: hidden;
  }
  .info_text {
    @include display-box;
    @include box-flex(5);
    line-height: 48px;
    background-color: $Spicy-Mustard;
    color: white;
    padding: 0 10px;
  }

  .page_navigation {
    position: relative;
    display: block;
    float: right;
    a.page_link, span {
      display: none !important;
    }
    a.previous_link, a.next_link {
      margin: 0;
      padding: 0 40px;
      border: none;
      border-left: 1px solid $Spicy-Mustard;
      line-height: 48px;
      background-color: $Mandalay;
      color: white;
      text-transform: uppercase;
      &:after {
        content: "";
      }
    }
  }
}
body.node-type-recipe {//recipe detailed 
  .two-50 .region-two-50-first, .two-50 .region-two-50-second {
    width: auto;
    float: none;
  }
  #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average {
    //float: right;
  }
  .similar-recipes {
    width: auto;
  }
  .region-two-50-second .pane-node-field-image-original {
    display: none;
  }
}

body.node-type-webform {//sign up page
  .field-name-body .field-items {
    background: none;
    margin: 5%;
    font-size: 80%;
  }
  #webform-component-conditional-information--current-treatment {
    .sticky-header {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
    }
  }
  #webform-component-content-information #webform-component-content-information--year-of-birth label {
    position: relative;
    top: 2px;
    right: auto;
    margin-right: 20px;
    float: left;
    display: block;
    line-height: 30px;
    font-weight: normal;
    color: $Dove-Gray;
  }
  .webform-client-form, #webform-component-conditional-information, #webform-component-content-information legend {
    font-size: 80%;
  }
  .fieldset-wrapper {
    padding: 0 5% 5%;
    #webform-component-content-information--first-name, #webform-component-content-information--last-name, #webform-component-content-information--year-of-birth {
      float: none;
      width: auto;
      #uniform-edit-submitted-content-information-year-of-birth {
        float: none;
      }
      .description {
        color: $Dove-Gray;
        font-style: italic;
        clear: both;
        text-align: right;
        padding-top: 20px;
      }
    }
    #webform-component-content-information--street-address-1, #webform-component-content-information--street-address-2, #webform-component-content-information--zip, #webform-component-content-information--email {
      float: none;
      width: auto;
    }
  }
}
.view-display-id-related_articles {
  width: auto;
  float: none;
  //margin-left: -1%;
  .views-row {
    float: left;
    width: 49%;
    margin-left: 1%;
    margin-right: 0;
    img {
      width: 100%;
    }
  }
}