// _base.scss imports _custom.scss and other partials.
@import "base";
@import "_global_vars.scss";
@import "compass/css3";
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

@media screen and (max-width: 980px) {   
  body #page > div {
    padding: 0;
  }
   #footer {
     #mini-panel-footer_menus {
       @include display-box;
       @include box-orient(vertical);
       @include box-align(stretch);
       @include box-direction(reverse);
       width: 100%;
       &.at-panel .region {
         position: relative;
         width: 100%;
         padding: 0;
       }
       &[class~="-first"] {
        .region-inner {
          padding-left: 136px;
        }
       }
       
     }
     .view-experts .views-row.views-row-0 img {
       display: none;
     }
     .region-inner {
       width: 100%;
     }
     #mini-panel-footer_menus {
    
        .region-two-66-33-first {
          max-height: none;
          .region-inner {
            padding: 20px 0;
            overflow: hidden;
          }
          .pane-menu-menu-copyright-menu {
            margin-left: 5%;
          }
          .pane-menu-menu-footer-menu {
            width: 15%;
            margin-left: 5%;
          }
        }
        .pane-menu-menu-topics-menu {
          li {
            width: 33%;
          }
        }
      }
   }
   #footer #mini-panel-footer_menus .region-two-66-33-first .pane-menu-menu-topics-menu li {
    border: none;
    width: 45%;
    line-height: 1;
    margin-left: 5%;
    padding-bottom: 2px;
   }
 }

 @media screen and (max-width: 480px) {
  #footer {
     #mini-panel-footer_menus {
       .region-two-66-33-second {
        min-height: 170px;
        background-position: 0 100%;
        background-size: auto;
        .panel-pane.sign-up-info > div {
          float: right;
          width: 60%;
          padding-bottom: 50px;
          font-size: 92%;
         }
       }
     }
   }
}
@media screen and (max-width: 320px) {
 #footer {
   #mini-panel-footer_menus {
     .region-two-66-33-second {
      .panel-pane.sign-up-info > div {
        width: 60%;
        font-size: 88%;
       }
     }
   }
  } 
}
@media only screen and (min-width:641px) and (max-width: 1000px) {//res.desctop
  div#mini-panel-header_menus div.pane-menu-menu-social-links {
  min-width: auto !important;
  width: auto !important;
  ul.menu {
    margin-right: 8px;
  }
 }
  div#mini-panel-header_menus div.pane-views.pane-articles {
    margin: 0;
    padding: 0;
    .view-articles {
      margin-top: 1%;
      margin-left: -1%;
      .views-row {
        width: 32%;
        margin: 1% 0 0 1%;
        .views-field-field-image img {
          width: 100%;
        }
        .overlay .views-field-title {
          font-size: 120%;
        }
      }
    }
  }
  #block-system-main .pane-sign-up {
    .signup-title {
      font-size: $font-28;
    }
    .signup-description {
      font-size: $font-18;
    }
    .signup-button a {
      width: auto;
      @include box-shadow(rgba(255,255,255, 1) 0 1px 0 0 inset, 
               rgba(254,222,134, 1) 0 -1px 0 0 inset, 
               rgba(254,222,134, 1) 1px 0 0 0 inset, 
               rgba(254,222,134, 1) -1px 0 0 0 inset, 
               rgba(127,178,57, 1) 0 1px 0 0);
      background-color: rgb(254,216,112); // Old browsers
      @include filter-gradient(#fed870, #ffc425, vertical); // IE6-8
      $experimental-support-for-svg: true;
      @include background-image(linear-gradient(top,  rgba(254,216,112,1) 0%,rgba(255,196,37,1) 30%));
      @include border-radius(6px);
      
      border:1px solid #5f9c32;
      border-bottom:1px solid #577a26;
      
      display: block;
      color: white;
      font-family: "NeoSans-Regular";
      font-size: $font-25;
      padding:5px 15px;
      text-decoration:none;
     
      @include text-shadow(rgba(210,173,70, 1) 0px 1px 0px);
      bottom: -60px;
      &:hover {
        background-color: rgb(255,197,43); // Old browsers
        @include filter-gradient(#ffc52b, #fedc81, vertical); // IE6-8
        $experimental-support-for-svg: true;
        @include background-image(linear-gradient(top,  rgba(255,197,43,1) 0%,rgba(254,220,129,1) 100%));
        background-position: 0;
      }
    }
  }
   div#mini-panel-header_menus div.region-inner div.pane-menu-menu-header-links {
     width: 100%;
     margin: 14px 0 0 0;
     ul.menu {
       margin-left: -0.28%;
       li {
         width: 24.72%;
         line-height: 38px;
         margin-left: 0.28% !important;
         margin-bottom: 3px !important;
         background-color: rgb(112,112,112);
         $experimental-support-for-svg: true;
         vertical-align: middle;
         a:before, span:before {
           display: inline;
           color: white;
           vertical-align: middle;
           padding-right: 10px;
         }
         a, a:hover, *:hover {
           color: white;
           text-decoration: none;
         }
       }
     }
   }
   #footer {
     #mini-panel-footer_menus {
       .region-two-66-33-first {
         .pane-menu-menu-topics-menu {
          width: 45%;
           li {
             float: left;
             width: 33%;
           }
         }
        .pane-menu-menu-copyright-menu {
          // margin-left: 5%;
        }
       }
     }
   }
  body.page-taxonomy-term-5 {

    #page > div {
      padding: 0;
      .panel-pane.topic-articles {
        width: auto;
      }
    }
  }

  body.front {//home page styles
    div.pane-menu-menu-header-links ul.menu li a:before, 
    div.pane-menu-menu-header-links ul.menu li span:before {
      // font-size: 1.3em;
    }
    .pane-1.home-page-blocks-wrap {
      height: 750px;
      margin: 0;
      overflow: hidden;
      .pane-custom.pane-2 {
        display: none;
      }
    }
    .pane-welcome {
      width: 49.5%;
      height: 32%;
      margin-bottom: 1%;
      .welcome-block {
        padding: 5px 14px;
        .welcome-date {
          font-size: $font-22;
          margin-bottom: 5px;
          text-align: center;
        }
        .welcome-title {
          font-size: $font-28;
          line-height: 1.1;
        }
        .welcome-description {
          font-size: $font-18;
          line-height: normal;
        }
      } 
    }
    .pane-sign-up {
      width: 49.5%;
      height: 49%;
      margin-bottom: 1%;
      div {
        height: 100%;
        .signup-block {
          padding-left: 5%;
        }
        &.signup-block div {
          height: auto;
        }
      }
      float: right;
      .home {
        width: auto;
        height: 100%;
      }
    }
    .pane-inspirations, .hp-ra101 {
      float: left;
      width: 49.5%;
      height: 32%;
      margin-right: 0;
      margin-bottom: 1%;
      overflow: hidden;
    }
    .social-wrapper {
      width: 100%;
      margin-left: 1px;
    }
    .pane-inspirations {
      position: relative;
      overflow: visible;
      z-index: 90;
      img {
        margin: 0 auto;
      }
      .view-footer {
        .social-wrapper .social-item, a.twitter-share-button, a.pinit {
          width: 33.1%;
        }  
        .social-wrapper .social-item a {
          width: 100%;
        }
      }
    } 
    .hp-ra101 {
      .block-inner, .block-content, .view-articles, .view-content, .views-row {
        height: 100%;
        float: none;
      }
      img.image-style-article-home-ra101 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
    .pane-inspirations div {
      height: 100%;
      .view-content {
        background: $yellow-bg;
      }
      .view-footer {
        height: 28px;
        margin-top: -28px;
        border-top: 1px solid white;
        .insp-share-all {
          position: absolute;
          top: 0;
          right: 34px;
        }
        .rate-widget {
          position: absolute;
          top: 0;
          right: 68px;
        }
      }
    }
    .featured-slider {
      float: right;
      width: 49.5%;
      height: 48.5%;
      .block-inner, .block-content, .view-content, .flexslider, .flex-viewport, ul.slides, ul.slides li {
        height: 100%;
      }
      ul.slides li {
        position: relative;
        img {
          max-width: none;
        }
      }
      .view-articles {
        height: 93.5%;
      }
      .view-articles .flex-control-nav {
        margin-bottom: 4px;
      }
    }
    .hp-last-articles {
      float: none;
      .view-articles {
        margin-left: -1%;
        .views-row {
          width: 32.32%;
          margin-right: 0;
          margin-left: 1%;
          overflow: hidden;
          img.image-style-article-home {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .hp-meet-experts {
      float: none;
      width: auto;
      padding: 10px 0;
      a {
        font-size: 300%;
        line-height: normal;
      }
      a:before {
        display: inline-block;
      }
    }
    .poll-pledge-wrap {
      display: table;
      width: 100%;
      height: 150px;
      float: none;
      padding-bottom: 20px;
      overflow: hidden;
      h2.pane-title.block-title {
        font-size: $font-30;
        line-height: normal;
        padding-bottom: 10px;
        background: none;
      }
      .pane-polls {
        display: table-cell;
        height: 100%;
        padding: 0;
        width: 49%;
        input.form-checkbox, input.form-radio {
          vertical-align: baseline;
        }
        .block-inner {
          position: relative;
          padding: 3px 20px 2px;
          h2.pane-title.block-title {
            padding-bottom: 5px;
            &:after {
              content: "\e00b";
              font-family: "icomoon";
              // position: absolute;
              // top: 0px;
              // right: 10px;
              vertical-align: middle;
              font-size: $icon-poll;
              margin-left: 30%;
            }
          }
          .pollfield-title {
            font-size: $font-24;
            line-height: normal;
          }
          .pollfield-row .text {
            font-size: $font-22;
            line-height: normal;
          }
          .form-submit {
            font-size: $font-22;
            &.back-poll {
              font-size: $font-22;
              margin-top: 20px;
            }
          } 
        }
        .form-item label {
          font-size: $font-22;
        }
      }
      .pane-pledges {
        display: table-cell;
        height: 100%;
        width: 49%;
        .block-inner {
          position: relative;
          padding: 20px 25px;
          h2.pane-title.block-title {
            padding-right: 60%;
            &:after {
              content: "\e00c";
              font-family: "icomoon";
              position: absolute;
              top: 0px;
              right: 20px;
              font-size: $icon-pledge;
            }
          }
          .rate-count {
            font-size: 22px;
              .pledge-count {
              font-size: 42px;
              line-height: normal;
              div {
                font-size: 64px;
                line-height: 60px;
              }
            } 
          }
          .rate-button {
            display: block;
            font-size: $font-22;
            margin-top: 20px;
          } 
        }
      }
    }
    .pane-topic-articles {
      width: auto;
      float: none;
      margin-left: -1%;
      margin-right: 0;
      .views-row {
        margin-left: 1%;
        margin-bottom: 1%;
        width: 49%;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
        &.views-row-1, &.views-row-2, &.views-row-3 {
          width: 32%;
        }
        &.views-row-4 {
          margin-left: 1%;
        }
        .views-row {
          width: auto;
          float: none;
          margin: 0;
          min-height: auto;
        }
        &.views-row-three-after .views-row {
          margin: 0;
          width: auto;
          .views-field-field-image img {
            position: relative;
            left: auto;
            margin: 0;
            max-width: none;
          }
        }
      }
    }
  }
  .view-articles .views-row .blue-corner .views-field-name {
    font-size: $font-8;
  }
  body.node-type-recipe {//recipe detailed
    .two-50 .region-two-50-first, .two-50 .region-two-50-second {
      width: auto;
      float: none;
    }
    #block-system-main .pane-ra-alters-ra-alters-social-links .block-content .rate-average {
      // float: right;
    }
    .similar-recipes {
      width: auto;
    }
    .region-two-50-first .pane-node-field-image-original {
      display: block;
      img {
        margin: 0 auto;
      }
    }
    .region-two-50-second .pane-node-field-image-original {
      display: none;
    }
  }
  body.node-type-article {//page article detailed
    .pane-node-field-article-body {
      width: auto;
      float: none;
      padding: 0 5%;
    }
    .related-articles, .view-display-id-related_articles {
      width: auto;
      float: none;
      //margin-left: -1%;
      .views-row {
        float: left;
        width: 32%;
        margin-left: 1%;
        margin-right: 0;
        img {
          width: 100%;
        }
      }
    }
  }
  body.topic-landing {//topic landing page
    .pane-4.topic-meet-experts {
      display: block;
    }
    .pane-2.topic-meet-experts {
      display: none;
    }
    .article-poll-expert-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;
      clear: both;
      .pane-articles.featured-article {
        position: absolute;
        top: 0;
        left: 0;
        width: 49.5%;
        height: 100%;
        max-height: none;
        .block-inner, .block-content, .view-articles, .view-content, .views-row, .views-field-field-image, .field-content {
          height: 100%;
          overflow: hidden;
          img.image-style-article-featured {
            width: auto !important;
            height: 100%;
          }
        }
      }
      .pane-polls {
        width: 46.4%;
        float: right;
      }
      .view-articles .views-row {
        float: none;
        position: static;
      }
    }
    .topic-meet-experts {
      float: none;
      width: 100%;
      padding: 10px 0;
      clear: both;
      margin: 10px 0;
      a {
        font-size: 300%; 
        line-height: normal;
        &:before {
          display: inline-block;
        }
      }
    }
  }

  .pane-polls {
    h2.pane-title.block-title {
      font-size: $font-30;
      line-height: normal;
      padding-bottom: 10px;
      background: none;
    }
    input.form-checkbox, input.form-radio {
      vertical-align: baseline;
    }
    .block-inner {
      position: relative;
      padding: 3px 20px 2px;
      h2.pane-title.block-title {
        padding-bottom: 5px;
        &:after {
          content: "\e00b";
          font-family: "icomoon";
          // position: absolute;
          // top: 0px;
          // right: 10px;
          vertical-align: middle;
          font-size: $icon-poll;
          margin-left: 30%;
        }
      }
      .pollfield-title {
        font-size: $font-24;
        line-height: normal;
      }
      .pollfield-row .text {
        font-size: $font-22;
        line-height: normal;
      }
      .form-submit {
        font-size: $font-22;
        &.back-poll {
          font-size: $font-22;
          margin-top: 20px;
        }
      } 
    }
    .form-item label {
      font-size: $font-22;
    }
  }
}

@media only screen and (min-width:641px) and (max-width:768px) {//res.tablet

  .view-experts .views-row.views-row-0 {
    font-size: 38px;
  }
  body.node-type-webform {//sign up page
    .field-name-body .field-items {
      background: none;
    }
  }

}

@media only screen and (max-width:480px) {//res.mobile
  .view-articles .views-row .overlay .views-field-title {
    font-size: 10px;
  }
  .views-field-field-image img {
    max-width: none;
  }
  body.front .hp-ra101 img.image-style-article-home-ra101 {
    width: auto;
    height: 100%;
  }
  body.front .featured-slider ul.slides li {
    min-height: 1%;
  }
  body.front .featured-slider ul.slides li img {
    width: 100%;
    max-width: none;
  }
  #block-system-main {
    // font-size: 10px !important;
    .pane-ra-alters-ra-alters-social-links .block-content {
      a, & .rate-average, & .social-item {
        width: 19%;
        margin: 0 0 0 1%;
        text-indent: -9999px !important;
        background-position: 50% 50% !important;
        &:after {
          text-indent: 0 !important;
          width: 100%;
          right: 0 !important;
          text-align: center;
        }
      }
      .social-item a {
        width: 100%;
      }
      .rate-widget {
        background-position: 90% 50% !important;
        text-indent: 0 !important;
        .rate-wrapper {
          display: none;
        }
      }
    }
  }
  .view-experts .views-row.views-row-0 {
    font-size: 24px;
    padding: 0 0 0 20%;
  }
  #site-name {
    font-size: 70%;
  }
  .pane-page-slogan {
    font-size: 90%;
  }
  #footer {
     #mini-panel-footer_menus {
       .region-two-66-33-first #copyright {
        margin-left: 5%;
       }
       .region-two-66-33-second {
        min-height: 170px;
        height: auto;
        background-position: -20px 100%;
        background-size: auto 70%;
        overflow: hidden;
        .sign-up-info {
          overflow: hidden;
        }
        .sign-up-info > div {
          float: right;
          width: 60%;
          padding-bottom: 50px;
         }
       }
     }
   }
  body.node-type-article {//page article detailed
    #block-system-main {
      .pane-node-field-image-original img {
        width: 100%;
      }
      .region-one-main > .region-inner {
        @include display-box;
        @include box-orient(vertical);
        position: relative;
        width: 100%;
      }
      .pane-ra-alters-ra-alters-social-links {
        overflow: visible;
        @include box-ordinal-group(1);
      }
      .related-articles {
        @include box-ordinal-group(2);
      }
    }
  }
.view-display-id-related_articles {
    width: auto;
    float: none;
    //margin-left: -1%;
    .views-row {
      float: none;
      width: 100%;
      margin: 0 0 1.5%;
      img {
        width: 100%;
      }
    }
  }
}

body {//act vs. rtx page
    &.uuid-4e9b0c06-ad2d-4abb-a96f-b14239093020,
    &.uuid-02aee8da-a9be-4e68-a344-a448903c273b,
    &.uuid-9ba546aa-23b5-49d6-b658-55f36a4c3f92 {
    .green-block,
    .blue-block {
      width: 100%;
      float: none;
    }
  }

}

@media screen and (max-width: 320px) {
  #site-name {
    font-size: 60%;
  }
  #footer {
     #mini-panel-footer_menus {
       .region-two-66-33-second {
        background-position: -20% 100%;
        background-size: auto 80%;
       }
     }
   }
}

@media screen and (orientation: portrait) {
  #webform-component-conditional-information--current-treatment {
    width: 249px;
    overflow-x: scroll;
  }
}